## Vektor dalam Bahasa R

#### [Berlatih Membuat Vectors - Praktikum](https://academy.dqlab.id/main/livecode/344/725/3756?pr=0)

In [3]:
#buat vector bernama my_numeric yang berisi angka 1 - 10
my_numeric <- c(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [4]:
my_numeric

 [1]  1  2  3  4  5  6  7  8  9 10

In [5]:
#buat vector bernama my_color yang berisi 'merah','kuning','hijau','biru','ungu'
my_color <- c('merah', 'kuning', 'hijau', 'biru', 'ungu')

In [6]:
my_color

[1] "merah"  "kuning" "hijau"  "biru"   "ungu"

In [7]:
#buat vector bernama my_logical yang berisi FALSE FALSE TRUE FALSE secara berurutan
my_logical <- c(FALSE, FALSE, TRUE, FALSE)

In [8]:
my_logical

[1] FALSE FALSE  TRUE FALSE

#### [Membuat Vector dengan Menggunakan Sequential Numeric Vectors - Praktikum](https://academy.dqlab.id/main/livecode/344/725/3758?pr=0)

In [9]:
#Buat Vector Bernama "my_vector" yang Berisi Angka 1 - 25 menggunakan sequential numeric vector
my_vector <- c(1:25)

In [10]:
#Tampilkan isi dari my_vector
my_vector

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

#### [Membuat Vector Menggunakan seq() dan rep() - Praktikum](https://academy.dqlab.id/main/livecode/344/725/3760?pr=0)

In [11]:
#vector_seq berisi angka 1 - 2 dengan interval 0.2
vector_seq <- seq(1, 2, 0.2)
vector_seq

[1] 1.0 1.2 1.4 1.6 1.8 2.0

In [12]:
#my_vector berisi "Belajar", "Data Science", "di DQLab"
my_vector <- c("Belajar", "Data Science", "di DQLab")
my_vector

[1] "Belajar"      "Data Science" "di DQLab"

In [13]:
#vector_rep berisi perulangan my_vector sebanyak 3 kali
vector_rep <- rep(my_vector, 3)
vector_rep

[1] "Belajar"      "Data Science" "di DQLab"     "Belajar"      "Data Science"
[6] "di DQLab"     "Belajar"      "Data Science" "di DQLab"

## Ayo Bantu Andra!

#### [Berapa Jam Kerja Andra Selama 5 Hari Ini? - Praktikum](https://academy.dqlab.id/main/livecode/344/726/3761?pr=0)

In [14]:
#Masukkan nama hari dari Senin - Jumat
nama_hari <- c("Senin", "Selasa", "Rabu", "Kamis", "Jumat")

In [15]:
nama_hari

[1] "Senin"  "Selasa" "Rabu"   "Kamis"  "Jumat"

In [16]:
#Masukkan jam kerja berurutan dari jam kerja di hari senin
jam_kerja <- c(8, 7.5, 10, 7, 7.5)

In [17]:
jam_kerja

[1]  8.0  7.5 10.0  7.0  7.5

#### [Memberikan Nama Pada Tiap Element Vector - Praktikum](https://academy.dqlab.id/main/livecode/344/726/3762?pr=0)

In [18]:
#Masukkan nama hari dari Senin - Jumat
nama_hari <- c("Senin","Selasa","Rabu","Kamis","Jumat")

In [19]:
#Masukkan jam kerja berurutan dari jam kerja di hari senin
jam_kerja <- c(8, 7.5, 10, 7, 7.5)

In [20]:
#Memberikan nama pada vector jam_kerja
names(nama_hari) <- jam_kerja

In [22]:
#Tampilkan isi jam_kerja sekarang
nama_hari

       8      7.5       10        7      7.5
 "Senin" "Selasa"   "Rabu"  "Kamis"  "Jumat"

#### [Mencoba Function pada Vector - Praktikum](https://academy.dqlab.id/main/livecode/344/726/3764?pr=0)

In [23]:
#Membuat vector berisi 7 angka dengan menggunakan function rnorm()
my_vector <- rnorm(7, mean = 0, sd = 1)

In [24]:
#Tampilkan isi my_vector
my_vector

[1] -0.6699464 -0.6948858  1.2443052 -0.8199389  0.7660562 -0.7074226  1.0309195

In [25]:
#Aplikasikan function rev(x) pada my_vector
rev(my_vector)

[1]  1.0309195 -0.7074226  0.7660562 -0.8199389  1.2443052 -0.6948858 -0.6699464

In [26]:
#Aplikasikan function max(x) pada my_vector
max(my_vector)

[1] 1.244305

In [27]:
#Aplikasikan function min(x) pada my_vector
min(my_vector)

[1] -0.8199389

In [28]:
#Aplikasikan function mean(x) pada my_vector
mean(my_vector)

[1] 0.02129816

In [29]:
#Aplikasikan function diff(x) pada my_vector
diff(my_vector)

[1] -0.02493938  1.93919096 -2.06424408  1.58599517 -1.47347889  1.73834214

In [30]:
#Aplikasikan function sum(x) pada my_vector
sum(my_vector)

[1] 0.1490871

#### [Berapa Lama Jam Kerja Andra di Minggu ini? - Praktikum](https://academy.dqlab.id/main/livecode/344/726/3765?pr=0)

In [31]:
#Masukkan nama hari dari Senin - Jumat
nama_hari <- c("Senin","Selasa","Rabu","Kamis","Jumat")

In [32]:
#Masukkan jam kerja berurutan dari jam kerja di hari senin
jam_kerja <- c(8, 7.5, 10, 7, 7.5)

In [33]:
#Memberikan nama pada vector jam_kerja
names(jam_kerja) <- nama_hari

In [34]:
#Tampilkan isi jam_kerja sekarang
jam_kerja

 Senin Selasa   Rabu  Kamis  Jumat
   8.0    7.5   10.0    7.0    7.5

In [35]:
#Berapa total jam kerja Andra?
sum(jam_kerja)

[1] 40

In [36]:
#Berapa durasi terlama Andra bekerja di minggu ini?
max(jam_kerja)

[1] 10

In [37]:
#Berapa durasi terlama Andra terlambat di minggu ini?
8 - min(jam_kerja)

[1] 1

In [38]:
#Berapa selisih antara jam kerja terlama dan terpendek Andra?
max(jam_kerja) - min(jam_kerja)

[1] 3

#### [Mencoba Mengakses Element pada Vector - Praktikum](https://academy.dqlab.id/main/livecode/344/726/3768?pr=0)

In [39]:
#Jam kerja Andra di hari Senin
jam_kerja[1]

Senin
    8

In [40]:
#Jam kerja Andra di hari Senin - Rabu
jam_kerja[1:3]

 Senin Selasa   Rabu
   8.0    7.5   10.0

In [41]:
#Jam kerja Andra di hari Senin, Rabu, Jumat
jam_kerja[c(1, 3, 5)]

Senin  Rabu Jumat
  8.0  10.0   7.5

#### [Mengakses Element pada Vector dengan Menggunakan Nama - Praktikum](https://academy.dqlab.id/main/livecode/344/726/3769?pr=0)

In [42]:
#Jam kerja Andra di hari Senin menggunakan nama
jam_kerja["Senin"]

Senin
    8

In [43]:
#Jam kerja Andra di hari Senin, Rabu, dan Jumat menggunakan nama
jam_kerja[c("Senin", "Rabu", "Jumat")]

Senin  Rabu Jumat
  8.0  10.0   7.5

In [44]:
#Selisih jam kerja Andra di hari Senin dengan hari Rabu
jam_kerja["Senin"] - jam_kerja["Rabu"]

Senin
   -2

#### [Mengakses Element pada Vector dengan Kondisi Logical Tertentu - Praktikum](https://academy.dqlab.id/main/livecode/344/726/3770?pr=0)

In [45]:
#Tampilkan jam_kerja yang lebih kecil dibanding dengan jam kerja normal
jam_kerja[jam_kerja < 8]

Selasa  Kamis  Jumat
   7.5    7.0    7.5

In [46]:
#Tampilkan jam_kerja yang lebih besar dibanding dengan jam kerja normal
jam_kerja[jam_kerja > 8]

Rabu
  10

## Mini Project

#### [Mini Project](https://academy.dqlab.id/main/livecode/344/836/3771?pr=0)

In [47]:
#variable sisa_cuti
sisa_cuti <- c(13,10,6,12,7)

In [48]:
#variable nama_karyawan
nama_karyawan <- c("Senja","Aksara","Antara","Kroma","Andra")

In [49]:
#memberi nama pada sisa_cuti
names(sisa_cuti) <- nama_karyawan

In [50]:
sisa_cuti

 Senja Aksara Antara  Kroma  Andra
    13     10      6     12      7

In [51]:
#karyawan yang memiliki sisa cuti lebih dari 10
sisa_cuti[sisa_cuti > 10]

Senja Kroma
   13    12

In [52]:
#karyawan dengan sisa cuti terkecil
min(sisa_cuti)

[1] 6

In [53]:
#rata-rata sisa cuti karyawan
mean(sisa_cuti)

[1] 9.6