## Database

In [1]:
# membuat koneksi

%load_ext sql
%sql sqlite://

'Connected: @None'

#### Tabel **students**

In [2]:
# membuat tabel students
%%sql 

CREATE TABLE if not exists students (
    `StudentID` INT,
    `FirstName` VARCHAR(11),
    `LastName` VARCHAR(10),
    `Email` VARCHAR(25),
    `Semester1` NUMERIC(5, 3),
    `Semester2` NUMERIC(5, 3),
    `MarkGrowth` NUMERIC(4, 3)
);

 * sqlite://
Done.

[]

In [3]:
# mengisi nilai di tabel students
%%sql 

INSERT INTO
    students
VALUES
    (
        1,
        'Jose',
        'Mohit',
        'Jose_Mohit@gmail.com',
        64.55,
        72.6,
        -8.05
    ),
    (
        2,
        'Lala',
        'Karlina',
        'lala_karlina@yahoo.com',
        72.85,
        65.35,
        7.5
    ),
    (
        3,
        'Sultan',
        'Hadi',
        'Sultan_Hadi@gmail.com',
        45.32,
        50.25,
        -4.93
    ),
    (
        4,
        'Jaya',
        'Usman',
        'jaya_usman@yahoo.com',
        86.73,
        77.4,
        9.33
    ),
    (
        5,
        'Anjali',
        'Wijaya',
        'anjali_wijaya@yahoo.com',
        92.25,
        90.75,
        1.5
    );

 * sqlite://
5 rows affected.

[]

#### Tabel **tr_penjualan**

In [4]:
# membuat tabel tr_penjualan
%%sql

CREATE TABLE IF NOT EXISTS tr_penjualan (
    `kode_transaksi` VARCHAR(16),
    `kode_pelanggan` VARCHAR(16),
    `no_urut` INT,
    `kode_produk` VARCHAR(13),
    `nama_produk` VARCHAR(31),
    `qty` INT,
    `total` INT
);

 * sqlite://
Done.

[]

In [5]:
# mengisi nilai di tabel tr_penjualan
%%sql

INSERT INTO
    tr_penjualan
VALUES
    (
        'tr-001',
        'dqlabcust07',
        1,
        'prod-01',
        'Kotak Pensil DQLab',
        5,
        312500
    ),
    (
        'tr-001',
        'dqlabcust07',
        2,
        'prod-03',
        'Flash disk DQLab 32 GB',
        1,
        100000
    ),
    (
        'tr-001',
        'dqlabcust07',
        3,
        'prod-09',
        'Buku Planner Agenda DQLab',
        3,
        276000
    ),
    (
        'tr-001',
        'dqlabcust07',
        4,
        'prod-04',
        'Flashdisk DQLab 32 GB',
        3,
        120000
    ),
    (
        'tr-002',
        'dqlabcust01',
        1,
        'prod-03',
        'Gift Voucher DQLab 100rb',
        2,
        200000
    ),
    (
        'tr-002',
        'dqlabcust01',
        2,
        'prod-10',
        'Sticky Notes DQLab 500 sheets',
        4,
        220000
    ),
    (
        'tr-002',
        'dqlabcust01',
        3,
        'prod-07',
        'Tas Travel Organizer DQLab',
        1,
        48000
    ),
    (
        'tr-003',
        'dqlabcust03',
        1,
        'prod-02',
        'Flashdisk DQLab 64 GB',
        2,
        110000
    ),
    (
        'tr-004',
        'dqlabcust03',
        1,
        'prod-10',
        'Sticky Notes DQLab 500 sheets',
        5,
        275000
    ),
    (
        'tr-004',
        'dqlabcust03',
        2,
        'prod-04',
        'Flashdisk DQLab 32 GB',
        4,
        160000
    ),
    (
        'tr-005',
        'dqlabcust05',
        1,
        'prod-09',
        'Buku Planner Agenda DQLab',
        3,
        276000
    ),
    (
        'tr-005',
        'dqlabcust05',
        2,
        'prod-01',
        'Kotak Pensil DQLab',
        1,
        62500
    ),
    (
        'tr-005',
        'dqlabcust05',
        3,
        'prod-04',
        'Flashdisk DQLab 32 GB',
        2,
        80000
    ),
    (
        'tr-006',
        'dqlabcust02',
        1,
        'prod-05',
        'Gift Voucher DQLab 250rb',
        4,
        1000000
    ),
    (
        'tr-006',
        'dqlabcust02',
        2,
        'prod-08',
        'Gantungan Kunci DQLab',
        2,
        31600
    );

 * sqlite://
15 rows affected.

[]

#### Tabel **sales_retail_2019**

In [15]:
# membuat tabel sales_retail_2019
%%sql

CREATE TABLE IF NOT EXISTS sales_retail_2019 (
  `order_id` INT,
  `order_date` DATETIME,
  `customer_id` INT,
  `city` VARCHAR(18),
  `province` VARCHAR(20),
  `product_id` VARCHAR(12),
  `brand` VARCHAR(9),
  `quantity` INT,
  `item_price` VARCHAR(12)
);

 * sqlite://
Done.

[]

In [26]:
%%sql

INSERT INTO 
    sales_retail_2019
VALUES
(1612339, '2019-01-01 00:00:00', 18055, 'Jakarta Selatan', 'DKI Jakarta', 'P0648', 'BRAND_C', 4, '1934000'),
(1612339, '2019-01-01 00:00:00', 18055, 'Jakarta Selatan', 'DKI Jakarta', 'P3826', 'BRAND_V', 8, '604000'),
(1612339, '2019-01-01 00:00:00', 18055, 'Jakarta Selatan', 'DKI Jakarta', 'P1508', 'BRAND_G', 12, '747000'),
(1612339, '2019-01-01 00:00:00', 18055, 'Jakarta Selatan', 'DKI Jakarta', 'P0520', 'BRAND_B', 12, '450000'),
(1612339, '2019-01-01 00:00:00', 18055, 'Jakarta Selatan', 'DKI Jakarta', 'P1513', 'BRAND_G', 3, '1500000'),
(1612339, '2019-01-01 00:00:00', 18055, 'Jakarta Selatan', 'DKI Jakarta', 'P3911', 'BRAND_V', 3, '2095000'),
(1612339, '2019-01-01 00:00:00', 18055, 'Jakarta Selatan', 'DKI Jakarta', 'P1780', 'BRAND_H', 3, '2095000'),
(1612339, '2019-01-01 00:00:00', 18055, 'Jakarta Selatan', 'DKI Jakarta', 'P3132', 'BRAND_S', 3, '1745000'),
(1612339, '2019-01-01 00:00:00', 18055, 'Jakarta Selatan', 'DKI Jakarta', 'P1342', 'BRAND_F', 6, '1045000'),
(1612339, '2019-01-01 00:00:00', 18055, 'Jakarta Selatan', 'DKI Jakarta', 'P2556', 'BRAND_P', 6, '1045000'),
(1612339, '2019-01-01 00:00:00', 18055, 'Jakarta Selatan', 'DKI Jakarta', 'P2154', 'BRAND_M', 4, '1745000'),
(1612339, '2019-01-01 00:00:00', 18055, 'Jakarta Selatan', 'DKI Jakarta', 'P1685', 'BRAND_H', 12, '747000'),
(1612339, '2019-01-01 00:00:00', 18055, 'Jakarta Selatan', 'DKI Jakarta', 'P3665', 'BRAND_S', 4, '2375000'),
(1612339, '2019-01-01 00:00:00', 18055, 'Jakarta Selatan', 'DKI Jakarta', 'P0219', 'BRAND_A', 8, '1045000'),
(1612339, '2019-01-01 00:00:00', 18055, 'Jakarta Selatan', 'DKI Jakarta', 'P1680', 'BRAND_H', 12, '747000'),
(1612339, '2019-01-01 00:00:00', 18055, 'Jakarta Selatan', 'DKI Jakarta', 'P1679', 'BRAND_H', 12, '747000'),
(1612339, '2019-01-01 00:00:00', 18055, 'Jakarta Selatan', 'DKI Jakarta', 'P2159', 'BRAND_M', 24, '310000'),
(1612339, '2019-01-01 00:00:00', 18055, 'Jakarta Selatan', 'DKI Jakarta', 'P3837', 'BRAND_V', 4, '1500000'),
(1612339, '2019-01-01 00:00:00', 18055, 'Jakarta Selatan', 'DKI Jakarta', 'P2783', 'BRAND_P', 2, '555000'),
(1612339, '2019-01-01 00:00:00', 18055, 'Jakarta Selatan', 'DKI Jakarta', 'P1255', 'BRAND_E', 3, '1500000'),
(1612339, '2019-01-01 00:00:00', 18055, 'Jakarta Selatan', 'DKI Jakarta', 'P1118', 'BRAND_D', 4, '2795000'),
(1612339, '2019-01-01 00:00:00', 18055, 'Jakarta Selatan', 'DKI Jakarta', 'P2660', 'BRAND_P', 6, '1045000'),
(1612339, '2019-01-01 00:00:00', 18055, 'Jakarta Selatan', 'DKI Jakarta', 'P1597', 'BRAND_G', 18, '520000'),
(1612339, '2019-01-01 00:00:00', 18055, 'Jakarta Selatan', 'DKI Jakarta', 'P0968', 'BRAND_C', 6, '904000'),
(1612339, '2019-01-01 00:00:00', 18055, 'Jakarta Selatan', 'DKI Jakarta', 'P4075', 'BRAND_W', 6, '904000'),
(1612339, '2019-01-01 00:00:00', 18055, 'Jakarta Selatan', 'DKI Jakarta', 'P4057', 'BRAND_W', 4, '2095000'),
(1612339, '2019-01-01 00:00:00', 18055, 'Jakarta Selatan', 'DKI Jakarta', 'P4060', 'BRAND_W', 6, '2795000'),
(1612339, '2019-01-01 00:00:00', 18055, 'Jakarta Selatan', 'DKI Jakarta', 'P4009', 'BRAND_W', 6, '1045000'),
(1612342, '2019-01-01 00:00:00', 13963, 'Jakarta Utara', 'DKI Jakarta', 'P1306', 'BRAND_F', 8, '1325000'),
(1612342, '2019-01-01 00:00:00', 13963, 'Jakarta Utara', 'DKI Jakarta', 'P1305', 'BRAND_F', 4, '1325000'),
(1612342, '2019-01-01 00:00:00', 13963, 'Jakarta Utara', 'DKI Jakarta', 'P1307', 'BRAND_F', 8, '1325000'),
(1612342, '2019-01-01 00:00:00', 13963, 'Jakarta Utara', 'DKI Jakarta', 'P0708', 'BRAND_C', 12, '520000'),
(1612342, '2019-01-01 00:00:00', 13963, 'Jakarta Utara', 'DKI Jakarta', 'P0709', 'BRAND_C', 12, '520000'),
(1612342, '2019-01-01 00:00:00', 13963, 'Jakarta Utara', 'DKI Jakarta', 'P0704', 'BRAND_C', 6, '1045000'),
(1612342, '2019-01-01 00:00:00', 13963, 'Jakarta Utara', 'DKI Jakarta', 'P3599', 'BRAND_S', 4, '2095000'),
(1612345, '2019-01-01 00:00:00', 17450, 'Bogor', 'Jawa Barat', 'P0327', 'BRAND_B', 6, '2322000'),
(1612369, '2019-01-01 00:00:00', 17450, 'Bogor', 'Jawa Barat', 'P1742', 'BRAND_H', 402, '688000'),
(1612369, '2019-01-01 00:00:00', 17450, 'Bogor', 'Jawa Barat', 'P1741', 'BRAND_H', 378, '1136000');

 * sqlite://
38 rows affected.

[]

In [27]:
%%sql

INSERT INTO 
    sales_retail_2019
VALUES
(1612372, '2019-01-01 00:00:00', 17511, 'Tangerang', 'Banten', 'P0517', 'BRAND_B', 72, '383000'),
(1612372, '2019-01-01 00:00:00', 17511, 'Tangerang', 'Banten', 'P2707', 'BRAND_P', 72, '383000'),
(1612372, '2019-01-01 00:00:00', 17511, 'Tangerang', 'Banten', 'P2928', 'BRAND_R', 12, '2235000'),
(1612372, '2019-01-01 00:00:00', 17511, 'Tangerang', 'Banten', 'P3362', 'BRAND_S', 96, '236000'),
(1612372, '2019-01-01 00:00:00', 17511, 'Tangerang', 'Banten', 'P2806', 'BRAND_P', 48, '590000'),
(1612372, '2019-01-01 00:00:00', 17511, 'Tangerang', 'Banten', 'P0525', 'BRAND_B', 96, '520000'),
(1612372, '2019-01-01 00:00:00', 17511, 'Tangerang', 'Banten', 'P3412', 'BRAND_S', 16, '1325000'),
(1612372, '2019-01-01 00:00:00', 17511, 'Tangerang', 'Banten', 'P2946', 'BRAND_R', 12, '2445000'),
(1612372, '2019-01-01 00:00:00', 17511, 'Tangerang', 'Banten', 'P2935', 'BRAND_R', 32, '1325000'),
(1612372, '2019-01-01 00:00:00', 17511, 'Tangerang', 'Banten', 'P1813', 'BRAND_I', 48, '660000'),
(1612372, '2019-01-01 00:00:00', 17511, 'Tangerang', 'Banten', 'P0792', 'BRAND_C', 48, '660000'),
(1612372, '2019-01-01 00:00:00', 17511, 'Tangerang', 'Banten', 'P0491', 'BRAND_B', 48, '450000'),
(1612372, '2019-01-01 00:00:00', 17511, 'Tangerang', 'Banten', 'P1469', 'BRAND_F', 16, '1199000'),
(1612372, '2019-01-01 00:00:00', 17511, 'Tangerang', 'Banten', 'P2866', 'BRAND_R', 6, '1045000'),
(1612372, '2019-01-01 00:00:00', 17511, 'Tangerang', 'Banten', 'P2494', 'BRAND_P', 40, '904000'),
(1612372, '2019-01-01 00:00:00', 17511, 'Tangerang', 'Banten', 'P4059', 'BRAND_W', 12, '1955000'),
(1612372, '2019-01-01 00:00:00', 17511, 'Tangerang', 'Banten', 'P2325', 'BRAND_N', 48, '604000'),
(1612372, '2019-01-01 00:00:00', 17511, 'Tangerang', 'Banten', 'P0255', 'BRAND_A', 160, '520000'),
(1612372, '2019-01-01 00:00:00', 17511, 'Tangerang', 'Banten', 'P4009', 'BRAND_W', 32, '904000'),
(1612375, '2019-01-01 00:00:00', 17091, 'Tangerang', 'Banten', 'P1685', 'BRAND_H', 12, '747000'),
(1612375, '2019-01-01 00:00:00', 17091, 'Tangerang', 'Banten', 'P1679', 'BRAND_H', 12, '747000'),
(1612375, '2019-01-01 00:00:00', 17091, 'Tangerang', 'Banten', 'P2964', 'BRAND_R', 4, '1325000'),
(1612375, '2019-01-01 00:00:00', 17091, 'Tangerang', 'Banten', 'P0116', 'BRAND_A', 6, '747000'),
(1612375, '2019-01-01 00:00:00', 17091, 'Tangerang', 'Banten', 'P1800', 'BRAND_H', 4, '1640000'),
(1612375, '2019-01-01 00:00:00', 17091, 'Tangerang', 'Banten', 'P1684', 'BRAND_H', 24, '747000'),
(1612375, '2019-01-01 00:00:00', 17091, 'Tangerang', 'Banten', 'P4025', 'BRAND_W', 4, '1325000'),
(1612375, '2019-01-01 00:00:00', 17091, 'Tangerang', 'Banten', 'P3006', 'BRAND_R', 6, '1745000'),
(1612375, '2019-01-01 00:00:00', 17091, 'Tangerang', 'Banten', 'P3132', 'BRAND_S', 6, '1745000'),
(1612375, '2019-01-01 00:00:00', 17091, 'Tangerang', 'Banten', 'P0791', 'BRAND_C', 3, '1745000'),
(1612375, '2019-01-01 00:00:00', 17091, 'Tangerang', 'Banten', 'P1945', 'BRAND_K', 4, '1325000'),
(1612375, '2019-01-01 00:00:00', 17091, 'Tangerang', 'Banten', 'P1251', 'BRAND_E', 4, '1500000'),
(1612375, '2019-01-01 00:00:00', 17091, 'Tangerang', 'Banten', 'P1683', 'BRAND_H', 12, '747000'),
(1612378, '2019-01-01 00:00:00', 17470, 'Jakarta Pusat', 'DKI Jakarta', 'P0041', 'BRAND_A', 12, '310000'),
(1612378, '2019-01-01 00:00:00', 17470, 'Jakarta Pusat', 'DKI Jakarta', 'P2760', 'BRAND_P', 12, '590000'),
(1612378, '2019-01-01 00:00:00', 17470, 'Jakarta Pusat', 'DKI Jakarta', 'P1329', 'BRAND_F', 12, '450000'),
(1612378, '2019-01-01 00:00:00', 17470, 'Jakarta Pusat', 'DKI Jakarta', 'P1700', 'BRAND_H', 24, '240000'),
(1612378, '2019-01-01 00:00:00', 17470, 'Jakarta Pusat', 'DKI Jakarta', 'P2641', 'BRAND_P', 8, '695000'),
(1612378, '2019-01-01 00:00:00', 17470, 'Jakarta Pusat', 'DKI Jakarta', 'P3484', 'BRAND_S', 6, '800000'),
(1612378, '2019-01-01 00:00:00', 17470, 'Jakarta Pusat', 'DKI Jakarta', 'P3122', 'BRAND_S', 6, '800000'),
(1612378, '2019-01-01 00:00:00', 17470, 'Jakarta Pusat', 'DKI Jakarta', 'P0040', 'BRAND_A', 12, '310000'),
(1612378, '2019-01-01 00:00:00', 17470, 'Jakarta Pusat', 'DKI Jakarta', 'P0931', 'BRAND_C', 4, '1395000'),
(1612378, '2019-01-01 00:00:00', 17470, 'Jakarta Pusat', 'DKI Jakarta', 'P2575', 'BRAND_P', 12, '520000'),
(1612378, '2019-01-01 00:00:00', 17470, 'Jakarta Pusat', 'DKI Jakarta', 'P0117', 'BRAND_A', 4, '2795000'),
(1612381, '2019-01-01 00:00:00', 17616, 'Surabaya', 'Jawa Timur', 'P4009', 'BRAND_W', 128, '904000'),
(1612384, '2019-01-01 00:00:00', 15649, 'Malang', 'Jawa Timur', 'P0784', 'BRAND_C', 120, '1500000'),
(1612387, '2019-01-01 00:00:00', 17228, 'Bogor', 'Jawa Barat', 'P0449', 'BRAND_B', 6, '1325000'),
(1612387, '2019-01-01 00:00:00', 17228, 'Bogor', 'Jawa Barat', 'P2881', 'BRAND_R', 6, '1325000'),
(1612387, '2019-01-01 00:00:00', 17228, 'Bogor', 'Jawa Barat', 'P2594', 'BRAND_P', 10, '1325000'),
(1612387, '2019-01-01 00:00:00', 17228, 'Bogor', 'Jawa Barat', 'P1600', 'BRAND_G', 4, '1325000'),
(1612387, '2019-01-01 00:00:00', 17228, 'Bogor', 'Jawa Barat', 'P2086', 'BRAND_L', 4, '590000'),
(1612387, '2019-01-01 00:00:00', 17228, 'Bogor', 'Jawa Barat', 'P2103', 'BRAND_L', 6, '590000'),
(1612387, '2019-01-01 00:00:00', 17228, 'Bogor', 'Jawa Barat', 'P2089', 'BRAND_L', 6, '590000'),
(1612387, '2019-01-01 00:00:00', 17228, 'Bogor', 'Jawa Barat', 'P0515', 'BRAND_B', 5, '590000'),
(1612387, '2019-01-01 00:00:00', 17228, 'Bogor', 'Jawa Barat', 'P0535', 'BRAND_B', 6, '590000'),
(1612387, '2019-01-01 00:00:00', 17228, 'Bogor', 'Jawa Barat', 'P0029', 'BRAND_A', 12, '310000'),
(1612387, '2019-01-01 00:00:00', 17228, 'Bogor', 'Jawa Barat', 'P3362', 'BRAND_S', 12, '310000'),
(1612387, '2019-01-01 00:00:00', 17228, 'Bogor', 'Jawa Barat', 'P3409', 'BRAND_S', 12, '310000');

 * sqlite://
57 rows affected.

[]

In [28]:
%%sql

INSERT INTO 
    sales_retail_2019
VALUES
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P1867', 'BRAND_J', 12, '520000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P3388', 'BRAND_S', 10, '450000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P3082', 'BRAND_R', 18, '1045000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P3354', 'BRAND_S', 24, '450000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P3357', 'BRAND_S', 24, '450000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P0422', 'BRAND_B', 4, '1325000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P2868', 'BRAND_R', 6, '904000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P3039', 'BRAND_R', 12, '159000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P3694', 'BRAND_T', 12, '159000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P1279', 'BRAND_F', 12, '159000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P0563', 'BRAND_B', 4, '2095000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P2926', 'BRAND_R', 16, '310000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P1830', 'BRAND_I', 2, '2987000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P2106', 'BRAND_L', 6, '904000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P3635', 'BRAND_S', 6, '904000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P3562', 'BRAND_S', 12, '310000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P0359', 'BRAND_B', 12, '310000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P4086', 'BRAND_W', 10, '310000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P4084', 'BRAND_W', 12, '310000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P2764', 'BRAND_P', 12, '590000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P2445', 'BRAND_P', 24, '205000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P2360', 'BRAND_O', 24, '1045000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P2359', 'BRAND_O', 18, '1045000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P0881', 'BRAND_C', 18, '904000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P0882', 'BRAND_C', 12, '904000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P3685', 'BRAND_T', 4, '2987000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P1115', 'BRAND_D', 2, '2795000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P2925', 'BRAND_R', 6, '1150000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P2708', 'BRAND_P', 6, '1150000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P0575', 'BRAND_B', 25, '159000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P1663', 'BRAND_G', 36, '747000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P2169', 'BRAND_M', 6, '1045000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P3350', 'BRAND_S', 12, '450000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P2427', 'BRAND_P', 12, '310000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P3689', 'BRAND_T', 36, '310000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P2085', 'BRAND_L', 12, '310000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P0656', 'BRAND_C', 12, '310000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P3486', 'BRAND_S', 12, '310000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P3243', 'BRAND_S', 6, '1045000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P2960', 'BRAND_R', 72, '590000'),
(1612390, '2019-01-01 00:00:00', 12681, 'Makassar', 'Sulawesi Selatan', 'P2803', 'BRAND_P', 4, '6312000'),
(1612393, '2019-01-01 00:00:00', 14907, 'Jakarta Selatan', 'DKI Jakarta', 'P1656', 'BRAND_G', 16, '1325000'),
(1612393, '2019-01-01 00:00:00', 14907, 'Jakarta Selatan', 'DKI Jakarta', 'P0791', 'BRAND_C', 9, '1745000'),
(1612393, '2019-01-01 00:00:00', 14907, 'Jakarta Selatan', 'DKI Jakarta', 'P1805', 'BRAND_H', 8, '1395000'),
(1612393, '2019-01-01 00:00:00', 14907, 'Jakarta Selatan', 'DKI Jakarta', 'P0753', 'BRAND_C', 4, '1220000'),
(1612393, '2019-01-01 00:00:00', 14907, 'Jakarta Selatan', 'DKI Jakarta', 'P1285', 'BRAND_F', 6, '1045000'),
(1612393, '2019-01-01 00:00:00', 14907, 'Jakarta Selatan', 'DKI Jakarta', 'P2812', 'BRAND_P', 12, '450000'),
(1612393, '2019-01-01 00:00:00', 14907, 'Jakarta Selatan', 'DKI Jakarta', 'P1099', 'BRAND_D', 2, '2795000'),
(1612393, '2019-01-01 00:00:00', 14907, 'Jakarta Selatan', 'DKI Jakarta', 'P1114', 'BRAND_D', 2, '2795000'),
(1612393, '2019-01-01 00:00:00', 14907, 'Jakarta Selatan', 'DKI Jakarta', 'P1122', 'BRAND_D', 2, '2795000'),
(1612393, '2019-01-01 00:00:00', 14907, 'Jakarta Selatan', 'DKI Jakarta', 'P2807', 'BRAND_P', 12, '450000'),
(1612393, '2019-01-01 00:00:00', 14907, 'Jakarta Selatan', 'DKI Jakarta', 'P0255', 'BRAND_A', 8, '604000'),
(1612393, '2019-01-01 00:00:00', 14907, 'Jakarta Selatan', 'DKI Jakarta', 'P1303', 'BRAND_F', 12, '520000'),
(1612393, '2019-01-01 00:00:00', 14907, 'Jakarta Selatan', 'DKI Jakarta', 'P1301', 'BRAND_F', 12, '747000'),
(1612393, '2019-01-01 00:00:00', 14907, 'Jakarta Selatan', 'DKI Jakarta', 'P1307', 'BRAND_F', 4, '1325000'),
(1612393, '2019-01-01 00:00:00', 14907, 'Jakarta Selatan', 'DKI Jakarta', 'P1306', 'BRAND_F', 4, '1325000'),
(1612393, '2019-01-01 00:00:00', 14907, 'Jakarta Selatan', 'DKI Jakarta', 'P3747', 'BRAND_T', 12, '450000'),
(1612393, '2019-01-01 00:00:00', 14907, 'Jakarta Selatan', 'DKI Jakarta', 'P1304', 'BRAND_F', 8, '1500000'),
(1612393, '2019-01-01 00:00:00', 14907, 'Jakarta Selatan', 'DKI Jakarta', 'P3907', 'BRAND_V', 12, '310000'),
(1612393, '2019-01-01 00:00:00', 14907, 'Jakarta Selatan', 'DKI Jakarta', 'P1310', 'BRAND_F', 6, '1045000'),
(1612393, '2019-01-01 00:00:00', 14907, 'Jakarta Selatan', 'DKI Jakarta', 'P1308', 'BRAND_F', 6, '1045000'),
(1612393, '2019-01-01 00:00:00', 14907, 'Jakarta Selatan', 'DKI Jakarta', 'P1320', 'BRAND_F', 4, '1325000'),
(1612393, '2019-01-01 00:00:00', 14907, 'Jakarta Selatan', 'DKI Jakarta', 'P3421', 'BRAND_S', 6, '1185000'),
(1612393, '2019-01-01 00:00:00', 14907, 'Jakarta Selatan', 'DKI Jakarta', 'P1318', 'BRAND_F', 4, '1325000'),
(1612393, '2019-01-01 00:00:00', 14907, 'Jakarta Selatan', 'DKI Jakarta', 'P2895', 'BRAND_R', 4, '1325000'),
(1612393, '2019-01-01 00:00:00', 14907, 'Jakarta Selatan', 'DKI Jakarta', 'P2430', 'BRAND_P', 12, '450000'),
(1612393, '2019-01-01 00:00:00', 14907, 'Jakarta Selatan', 'DKI Jakarta', 'P1684', 'BRAND_H', 24, '747000'),
(1612393, '2019-01-01 00:00:00', 14907, 'Jakarta Selatan', 'DKI Jakarta', 'P1680', 'BRAND_H', 15, '747000'),
(1612393, '2019-01-01 00:00:00', 14907, 'Jakarta Selatan', 'DKI Jakarta', 'P1945', 'BRAND_K', 8, '1325000'),
(1612396, '2019-01-01 00:00:00', 17735, 'Malang', 'Jawa Timur', 'P1303', 'BRAND_F', 12, '520000'),
(1612396, '2019-01-01 00:00:00', 17735, 'Malang', 'Jawa Timur', 'P3249', 'BRAND_S', 12, '747000'),
(1612396, '2019-01-01 00:00:00', 17735, 'Malang', 'Jawa Timur', 'P2672', 'BRAND_P', 12, '590000'),
(1612396, '2019-01-01 00:00:00', 17735, 'Malang', 'Jawa Timur', 'P1741', 'BRAND_H', 6, '1045000'),
(1612396, '2019-01-01 00:00:00', 17735, 'Malang', 'Jawa Timur', 'P2866', 'BRAND_R', 6, '1045000'),
(1612396, '2019-01-01 00:00:00', 17735, 'Malang', 'Jawa Timur', 'P1402', 'BRAND_F', 6, '695000'),
(1612396, '2019-01-01 00:00:00', 17735, 'Malang', 'Jawa Timur', 'P3082', 'BRAND_R', 6, '1045000'),
(1612396, '2019-01-01 00:00:00', 17735, 'Malang', 'Jawa Timur', 'P3080', 'BRAND_R', 6, '1045000'),
(1612396, '2019-01-01 00:00:00', 17735, 'Malang', 'Jawa Timur', 'P0132', 'BRAND_A', 24, '205000'),
(1612396, '2019-01-01 00:00:00', 17735, 'Malang', 'Jawa Timur', 'P2761', 'BRAND_P', 12, '590000'),
(1612396, '2019-01-01 00:00:00', 17735, 'Malang', 'Jawa Timur', 'P2097', 'BRAND_L', 10, '590000'),
(1612396, '2019-01-01 00:00:00', 17735, 'Malang', 'Jawa Timur', 'P2086', 'BRAND_L', 10, '590000'),
(1612396, '2019-01-01 00:00:00', 17735, 'Malang', 'Jawa Timur', 'P1679', 'BRAND_H', 12, '747000'),
(1612396, '2019-01-01 00:00:00', 17735, 'Malang', 'Jawa Timur', 'P1685', 'BRAND_H', 12, '747000'),
(1612396, '2019-01-01 00:00:00', 17735, 'Malang', 'Jawa Timur', 'P1684', 'BRAND_H', 12, '747000'),
(1612396, '2019-01-01 00:00:00', 17735, 'Malang', 'Jawa Timur', 'P1805', 'BRAND_H', 4, '1395000'),
(1612396, '2019-01-01 00:00:00', 17735, 'Malang', 'Jawa Timur', 'P3006', 'BRAND_R', 6, '1745000'),
(1612396, '2019-01-01 00:00:00', 17735, 'Malang', 'Jawa Timur', 'P0791', 'BRAND_C', 3, '1745000'),
(1612396, '2019-01-01 00:00:00', 17735, 'Malang', 'Jawa Timur', 'P3699', 'BRAND_T', 10, '450000'),
(1612396, '2019-01-01 00:00:00', 17735, 'Malang', 'Jawa Timur', 'P2098', 'BRAND_L', 10, '590000'),
(1612396, '2019-01-01 00:00:00', 17735, 'Malang', 'Jawa Timur', 'P3692', 'BRAND_T', 15, '1500000'),
(1612396, '2019-01-01 00:00:00', 17735, 'Malang', 'Jawa Timur', 'P2987', 'BRAND_R', 12, '450000');

 * sqlite://
91 rows affected.

[]

In [29]:
%%sql

INSERT INTO 
    sales_retail_2019
VALUES
(1612402, '2019-01-01 00:00:00', 16059, 'Jakarta Utara', 'DKI Jakarta', 'P2900', 'BRAND_R', 2, '1045000'),
(1612402, '2019-01-01 00:00:00', 16059, 'Jakarta Utara', 'DKI Jakarta', 'P1683', 'BRAND_H', 5, '747000'),
(1612402, '2019-01-01 00:00:00', 16059, 'Jakarta Utara', 'DKI Jakarta', 'P1685', 'BRAND_H', 3, '747000'),
(1612402, '2019-01-01 00:00:00', 16059, 'Jakarta Utara', 'DKI Jakarta', 'P1678', 'BRAND_H', 2, '747000'),
(1612402, '2019-01-01 00:00:00', 16059, 'Jakarta Utara', 'DKI Jakarta', 'P1679', 'BRAND_H', 5, '747000'),
(1612402, '2019-01-01 00:00:00', 16059, 'Jakarta Utara', 'DKI Jakarta', 'P1805', 'BRAND_H', 4, '1395000'),
(1612402, '2019-01-01 00:00:00', 16059, 'Jakarta Utara', 'DKI Jakarta', 'P1802', 'BRAND_H', 2, '1640000'),
(1612402, '2019-01-01 00:00:00', 16059, 'Jakarta Utara', 'DKI Jakarta', 'P4195', 'BRAND_Z', 2, '450000'),
(1612402, '2019-01-01 00:00:00', 16059, 'Jakarta Utara', 'DKI Jakarta', 'P4078', 'BRAND_W', 3, '590000'),
(1612402, '2019-01-01 00:00:00', 16059, 'Jakarta Utara', 'DKI Jakarta', 'P4069', 'BRAND_W', 3, '450000'),
(1612402, '2019-01-01 00:00:00', 16059, 'Jakarta Utara', 'DKI Jakarta', 'P3052', 'BRAND_R', 2, '450000'),
(1612402, '2019-01-01 00:00:00', 16059, 'Jakarta Utara', 'DKI Jakarta', 'P0122', 'BRAND_A', 2, '590000'),
(1612402, '2019-01-01 00:00:00', 16059, 'Jakarta Utara', 'DKI Jakarta', 'P3128', 'BRAND_S', 4, '450000'),
(1612402, '2019-01-01 00:00:00', 16059, 'Jakarta Utara', 'DKI Jakarta', 'P0798', 'BRAND_C', 3, '747000'),
(1612402, '2019-01-01 00:00:00', 16059, 'Jakarta Utara', 'DKI Jakarta', 'P1742', 'BRAND_H', 3, '590000'),
(1612402, '2019-01-01 00:00:00', 16059, 'Jakarta Utara', 'DKI Jakarta', 'P1305', 'BRAND_F', 2, '1325000'),
(1612402, '2019-01-01 00:00:00', 16059, 'Jakarta Utara', 'DKI Jakarta', 'P1307', 'BRAND_F', 2, '1325000'),
(1612402, '2019-01-01 00:00:00', 16059, 'Jakarta Utara', 'DKI Jakarta', 'P1306', 'BRAND_F', 2, '1325000'),
(1612405, '2019-01-01 00:00:00', 12567, 'Makassar', 'Sulawesi Selatan', 'P1805', 'BRAND_H', 4, '1395000'),
(1612405, '2019-01-01 00:00:00', 12567, 'Makassar', 'Sulawesi Selatan', 'P3006', 'BRAND_R', 6, '1745000'),
(1612405, '2019-01-01 00:00:00', 12567, 'Makassar', 'Sulawesi Selatan', 'P1800', 'BRAND_H', 4, '1640000'),
(1612405, '2019-01-01 00:00:00', 12567, 'Makassar', 'Sulawesi Selatan', 'P1656', 'BRAND_G', 4, '1325000'),
(1612405, '2019-01-01 00:00:00', 12567, 'Makassar', 'Sulawesi Selatan', 'P3132', 'BRAND_S', 3, '1745000'),
(1612405, '2019-01-01 00:00:00', 12567, 'Makassar', 'Sulawesi Selatan', 'P0366', 'BRAND_B', 12, '904000'),
(1612405, '2019-01-01 00:00:00', 12567, 'Makassar', 'Sulawesi Selatan', 'P0875', 'BRAND_C', 12, '534000'),
(1612405, '2019-01-01 00:00:00', 12567, 'Makassar', 'Sulawesi Selatan', 'P1318', 'BRAND_F', 4, '1325000'),
(1612405, '2019-01-01 00:00:00', 12567, 'Makassar', 'Sulawesi Selatan', 'P1319', 'BRAND_F', 4, '1325000'),
(1612405, '2019-01-01 00:00:00', 12567, 'Makassar', 'Sulawesi Selatan', 'P1309', 'BRAND_F', 6, '1045000'),
(1612405, '2019-01-01 00:00:00', 12567, 'Makassar', 'Sulawesi Selatan', 'P2094', 'BRAND_L', 10, '590000'),
(1612405, '2019-01-01 00:00:00', 12567, 'Makassar', 'Sulawesi Selatan', 'P2098', 'BRAND_L', 10, '590000'),
(1612405, '2019-01-01 00:00:00', 12567, 'Makassar', 'Sulawesi Selatan', 'P2097', 'BRAND_L', 10, '590000'),
(1612405, '2019-01-01 00:00:00', 12567, 'Makassar', 'Sulawesi Selatan', 'P0029', 'BRAND_A', 24, '310000'),
(1612405, '2019-01-01 00:00:00', 12567, 'Makassar', 'Sulawesi Selatan', 'P2793', 'BRAND_P', 6, '747000'),
(1612405, '2019-01-01 00:00:00', 12567, 'Makassar', 'Sulawesi Selatan', 'P2794', 'BRAND_P', 6, '747000'),
(1612405, '2019-01-01 00:00:00', 12567, 'Makassar', 'Sulawesi Selatan', 'P2792', 'BRAND_P', 6, '747000'),
(1612405, '2019-01-01 00:00:00', 12567, 'Makassar', 'Sulawesi Selatan', 'P2115', 'BRAND_M', 24, '159000'),
(1612405, '2019-01-01 00:00:00', 12567, 'Makassar', 'Sulawesi Selatan', 'P2803', 'BRAND_P', 3, '6312000'),
(1612405, '2019-01-01 00:00:00', 12567, 'Makassar', 'Sulawesi Selatan', 'P1034', 'BRAND_D', 9, '2095000'),
(1612408, '2019-01-01 00:00:00', 17720, 'Bogor', 'Jawa Barat', 'P0791', 'BRAND_C', 24, '1500000'),
(1612411, '2019-01-01 00:00:00', 15018, 'Jakarta Selatan', 'DKI Jakarta', 'P2968', 'BRAND_R', 4, '4475000'),
(1612411, '2019-01-01 00:00:00', 15018, 'Jakarta Selatan', 'DKI Jakarta', 'P1210', 'BRAND_E', 1, '5245000'),
(1612411, '2019-01-01 00:00:00', 15018, 'Jakarta Selatan', 'DKI Jakarta', 'P3069', 'BRAND_R', 6, '1045000'),
(1612411, '2019-01-01 00:00:00', 15018, 'Jakarta Selatan', 'DKI Jakarta', 'P3448', 'BRAND_S', 4, '1325000'),
(1612411, '2019-01-01 00:00:00', 15018, 'Jakarta Selatan', 'DKI Jakarta', 'P2793', 'BRAND_P', 6, '747000'),
(1612414, '2019-01-01 00:00:00', 14344, 'Jakarta Selatan', 'DKI Jakarta', 'P1240', 'BRAND_E', 3, '2095000'),
(1612417, '2019-01-01 00:00:00', 12971, 'Jakarta Pusat', 'DKI Jakarta', 'P2489', 'BRAND_P', 12, '1045000'),
(1612417, '2019-01-01 00:00:00', 12971, 'Jakarta Pusat', 'DKI Jakarta', 'P0804', 'BRAND_C', 24, '310000'),
(1612417, '2019-01-01 00:00:00', 12971, 'Jakarta Pusat', 'DKI Jakarta', 'P0802', 'BRAND_C', 12, '310000'),
(1612417, '2019-01-01 00:00:00', 12971, 'Jakarta Pusat', 'DKI Jakarta', 'P3071', 'BRAND_R', 6, '904000'),
(1612417, '2019-01-01 00:00:00', 12971, 'Jakarta Pusat', 'DKI Jakarta', 'P0826', 'BRAND_C', 36, '159000'),
(1612417, '2019-01-01 00:00:00', 12971, 'Jakarta Pusat', 'DKI Jakarta', 'P0829', 'BRAND_C', 36, '159000'),
(1612429, '2019-01-01 00:00:00', 15838, 'Jakarta Utara', 'DKI Jakarta', 'P2877', 'BRAND_R', 150, '660000'),
(1612429, '2019-01-01 00:00:00', 15838, 'Jakarta Utara', 'DKI Jakarta', 'P3744', 'BRAND_T', 100, '660000'),
(1612429, '2019-01-01 00:00:00', 15838, 'Jakarta Utara', 'DKI Jakarta', 'P1902', 'BRAND_J', 300, '590000'),
(1612453, '2019-01-01 00:00:00', 14733, 'Jakarta Pusat', 'DKI Jakarta', 'P3822', 'BRAND_V', 36, '145000'),
(1612453, '2019-01-01 00:00:00', 14733, 'Jakarta Pusat', 'DKI Jakarta', 'P3660', 'BRAND_S', 12, '2987000'),
(1612453, '2019-01-01 00:00:00', 14733, 'Jakarta Pusat', 'DKI Jakarta', 'P3665', 'BRAND_S', 16, '2095000'),
(1612453, '2019-01-01 00:00:00', 14733, 'Jakarta Pusat', 'DKI Jakarta', 'P2329', 'BRAND_N', 12, '2987000'),
(1612453, '2019-01-01 00:00:00', 14733, 'Jakarta Pusat', 'DKI Jakarta', 'P4009', 'BRAND_W', 32, '904000'),
(1612453, '2019-01-01 00:00:00', 14733, 'Jakarta Pusat', 'DKI Jakarta', 'P3830', 'BRAND_V', 24, '1745000'),
(1612453, '2019-01-01 00:00:00', 14733, 'Jakarta Pusat', 'DKI Jakarta', 'P2923', 'BRAND_R', 6, '3844000'),
(1612453, '2019-01-01 00:00:00', 14733, 'Jakarta Pusat', 'DKI Jakarta', 'P1702', 'BRAND_H', 24, '310000'),
(1612453, '2019-01-01 00:00:00', 14733, 'Jakarta Pusat', 'DKI Jakarta', 'P2946', 'BRAND_R', 4, '2795000'),
(1612453, '2019-01-01 00:00:00', 14733, 'Jakarta Pusat', 'DKI Jakarta', 'P3828', 'BRAND_V', 8, '3844000'),
(1612453, '2019-01-01 00:00:00', 14733, 'Jakarta Pusat', 'DKI Jakarta', 'P3442', 'BRAND_S', 24, '590000'),
(1612453, '2019-01-01 00:00:00', 14733, 'Jakarta Pusat', 'DKI Jakarta', 'P1699', 'BRAND_H', 36, '383000'),
(1612453, '2019-01-01 00:00:00', 14733, 'Jakarta Pusat', 'DKI Jakarta', 'P2157', 'BRAND_M', 8, '1045000'),
(1612453, '2019-01-01 00:00:00', 14733, 'Jakarta Pusat', 'DKI Jakarta', 'P1741', 'BRAND_H', 40, '904000'),
(1612453, '2019-01-01 00:00:00', 14733, 'Jakarta Pusat', 'DKI Jakarta', 'P0893', 'BRAND_C', 36, '198000'),
(1612453, '2019-01-01 00:00:00', 14733, 'Jakarta Pusat', 'DKI Jakarta', 'P0934', 'BRAND_C', 4, '1745000'),
(1612453, '2019-01-01 00:00:00', 14733, 'Jakarta Pusat', 'DKI Jakarta', 'P4195', 'BRAND_Z', 36, '450000'),
(1612453, '2019-01-01 00:00:00', 14733, 'Jakarta Pusat', 'DKI Jakarta', 'P0935', 'BRAND_C', 4, '1920000'),
(1612453, '2019-01-01 00:00:00', 14733, 'Jakarta Pusat', 'DKI Jakarta', 'P0063', 'BRAND_A', 16, '1045000'),
(1612453, '2019-01-01 00:00:00', 14733, 'Jakarta Pusat', 'DKI Jakarta', 'P1830', 'BRAND_I', 4, '2987000'),
(1612453, '2019-01-01 00:00:00', 14733, 'Jakarta Pusat', 'DKI Jakarta', 'P2302', 'BRAND_N', 48, '904000'),
(1612453, '2019-01-01 00:00:00', 14733, 'Jakarta Pusat', 'DKI Jakarta', 'P1742', 'BRAND_H', 80, '520000'),
(1612453, '2019-01-01 00:00:00', 14733, 'Jakarta Pusat', 'DKI Jakarta', 'P1838', 'BRAND_I', 2, '2987000'),
(1612453, '2019-01-01 00:00:00', 14733, 'Jakarta Pusat', 'DKI Jakarta', 'P1735', 'BRAND_H', 12, '590000'),
(1612453, '2019-01-01 00:00:00', 14733, 'Jakarta Pusat', 'DKI Jakarta', 'P4057', 'BRAND_W', 16, '1745000'),
(1612453, '2019-01-01 00:00:00', 14733, 'Jakarta Pusat', 'DKI Jakarta', 'P4075', 'BRAND_W', 12, '904000'),
(1612453, '2019-01-01 00:00:00', 14733, 'Jakarta Pusat', 'DKI Jakarta', 'P2489', 'BRAND_P', 80, '904000'),
(1612453, '2019-01-01 00:00:00', 14733, 'Jakarta Pusat', 'DKI Jakarta', 'P0887', 'BRAND_C', 48, '975000'),
(1612468, '2019-01-01 00:00:00', 17017, 'Jakarta Selatan', 'DKI Jakarta', 'P1990', 'BRAND_L', 24, '590000'),
(1612468, '2019-01-01 00:00:00', 17017, 'Jakarta Selatan', 'DKI Jakarta', 'P1868', 'BRAND_J', 6, '1500000'),
(1612468, '2019-01-01 00:00:00', 17017, 'Jakarta Selatan', 'DKI Jakarta', 'P1867', 'BRAND_J', 24, '520000'),
(1612468, '2019-01-01 00:00:00', 17017, 'Jakarta Selatan', 'DKI Jakarta', 'P0491', 'BRAND_B', 12, '450000'),
(1612468, '2019-01-01 00:00:00', 17017, 'Jakarta Selatan', 'DKI Jakarta', 'P2880', 'BRAND_R', 24, '450000'),
(1612468, '2019-01-01 00:00:00', 17017, 'Jakarta Selatan', 'DKI Jakarta', 'P3189', 'BRAND_S', 24, '159000'),
(1612468, '2019-01-01 00:00:00', 17017, 'Jakarta Selatan', 'DKI Jakarta', 'P0174', 'BRAND_A', 12, '450000'),
(1612468, '2019-01-01 00:00:00', 17017, 'Jakarta Selatan', 'DKI Jakarta', 'P4100', 'BRAND_W', 48, '113000'),
(1612468, '2019-01-01 00:00:00', 17017, 'Jakarta Selatan', 'DKI Jakarta', 'P3028', 'BRAND_R', 10, '590000'),
(1612468, '2019-01-01 00:00:00', 17017, 'Jakarta Selatan', 'DKI Jakarta', 'P3025', 'BRAND_R', 10, '590000'),
(1612468, '2019-01-01 00:00:00', 17017, 'Jakarta Selatan', 'DKI Jakarta', 'P3020', 'BRAND_R', 10, '590000'),
(1612468, '2019-01-01 00:00:00', 17017, 'Jakarta Selatan', 'DKI Jakarta', 'P3027', 'BRAND_R', 10, '590000'),
(1612468, '2019-01-01 00:00:00', 17017, 'Jakarta Selatan', 'DKI Jakarta', 'P3021', 'BRAND_R', 10, '590000'),
(1612468, '2019-01-01 00:00:00', 17017, 'Jakarta Selatan', 'DKI Jakarta', 'P3250', 'BRAND_S', 24, '310000'),
(1612468, '2019-01-01 00:00:00', 17017, 'Jakarta Selatan', 'DKI Jakarta', 'P2494', 'BRAND_P', 40, '904000'),
(1612468, '2019-01-01 00:00:00', 17017, 'Jakarta Selatan', 'DKI Jakarta', 'P0126', 'BRAND_A', 24, '205000'),
(1612468, '2019-01-01 00:00:00', 17017, 'Jakarta Selatan', 'DKI Jakarta', 'P3004', 'BRAND_R', 24, '450000'),
(1612468, '2019-01-01 00:00:00', 17017, 'Jakarta Selatan', 'DKI Jakarta', 'P2761', 'BRAND_P', 12, '590000'),
(1612468, '2019-01-01 00:00:00', 17017, 'Jakarta Selatan', 'DKI Jakarta', 'P2762', 'BRAND_P', 12, '590000'),
(1612468, '2019-01-01 00:00:00', 17017, 'Jakarta Selatan', 'DKI Jakarta', 'P2759', 'BRAND_P', 12, '590000'),
(1612468, '2019-01-01 00:00:00', 17017, 'Jakarta Selatan', 'DKI Jakarta', 'P3531', 'BRAND_S', 24, '310000'),
(1612528, '2019-01-01 00:00:00', 13756, 'Jakarta Barat', 'DKI Jakarta', 'P1678', 'BRAND_H', 96, '660000'),
(1612528, '2019-01-01 00:00:00', 13756, 'Jakarta Barat', 'DKI Jakarta', 'P1679', 'BRAND_H', 192, '660000'),
(1612570, '2019-01-01 00:00:00', 14176, 'Jakarta Selatan', 'DKI Jakarta', 'P2900', 'BRAND_R', 6, '1045000'),
(1612570, '2019-01-01 00:00:00', 14176, 'Jakarta Selatan', 'DKI Jakarta', 'P0709', 'BRAND_C', 12, '520000'),
(1612570, '2019-01-01 00:00:00', 14176, 'Jakarta Selatan', 'DKI Jakarta', 'P0654', 'BRAND_C', 6, '1045000'),
(1612570, '2019-01-01 00:00:00', 14176, 'Jakarta Selatan', 'DKI Jakarta', 'P3335', 'BRAND_S', 6, '1045000'),
(1612570, '2019-01-01 00:00:00', 14176, 'Jakarta Selatan', 'DKI Jakarta', 'P3734', 'BRAND_T', 12, '450000'),
(1612570, '2019-01-01 00:00:00', 14176, 'Jakarta Selatan', 'DKI Jakarta', 'P4009', 'BRAND_W', 6, '1045000'),
(1612570, '2019-01-01 00:00:00', 14176, 'Jakarta Selatan', 'DKI Jakarta', 'P3057', 'BRAND_R', 2, '3494000'),
(1612570, '2019-01-01 00:00:00', 14176, 'Jakarta Selatan', 'DKI Jakarta', 'P1973', 'BRAND_L', 2, '2375000'),
(1612570, '2019-01-01 00:00:00', 14176, 'Jakarta Selatan', 'DKI Jakarta', 'P1268', 'BRAND_F', 9, '904000'),
(1612615, '2019-01-01 00:00:00', 15353, 'Bandung', 'Jawa Barat', 'P1511', 'BRAND_G', 12, '450000'),
(1612615, '2019-01-01 00:00:00', 15353, 'Bandung', 'Jawa Barat', 'P2968', 'BRAND_R', 6, '4475000'),
(1612615, '2019-01-01 00:00:00', 15353, 'Bandung', 'Jawa Barat', 'P0296', 'BRAND_B', 12, '310000'),
(1612615, '2019-01-01 00:00:00', 15353, 'Bandung', 'Jawa Barat', 'P0582', 'BRAND_B', 3, '1745000'),
(1612615, '2019-01-01 00:00:00', 15353, 'Bandung', 'Jawa Barat', 'P0581', 'BRAND_B', 2, '3494000'),
(1612615, '2019-01-01 00:00:00', 15353, 'Bandung', 'Jawa Barat', 'P1685', 'BRAND_H', 24, '747000'),
(1612615, '2019-01-01 00:00:00', 15353, 'Bandung', 'Jawa Barat', 'P2015', 'BRAND_L', 10, '450000'),
(1612615, '2019-01-01 00:00:00', 15353, 'Bandung', 'Jawa Barat', 'P1683', 'BRAND_H', 12, '747000'),
(1612615, '2019-01-01 00:00:00', 15353, 'Bandung', 'Jawa Barat', 'P1867', 'BRAND_J', 12, '520000'),
(1612615, '2019-01-01 00:00:00', 15353, 'Bandung', 'Jawa Barat', 'P1738', 'BRAND_H', 24, '450000'),
(1612615, '2019-01-01 00:00:00', 15353, 'Bandung', 'Jawa Barat', 'P1735', 'BRAND_H', 12, '590000'),
(1612615, '2019-01-01 00:00:00', 15353, 'Bandung', 'Jawa Barat', 'P3669', 'BRAND_S', 2, '3494000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P0187', 'BRAND_A', 1, '4195000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P3814', 'BRAND_U', 1, '747000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P3191', 'BRAND_S', 1, '159000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P3813', 'BRAND_U', 1, '450000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P3191', 'BRAND_S', 1, '159000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P1475', 'BRAND_F', 1, '747000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P3495', 'BRAND_S', 1, '590000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P0315', 'BRAND_B', 1, '590000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P2737', 'BRAND_P', 1, '747000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P2736', 'BRAND_P', 1, '450000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P0312', 'BRAND_B', 1, '695000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P2118', 'BRAND_M', 1, '159000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P2117', 'BRAND_M', 1, '159000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P1304', 'BRAND_F', 2, '1500000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P4076', 'BRAND_W', 1, '2095000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P4082', 'BRAND_W', 1, '2095000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P1554', 'BRAND_G', 2, '1045000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P2806', 'BRAND_P', 1, '695000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P0171', 'BRAND_A', 1, '1325000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P0680', 'BRAND_C', 48, '159000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P0671', 'BRAND_C', 24, '159000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P1562', 'BRAND_G', 22, '904000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P0162', 'BRAND_A', 1, '1500000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P3122', 'BRAND_S', 1, '800000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P0279', 'BRAND_A', 1, '747000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P0282', 'BRAND_A', 1, '310000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P0099', 'BRAND_A', 3, '1325000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P0811', 'BRAND_C', 1, '1745000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P1830', 'BRAND_I', 1, '2987000'),
(1612702, '2019-01-01 00:00:00', 18119, 'Yogyakarta', 'Yogyakarta', 'P3019', 'BRAND_R', 1, '345000');

 * sqlite://
156 rows affected.

[]

In [30]:
%%sql

INSERT INTO 
    sales_retail_2019
VALUES
(1612777, '2019-01-01 00:00:00', 17491, 'Jakarta Utara', 'DKI Jakarta', 'P0255', 'BRAND_A', 64, '604000'),
(1612777, '2019-01-01 00:00:00', 17491, 'Jakarta Utara', 'DKI Jakarta', 'P2488', 'BRAND_P', 12, '1045000'),
(1612777, '2019-01-01 00:00:00', 17491, 'Jakarta Utara', 'DKI Jakarta', 'P2430', 'BRAND_P', 144, '383000'),
(1612777, '2019-01-01 00:00:00', 17491, 'Jakarta Utara', 'DKI Jakarta', 'P1927', 'BRAND_K', 24, '240000'),
(1612777, '2019-01-01 00:00:00', 17491, 'Jakarta Utara', 'DKI Jakarta', 'P1924', 'BRAND_K', 24, '240000'),
(1612780, '2019-01-01 00:00:00', 14282, 'Jakarta Selatan', 'DKI Jakarta', 'P1914', 'BRAND_J', 40, '695000'),
(1612780, '2019-01-01 00:00:00', 14282, 'Jakarta Selatan', 'DKI Jakarta', 'P1901', 'BRAND_J', 50, '695000'),
(1612780, '2019-01-01 00:00:00', 14282, 'Jakarta Selatan', 'DKI Jakarta', 'P1912', 'BRAND_J', 20, '695000'),
(1612780, '2019-01-01 00:00:00', 14282, 'Jakarta Selatan', 'DKI Jakarta', 'P1904', 'BRAND_J', 20, '695000'),
(1612780, '2019-01-01 00:00:00', 14282, 'Jakarta Selatan', 'DKI Jakarta', 'P1913', 'BRAND_J', 50, '695000'),
(1612780, '2019-01-01 00:00:00', 14282, 'Jakarta Selatan', 'DKI Jakarta', 'P1890', 'BRAND_J', 40, '695000'),
(1612780, '2019-01-01 00:00:00', 14282, 'Jakarta Selatan', 'DKI Jakarta', 'P2938', 'BRAND_R', 20, '450000'),
(1612780, '2019-01-01 00:00:00', 14282, 'Jakarta Selatan', 'DKI Jakarta', 'P3637', 'BRAND_S', 20, '450000'),
(1612780, '2019-01-01 00:00:00', 14282, 'Jakarta Selatan', 'DKI Jakarta', 'P2086', 'BRAND_L', 20, '590000'),
(1612780, '2019-01-01 00:00:00', 14282, 'Jakarta Selatan', 'DKI Jakarta', 'P2933', 'BRAND_R', 5, '1045000'),
(1612780, '2019-01-01 00:00:00', 14282, 'Jakarta Selatan', 'DKI Jakarta', 'P3127', 'BRAND_S', 5, '1045000'),
(1612780, '2019-01-01 00:00:00', 14282, 'Jakarta Selatan', 'DKI Jakarta', 'P2738', 'BRAND_P', 5, '1045000'),
(1612780, '2019-01-01 00:00:00', 14282, 'Jakarta Selatan', 'DKI Jakarta', 'P3627', 'BRAND_S', 5, '1045000'),
(1612783, '2019-01-01 00:00:00', 12647, 'Denpasar', 'Bali', 'P3233', 'BRAND_S', 4, '4475000'),
(1612783, '2019-01-01 00:00:00', 12647, 'Denpasar', 'Bali', 'P3235', 'BRAND_S', 2, '4475000'),
(1612783, '2019-01-01 00:00:00', 12647, 'Denpasar', 'Bali', 'P0591', 'BRAND_B', 4, '5245000'),
(1612783, '2019-01-01 00:00:00', 12647, 'Denpasar', 'Bali', 'P0588', 'BRAND_B', 4, '5245000'),
(1612783, '2019-01-01 00:00:00', 12647, 'Denpasar', 'Bali', 'P3699', 'BRAND_T', 20, '450000'),
(1612783, '2019-01-01 00:00:00', 12647, 'Denpasar', 'Bali', 'P0064', 'BRAND_A', 12, '695000'),
(1612783, '2019-01-01 00:00:00', 12647, 'Denpasar', 'Bali', 'P1467', 'BRAND_F', 24, '1325000'),
(1612783, '2019-01-01 00:00:00', 12647, 'Denpasar', 'Bali', 'P1465', 'BRAND_F', 4, '1500000'),
(1612783, '2019-01-01 00:00:00', 12647, 'Denpasar', 'Bali', 'P3360', 'BRAND_S', 12, '1045000'),
(1612783, '2019-01-01 00:00:00', 12647, 'Denpasar', 'Bali', 'P2186', 'BRAND_M', 4, '1325000'),
(1612783, '2019-01-01 00:00:00', 12647, 'Denpasar', 'Bali', 'P2185', 'BRAND_M', 4, '1325000'),
(1612783, '2019-01-01 00:00:00', 12647, 'Denpasar', 'Bali', 'P2960', 'BRAND_R', 12, '590000 '),
(1612783, '2019-01-01 00:00:00', 12647, 'Denpasar', 'Bali', 'P1838', 'BRAND_I', 2, '2987000'),
(1612783, '2019-01-01 00:00:00', 12647, 'Denpasar', 'Bali', 'P1933', 'BRAND_K', 24, '310000'),
(1612783, '2019-01-01 00:00:00', 12647, 'Denpasar', 'Bali', 'P3729', 'BRAND_T', 6, '1045000'),
(1612783, '2019-01-01 00:00:00', 12647, 'Denpasar', 'Bali', 'P3331', 'BRAND_S', 12, '450000'),
(1612783, '2019-01-01 00:00:00', 12647, 'Denpasar', 'Bali', 'P2803', 'BRAND_P', 5, '6312000'),
(1612786, '2019-01-01 00:00:00', 13569, 'Jakarta Timur', 'DKI Jakarta', 'P3130', 'BRAND_S', 3, '450000'),
(1612786, '2019-01-01 00:00:00', 13569, 'Jakarta Timur', 'DKI Jakarta', 'P1935', 'BRAND_K', 2, '904000'),
(1612786, '2019-01-01 00:00:00', 13569, 'Jakarta Timur', 'DKI Jakarta', 'P4057', 'BRAND_W', 2, '2095000'),
(1612786, '2019-01-01 00:00:00', 13569, 'Jakarta Timur', 'DKI Jakarta', 'P1700', 'BRAND_H', 5, '240000'),
(1612786, '2019-01-01 00:00:00', 13569, 'Jakarta Timur', 'DKI Jakarta', 'P0414', 'BRAND_B', 1, '2987000'),
(1612786, '2019-01-01 00:00:00', 13569, 'Jakarta Timur', 'DKI Jakarta', 'P3367', 'BRAND_S', 3, '1500000'),
(1612786, '2019-01-01 00:00:00', 13569, 'Jakarta Timur', 'DKI Jakarta', 'P0157', 'BRAND_A', 1, '1220000'),
(1612786, '2019-01-01 00:00:00', 13569, 'Jakarta Timur', 'DKI Jakarta', 'P4025', 'BRAND_W', 1, '1325000'),
(1612786, '2019-01-01 00:00:00', 13569, 'Jakarta Timur', 'DKI Jakarta', 'P0575', 'BRAND_B', 1, '159000'),
(1612786, '2019-01-01 00:00:00', 13569, 'Jakarta Timur', 'DKI Jakarta', 'P1417', 'BRAND_F', 1, '1500000'),
(1612786, '2019-01-01 00:00:00', 13569, 'Jakarta Timur', 'DKI Jakarta', 'P1945', 'BRAND_K', 1, '1325000'),
(1612786, '2019-01-01 00:00:00', 13569, 'Jakarta Timur', 'DKI Jakarta', 'P1285', 'BRAND_F', 1, '1045000'),
(1612786, '2019-01-01 00:00:00', 13569, 'Jakarta Timur', 'DKI Jakarta', 'P3481', 'BRAND_S', 1, '1745000'),
(1612786, '2019-01-01 00:00:00', 13569, 'Jakarta Timur', 'DKI Jakarta', 'P1475', 'BRAND_F', 3, '747000'),
(1612786, '2019-01-01 00:00:00', 13569, 'Jakarta Timur', 'DKI Jakarta', 'P3412', 'BRAND_S', 1, '1500000'),
(1612786, '2019-01-01 00:00:00', 13569, 'Jakarta Timur', 'DKI Jakarta', 'P1901', 'BRAND_J', 2, '695000'),
(1612786, '2019-01-01 00:00:00', 13569, 'Jakarta Timur', 'DKI Jakarta', 'P2797', 'BRAND_P', 1, '1045000'),
(1612786, '2019-01-01 00:00:00', 13569, 'Jakarta Timur', 'DKI Jakarta', 'P3739', 'BRAND_T', 2, '240000'),
(1612786, '2019-01-01 00:00:00', 13569, 'Jakarta Timur', 'DKI Jakarta', 'P3197', 'BRAND_S', 1, '1745000'),
(1612786, '2019-01-01 00:00:00', 13569, 'Jakarta Timur', 'DKI Jakarta', 'P2865', 'BRAND_R', 1, '1045000'),
(1612786, '2019-01-01 00:00:00', 13569, 'Jakarta Timur', 'DKI Jakarta', 'P3531', 'BRAND_S', 5, '310000'),
(1612786, '2019-01-01 00:00:00', 13569, 'Jakarta Timur', 'DKI Jakarta', 'P0414', 'BRAND_B', 1, '2987000'),
(1612786, '2019-01-01 00:00:00', 13569, 'Jakarta Timur', 'DKI Jakarta', 'P0963', 'BRAND_C', 2, '904000'),
(1612786, '2019-01-01 00:00:00', 13569, 'Jakarta Timur', 'DKI Jakarta', 'P0964', 'BRAND_C', 2, '904000'),
(1612795, '2019-01-01 00:00:00', 14135, 'Bogor', 'Jawa Barat', 'P0644', 'BRAND_C', 6, '1045000'),
(1612795, '2019-01-01 00:00:00', 14135, 'Bogor', 'Jawa Barat', 'P4033', 'BRAND_W', 6, '904000'),
(1612795, '2019-01-01 00:00:00', 14135, 'Bogor', 'Jawa Barat', 'P0166', 'BRAND_A', 4, '1325000'),
(1612795, '2019-01-01 00:00:00', 14135, 'Bogor', 'Jawa Barat', 'P0168', 'BRAND_A', 4, '1325000'),
(1612795, '2019-01-01 00:00:00', 14135, 'Bogor', 'Jawa Barat', 'P0171', 'BRAND_A', 4, '1325000'),
(1612795, '2019-01-01 00:00:00', 14135, 'Bogor', 'Jawa Barat', 'P1683', 'BRAND_H', 12, '747000'),
(1612795, '2019-01-01 00:00:00', 14135, 'Bogor', 'Jawa Barat', 'P2964', 'BRAND_R', 4, '1325000'),
(1612795, '2019-01-01 00:00:00', 14135, 'Bogor', 'Jawa Barat', 'P1800', 'BRAND_H', 4, '1640000'),
(1612795, '2019-01-01 00:00:00', 14135, 'Bogor', 'Jawa Barat', 'P1802', 'BRAND_H', 8, '1640000'),
(1612795, '2019-01-01 00:00:00', 14135, 'Bogor', 'Jawa Barat', 'P1805', 'BRAND_H', 8, '1395000'),
(1612795, '2019-01-01 00:00:00', 14135, 'Bogor', 'Jawa Barat', 'P0791', 'BRAND_C', 6, '1745000'),
(1612795, '2019-01-01 00:00:00', 14135, 'Bogor', 'Jawa Barat', 'P3132', 'BRAND_S', 6, '1745000'),
(1612795, '2019-01-01 00:00:00', 14135, 'Bogor', 'Jawa Barat', 'P0292', 'BRAND_B', 4, '2375000'),
(1612795, '2019-01-01 00:00:00', 14135, 'Bogor', 'Jawa Barat', 'P3177', 'BRAND_S', 4, '2375000'),
(1612798, '2019-01-01 00:00:00', 17954, 'Jakarta Selatan', 'DKI Jakarta', 'P0899', 'BRAND_C', 2, '3494000'),
(1612804, '2019-01-01 00:00:00', 17287, 'Jakarta Pusat', 'DKI Jakarta', 'P3574', 'BRAND_S', 1, '450000'),
(1612804, '2019-01-01 00:00:00', 17287, 'Jakarta Pusat', 'DKI Jakarta', 'P0255', 'BRAND_A', 7, '604000'),
(1612804, '2019-01-01 00:00:00', 17287, 'Jakarta Pusat', 'DKI Jakarta', 'P0220', 'BRAND_A', 6, '695000'),
(1612804, '2019-01-01 00:00:00', 17287, 'Jakarta Pusat', 'DKI Jakarta', 'P1734', 'BRAND_H', 6, '450000'),
(1612804, '2019-01-01 00:00:00', 17287, 'Jakarta Pusat', 'DKI Jakarta', 'P1935', 'BRAND_K', 3, '904000'),
(1612804, '2019-01-01 00:00:00', 17287, 'Jakarta Pusat', 'DKI Jakarta', 'P1118', 'BRAND_D', 2, '2795000'),
(1612804, '2019-01-01 00:00:00', 17287, 'Jakarta Pusat', 'DKI Jakarta', 'P1112', 'BRAND_D', 1, '2795000'),
(1612804, '2019-01-01 00:00:00', 17287, 'Jakarta Pusat', 'DKI Jakarta', 'P0233', 'BRAND_A', 18, '450000'),
(1612804, '2019-01-01 00:00:00', 17287, 'Jakarta Pusat', 'DKI Jakarta', 'P0234', 'BRAND_A', 18, '450000'),
(1612810, '2019-01-01 00:00:00', 14673, 'Jakarta Utara', 'DKI Jakarta', 'P3006', 'BRAND_R', 3, '1745000'),
(1612810, '2019-01-01 00:00:00', 14673, 'Jakarta Utara', 'DKI Jakarta', 'P1802', 'BRAND_H', 4, '1640000'),
(1612810, '2019-01-01 00:00:00', 14673, 'Jakarta Utara', 'DKI Jakarta', 'P0220', 'BRAND_A', 12, '695000'),
(1612810, '2019-01-01 00:00:00', 14673, 'Jakarta Utara', 'DKI Jakarta', 'P0063', 'BRAND_A', 8, '1045000'),
(1612810, '2019-01-01 00:00:00', 14673, 'Jakarta Utara', 'DKI Jakarta', 'P1685', 'BRAND_H', 36, '747000'),
(1612810, '2019-01-01 00:00:00', 14673, 'Jakarta Utara', 'DKI Jakarta', 'P2064', 'BRAND_L', 12, '159000'),
(1612810, '2019-01-01 00:00:00', 14673, 'Jakarta Utara', 'DKI Jakarta', 'P2445', 'BRAND_P', 24, '205000'),
(1612810, '2019-01-01 00:00:00', 14673, 'Jakarta Utara', 'DKI Jakarta', 'P3827', 'BRAND_V', 24, '450000'),
(1612810, '2019-01-01 00:00:00', 14673, 'Jakarta Utara', 'DKI Jakarta', 'P2551', 'BRAND_P', 24, '590000'),
(1612810, '2019-01-01 00:00:00', 14673, 'Jakarta Utara', 'DKI Jakarta', 'P1696', 'BRAND_H', 12, '590000'),
(1612810, '2019-01-01 00:00:00', 14673, 'Jakarta Utara', 'DKI Jakarta', 'P3475', 'BRAND_S', 12, '345000'),
(1612810, '2019-01-01 00:00:00', 14673, 'Jakarta Utara', 'DKI Jakarta', 'P1699', 'BRAND_H', 12, '450000'),
(1612810, '2019-01-01 00:00:00', 14673, 'Jakarta Utara', 'DKI Jakarta', 'P2900', 'BRAND_R', 12, '1045000'),
(1612810, '2019-01-01 00:00:00', 14673, 'Jakarta Utara', 'DKI Jakarta', 'P1741', 'BRAND_H', 12, '1045000'),
(1612810, '2019-01-01 00:00:00', 14673, 'Jakarta Utara', 'DKI Jakarta', 'P4049', 'BRAND_W', 6, '747000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P0128', 'BRAND_A', 24, '205000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P0984', 'BRAND_D', 12, '1045000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P0983', 'BRAND_D', 3, '1745000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P2946', 'BRAND_R', 2, '2795000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P0986', 'BRAND_D', 2, '2445000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P2923', 'BRAND_R', 24, '3494000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P1242', 'BRAND_E', 4, '1500000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P2761', 'BRAND_P', 12, '590000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P2763', 'BRAND_P', 12, '590000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P2762', 'BRAND_P', 12, '590000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P0880', 'BRAND_C', 12, '904000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P0884', 'BRAND_C', 12, '904000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P0258', 'BRAND_A', 2, '2795000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P0768', 'BRAND_C', 10, '450000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P0767', 'BRAND_C', 10, '450000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P0781', 'BRAND_C', 6, '747000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P0780', 'BRAND_C', 6, '747000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P0774', 'BRAND_C', 6, '747000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P3958', 'BRAND_W', 12, '520000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P2928', 'BRAND_R', 12, '2235000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P2445', 'BRAND_P', 24, '205000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P3345', 'BRAND_S', 12, '520000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P0055', 'BRAND_A', 48, '383000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P0875', 'BRAND_C', 48, '450000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P2932', 'BRAND_R', 6, '747000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P1969', 'BRAND_L', 6, '3494000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P2190', 'BRAND_M', 8, '520000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P0707', 'BRAND_C', 6, '3494000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P0775', 'BRAND_C', 6, '747000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P1780', 'BRAND_H', 6, '2095000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P2895', 'BRAND_R', 4, '1325000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P1655', 'BRAND_G', 4, '1325000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P1307', 'BRAND_F', 4, '1325000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P1306', 'BRAND_F', 4, '1325000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P1305', 'BRAND_F', 4, '1325000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P2606', 'BRAND_P', 12, '450000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P4041', 'BRAND_W', 12, '1745000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P4059', 'BRAND_W', 3, '2270000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P2157', 'BRAND_M', 8, '1045000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P0255', 'BRAND_A', 8, '604000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P2458', 'BRAND_P', 8, '604000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P3496', 'BRAND_S', 12, '590000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P2303', 'BRAND_N', 12, '590000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P0887', 'BRAND_C', 24, '975000'),
(1612813, '2019-01-01 00:00:00', 13488, 'Surabaya', 'Jawa Timur', 'P4009', 'BRAND_W', 32, '904000'),
(1612816, '2019-01-01 00:00:00', 16221, 'Jakarta Pusat', 'DKI Jakarta', 'P2896', 'BRAND_R', 7, '1325000'),
(1612816, '2019-01-01 00:00:00', 16221, 'Jakarta Pusat', 'DKI Jakarta', 'P1370', 'BRAND_F', 4, '1325000'),
(1612816, '2019-01-01 00:00:00', 16221, 'Jakarta Pusat', 'DKI Jakarta', 'P2968', 'BRAND_R', 4, '4475000'),
(1612816, '2019-01-01 00:00:00', 16221, 'Jakarta Pusat', 'DKI Jakarta', 'P0709', 'BRAND_C', 4, '520000'),
(1612816, '2019-01-01 00:00:00', 16221, 'Jakarta Pusat', 'DKI Jakarta', 'P0713', 'BRAND_C', 4, '520000'),
(1612816, '2019-01-01 00:00:00', 16221, 'Jakarta Pusat', 'DKI Jakarta', 'P3662', 'BRAND_S', 4, '450000'),
(1612816, '2019-01-01 00:00:00', 16221, 'Jakarta Pusat', 'DKI Jakarta', 'P0575', 'BRAND_B', 2, '159000'),
(1612816, '2019-01-01 00:00:00', 16221, 'Jakarta Pusat', 'DKI Jakarta', 'P3019', 'BRAND_R', 2, '345000'),
(1612816, '2019-01-01 00:00:00', 16221, 'Jakarta Pusat', 'DKI Jakarta', 'P3629', 'BRAND_S', 4, '450000'),
(1612816, '2019-01-01 00:00:00', 16221, 'Jakarta Pusat', 'DKI Jakarta', 'P4009', 'BRAND_W', 5, '1045000'),
(1612816, '2019-01-01 00:00:00', 16221, 'Jakarta Pusat', 'DKI Jakarta', 'P0654', 'BRAND_C', 4, '1045000'),
(1612816, '2019-01-01 00:00:00', 16221, 'Jakarta Pusat', 'DKI Jakarta', 'P2900', 'BRAND_R', 8, '1045000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P0116', 'BRAND_A', 6, '747000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P4009', 'BRAND_W', 19, '1045000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P0654', 'BRAND_C', 6, '1045000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P0686', 'BRAND_C', 6, '904000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P4049', 'BRAND_W', 10, '747000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P1742', 'BRAND_H', 9, '590000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P0805', 'BRAND_C', 48, '450000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P0686', 'BRAND_C', 24, '904000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P1563', 'BRAND_G', 36, '310000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P0601', 'BRAND_B', 2, '1500000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P1127', 'BRAND_D', 2, '1325000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P1513', 'BRAND_G', 4, '1500000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P1741', 'BRAND_H', 3, '1045000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P2964', 'BRAND_R', 6, '1325000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P0122', 'BRAND_A', 8, '590000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P2489', 'BRAND_P', 6, '1045000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P3261', 'BRAND_S', 6, '450000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P1511', 'BRAND_G', 12, '450000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P0817', 'BRAND_C', 4, '520000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P3335', 'BRAND_S', 6, '1045000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P0063', 'BRAND_A', 8, '1045000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P2580', 'BRAND_P', 4, '904000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P3334', 'BRAND_S', 6, '1045000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P1492', 'BRAND_G', 12, '1745000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P1597', 'BRAND_G', 9, '520000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P3729', 'BRAND_T', 4, '1045000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P2074', 'BRAND_L', 3, '2095000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P2546', 'BRAND_P', 2, '2445000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P2327', 'BRAND_N', 2, '2095000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P1889', 'BRAND_J', 2, '1745000'),
(1612819, '2019-01-01 00:00:00', 15002, 'Bogor', 'Jawa Barat', 'P2956', 'BRAND_R', 4, '1045000'),
(1612822, '2019-01-01 00:00:00', 15965, 'Tangerang', 'Banten', 'P3250', 'BRAND_S', 4, '310000'),
(1612822, '2019-01-01 00:00:00', 15965, 'Tangerang', 'Banten', 'P4009', 'BRAND_W', 6, '1045000'),
(1612822, '2019-01-01 00:00:00', 15965, 'Tangerang', 'Banten', 'P1685', 'BRAND_H', 3, '747000'),
(1612822, '2019-01-01 00:00:00', 15965, 'Tangerang', 'Banten', 'P1285', 'BRAND_F', 6, '1045000'),
(1612822, '2019-01-01 00:00:00', 15965, 'Tangerang', 'Banten', 'P0010', 'BRAND_S', 4, '1045000'),
(1612822, '2019-01-01 00:00:00', 15965, 'Tangerang', 'Banten', 'P0753', 'BRAND_C', 2, '1220000'),
(1612822, '2019-01-01 00:00:00', 15965, 'Tangerang', 'Banten', 'P3741', 'BRAND_T', 4, '747000'),
(1612822, '2019-01-01 00:00:00', 15965, 'Tangerang', 'Banten', 'P4025', 'BRAND_W', 6, '1325000'),
(1612822, '2019-01-01 00:00:00', 15965, 'Tangerang', 'Banten', 'P3909', 'BRAND_V', 2, '2987000'),
(1612822, '2019-01-01 00:00:00', 15965, 'Tangerang', 'Banten', 'P2104', 'BRAND_L', 2, '695000'),
(1612822, '2019-01-01 00:00:00', 15965, 'Tangerang', 'Banten', 'P0679', 'BRAND_C', 12, '159000'),
(1612822, '2019-01-01 00:00:00', 15965, 'Tangerang', 'Banten', 'P3027', 'BRAND_R', 3, '590000'),
(1612822, '2019-01-01 00:00:00', 15965, 'Tangerang', 'Banten', 'P0126', 'BRAND_A', 6, '205000'),
(1612822, '2019-01-01 00:00:00', 15965, 'Tangerang', 'Banten', 'P1906', 'BRAND_J', 5, '695000'),
(1612822, '2019-01-01 00:00:00', 15965, 'Tangerang', 'Banten', 'P1902', 'BRAND_J', 4, '695000'),
(1612822, '2019-01-01 00:00:00', 15965, 'Tangerang', 'Banten', 'P1900', 'BRAND_J', 5, '695000');

 * sqlite://
202 rows affected.

[]

In [31]:
%%sql

INSERT INTO 
    sales_retail_2019
VALUES
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P3442', 'BRAND_S', 12, '590000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P0255', 'BRAND_A', 16, '604000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P2161', 'BRAND_M', 8, '695000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P1401', 'BRAND_F', 6, '310000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P3041', 'BRAND_R', 2, '310000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P3042', 'BRAND_R', 5, '310000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P2302', 'BRAND_N', 2, '1045000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P3496', 'BRAND_S', 3, '590000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P0694', 'BRAND_C', 2, '904000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P0695', 'BRAND_C', 2, '904000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P4080', 'BRAND_W', 8, '310000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P4073', 'BRAND_W', 8, '310000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P2893', 'BRAND_R', 4, '590000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P1832', 'BRAND_I', 5, '590000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P2764', 'BRAND_P', 1, '590000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P2968', 'BRAND_R', 1, '4475000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P0680', 'BRAND_C', 24, '159000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P2494', 'BRAND_P', 10, '1045000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P0036', 'BRAND_A', 5, '240000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P0037', 'BRAND_A', 5, '240000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P1127', 'BRAND_D', 2, '1325000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P4050', 'BRAND_W', 1, '695000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P4051', 'BRAND_W', 2, '520000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P1741', 'BRAND_H', 2, '1045000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P3004', 'BRAND_R', 4, '450000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P0906', 'BRAND_C', 8, '450000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P3024', 'BRAND_R', 5, '747000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P3029', 'BRAND_R', 5, '590000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P1118', 'BRAND_D', 2, '2795000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P1112', 'BRAND_D', 1, '2795000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P1114', 'BRAND_D', 1, '2795000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P1102', 'BRAND_D', 1, '2795000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P2812', 'BRAND_P', 3, '450000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P1661', 'BRAND_G', 1, '2795000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P1400', 'BRAND_F', 12, '310000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P2489', 'BRAND_P', 15, '1045000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P2492', 'BRAND_P', 6, '1045000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P1659', 'BRAND_G', 2, '747000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P3827', 'BRAND_V', 12, '450000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P2762', 'BRAND_P', 3, '590000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P2764', 'BRAND_P', 2, '590000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P2761', 'BRAND_P', 3, '590000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P2594', 'BRAND_P', 3, '1325000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P2881', 'BRAND_R', 3, '1325000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P1600', 'BRAND_G', 3, '1325000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P0449', 'BRAND_B', 3, '1325000'),
(1612825, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P1660', 'BRAND_G', 1, '2795000'),
(1612828, '2019-01-01 00:00:00', 17675, 'Jakarta Pusat', 'DKI Jakarta', 'P0167', 'BRAND_A', 8, '1325000'),
(1612828, '2019-01-01 00:00:00', 17675, 'Jakarta Pusat', 'DKI Jakarta', 'P0168', 'BRAND_A', 8, '1325000'),
(1612828, '2019-01-01 00:00:00', 17675, 'Jakarta Pusat', 'DKI Jakarta', 'P1680', 'BRAND_H', 36, '747000'),
(1612828, '2019-01-01 00:00:00', 17675, 'Jakarta Pusat', 'DKI Jakarta', 'P1679', 'BRAND_H', 36, '747000'),
(1612828, '2019-01-01 00:00:00', 17675, 'Jakarta Pusat', 'DKI Jakarta', 'P1685', 'BRAND_H', 12, '747000'),
(1612828, '2019-01-01 00:00:00', 17675, 'Jakarta Pusat', 'DKI Jakarta', 'P0931', 'BRAND_C', 8, '1395000'),
(1612828, '2019-01-01 00:00:00', 17675, 'Jakarta Pusat', 'DKI Jakarta', 'P0887', 'BRAND_C', 24, '975000'),
(1612828, '2019-01-01 00:00:00', 17675, 'Jakarta Pusat', 'DKI Jakarta', 'P1604', 'BRAND_G', 8, '1500000'),
(1612828, '2019-01-01 00:00:00', 17675, 'Jakarta Pusat', 'DKI Jakarta', 'P1674', 'BRAND_H', 48, '604000'),
(1612828, '2019-01-01 00:00:00', 17675, 'Jakarta Pusat', 'DKI Jakarta', 'P0234', 'BRAND_A', 24, '450000'),
(1612828, '2019-01-01 00:00:00', 17675, 'Jakarta Pusat', 'DKI Jakarta', 'P1780', 'BRAND_H', 12, '2095000'),
(1612828, '2019-01-01 00:00:00', 17675, 'Jakarta Pusat', 'DKI Jakarta', 'P4059', 'BRAND_W', 12, '1955000'),
(1612837, '2019-01-01 00:00:00', 13769, 'Tangerang', 'Banten', 'P2900', 'BRAND_R', 6, '1045000'),
(1612837, '2019-01-01 00:00:00', 13769, 'Tangerang', 'Banten', 'P4009', 'BRAND_W', 6, '1045000'),
(1612837, '2019-01-01 00:00:00', 13769, 'Tangerang', 'Banten', 'P0887', 'BRAND_C', 48, '975000'),
(1612837, '2019-01-01 00:00:00', 13769, 'Tangerang', 'Banten', 'P1741', 'BRAND_H', 6, '1045000'),
(1612837, '2019-01-01 00:00:00', 13769, 'Tangerang', 'Banten', 'P1742', 'BRAND_H', 12, '590000'),
(1612837, '2019-01-01 00:00:00', 13769, 'Tangerang', 'Banten', 'P2281', 'BRAND_M', 12, '310000'),
(1612837, '2019-01-01 00:00:00', 13769, 'Tangerang', 'Banten', 'P1951', 'BRAND_L', 6, '904000'),
(1612837, '2019-01-01 00:00:00', 13769, 'Tangerang', 'Banten', 'P0063', 'BRAND_A', 16, '1045000'),
(1612837, '2019-01-01 00:00:00', 13769, 'Tangerang', 'Banten', 'P1656', 'BRAND_G', 4, '1325000'),
(1612837, '2019-01-01 00:00:00', 13769, 'Tangerang', 'Banten', 'P0791', 'BRAND_C', 6, '1745000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P0169', 'BRAND_A', 2, '1325000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P0167', 'BRAND_A', 3, '1325000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P0166', 'BRAND_A', 2, '1325000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P0170', 'BRAND_A', 2, '1325000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P0168', 'BRAND_A', 2, '1325000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P0171', 'BRAND_A', 3, '1325000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P1680', 'BRAND_H', 10, '747000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P1678', 'BRAND_H', 14, '747000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P1685', 'BRAND_H', 34, '747000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P1683', 'BRAND_H', 7, '747000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P1684', 'BRAND_H', 8, '747000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P1679', 'BRAND_H', 18, '747000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P2159', 'BRAND_M', 7, '310000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P2494', 'BRAND_P', 3, '1045000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P2489', 'BRAND_P', 3, '1045000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P1663', 'BRAND_G', 2, '904000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P1304', 'BRAND_F', 2, '1500000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P0927', 'BRAND_C', 1, '1150000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P1193', 'BRAND_E', 2, '2095000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P3481', 'BRAND_S', 1, '1745000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P0109', 'BRAND_A', 2, '590000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P1915', 'BRAND_J', 1, '695000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P1897', 'BRAND_J', 1, '695000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P1894', 'BRAND_J', 1, '1045000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P1904', 'BRAND_J', 1, '695000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P1913', 'BRAND_J', 1, '695000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P1914', 'BRAND_J', 1, '695000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P1905', 'BRAND_J', 1, '695000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P1890', 'BRAND_J', 1, '695000'),
(1612843, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P1902', 'BRAND_J', 1, '695000'),
(1612846, '2019-01-01 00:00:00', 15898, 'Jakarta Pusat', 'DKI Jakarta', 'P1105', 'BRAND_D', 5, '2795000'),
(1612846, '2019-01-01 00:00:00', 15898, 'Jakarta Pusat', 'DKI Jakarta', 'P1118', 'BRAND_D', 4, '2795000'),
(1612846, '2019-01-01 00:00:00', 15898, 'Jakarta Pusat', 'DKI Jakarta', 'P1116', 'BRAND_D', 2, '2795000'),
(1612846, '2019-01-01 00:00:00', 15898, 'Jakarta Pusat', 'DKI Jakarta', 'P1102', 'BRAND_D', 5, '2795000'),
(1612846, '2019-01-01 00:00:00', 15898, 'Jakarta Pusat', 'DKI Jakarta', 'P0010', 'BRAND_S', 4, '1045000'),
(1612849, '2019-01-01 00:00:00', 16904, 'Bandung', 'Jawa Barat', 'P0047', 'BRAND_A', 2, '2795000'),
(1612852, '2019-01-01 00:00:00', 16086, 'Jakarta Selatan', 'DKI Jakarta', 'P2625', 'BRAND_P', 12, '450000'),
(1612852, '2019-01-01 00:00:00', 16086, 'Jakarta Selatan', 'DKI Jakarta', 'P1655', 'BRAND_G', 4, '1325000'),
(1612852, '2019-01-01 00:00:00', 16086, 'Jakarta Selatan', 'DKI Jakarta', 'P2895', 'BRAND_R', 4, '1325000'),
(1612852, '2019-01-01 00:00:00', 16086, 'Jakarta Selatan', 'DKI Jakarta', 'P0649', 'BRAND_C', 24, '604000'),
(1612852, '2019-01-01 00:00:00', 16086, 'Jakarta Selatan', 'DKI Jakarta', 'P1902', 'BRAND_J', 10, '695000'),
(1612852, '2019-01-01 00:00:00', 16086, 'Jakarta Selatan', 'DKI Jakarta', 'P3909', 'BRAND_V', 2, '2987000'),
(1612852, '2019-01-01 00:00:00', 16086, 'Jakarta Selatan', 'DKI Jakarta', 'P2226', 'BRAND_M', 12, '747000'),
(1612852, '2019-01-01 00:00:00', 16086, 'Jakarta Selatan', 'DKI Jakarta', 'P1945', 'BRAND_K', 8, '1325000'),
(1612855, '2019-01-01 00:00:00', 15061, 'Jakarta Utara', 'DKI Jakarta', 'P3071', 'BRAND_R', 120, '670000'),
(1612855, '2019-01-01 00:00:00', 15061, 'Jakarta Utara', 'DKI Jakarta', 'P1704', 'BRAND_H', 192, '264000'),
(1612855, '2019-01-01 00:00:00', 15061, 'Jakarta Utara', 'DKI Jakarta', 'P1112', 'BRAND_D', 20, '2375000'),
(1612855, '2019-01-01 00:00:00', 15061, 'Jakarta Utara', 'DKI Jakarta', 'P3588', 'BRAND_S', 64, '590000'),
(1612855, '2019-01-01 00:00:00', 15061, 'Jakarta Utara', 'DKI Jakarta', 'P2430', 'BRAND_P', 24, '450000'),
(1612855, '2019-01-01 00:00:00', 15061, 'Jakarta Utara', 'DKI Jakarta', 'P2194', 'BRAND_M', 24, '138000'),
(1612855, '2019-01-01 00:00:00', 15061, 'Jakarta Utara', 'DKI Jakarta', 'P2201', 'BRAND_M', 24, '138000'),
(1612855, '2019-01-01 00:00:00', 15061, 'Jakarta Utara', 'DKI Jakarta', 'P2120', 'BRAND_M', 24, '138000'),
(1612855, '2019-01-01 00:00:00', 15061, 'Jakarta Utara', 'DKI Jakarta', 'P2118', 'BRAND_M', 24, '138000'),
(1612855, '2019-01-01 00:00:00', 15061, 'Jakarta Utara', 'DKI Jakarta', 'P1663', 'BRAND_G', 36, '747000'),
(1612855, '2019-01-01 00:00:00', 15061, 'Jakarta Utara', 'DKI Jakarta', 'P2143', 'BRAND_M', 12, '904000'),
(1612855, '2019-01-01 00:00:00', 15061, 'Jakarta Utara', 'DKI Jakarta', 'P2968', 'BRAND_R', 80, '3844000'),
(1612855, '2019-01-01 00:00:00', 15061, 'Jakarta Utara', 'DKI Jakarta', 'P0120', 'BRAND_A', 144, '520000'),
(1612855, '2019-01-01 00:00:00', 15061, 'Jakarta Utara', 'DKI Jakarta', 'P2445', 'BRAND_P', 48, '159000'),
(1612855, '2019-01-01 00:00:00', 15061, 'Jakarta Utara', 'DKI Jakarta', 'P1114', 'BRAND_D', 20, '2375000'),
(1612855, '2019-01-01 00:00:00', 15061, 'Jakarta Utara', 'DKI Jakarta', 'P2796', 'BRAND_P', 100, '37000'),
(1612858, '2019-01-01 00:00:00', 13786, 'Jakarta Timur', 'DKI Jakarta', 'P4009', 'BRAND_W', 32, '904000'),
(1612858, '2019-01-01 00:00:00', 13786, 'Jakarta Timur', 'DKI Jakarta', 'P1702', 'BRAND_H', 24, '310000'),
(1612858, '2019-01-01 00:00:00', 13786, 'Jakarta Timur', 'DKI Jakarta', 'P2880', 'BRAND_R', 24, '450000'),
(1612858, '2019-01-01 00:00:00', 13786, 'Jakarta Timur', 'DKI Jakarta', 'P2781', 'BRAND_P', 12, '520000'),
(1612858, '2019-01-01 00:00:00', 13786, 'Jakarta Timur', 'DKI Jakarta', 'P3910', 'BRAND_V', 8, '1745000'),
(1612858, '2019-01-01 00:00:00', 13786, 'Jakarta Timur', 'DKI Jakarta', 'P0491', 'BRAND_B', 24, '450000'),
(1612858, '2019-01-01 00:00:00', 13786, 'Jakarta Timur', 'DKI Jakarta', 'P3475', 'BRAND_S', 12, '345000'),
(1612861, '2019-01-01 00:00:00', 13880, 'Bogor', 'Jawa Barat', 'P0216', 'BRAND_A', 6, '747000'),
(1612861, '2019-01-01 00:00:00', 13880, 'Bogor', 'Jawa Barat', 'P1376', 'BRAND_F', 12, '310000'),
(1612861, '2019-01-01 00:00:00', 13880, 'Bogor', 'Jawa Barat', 'P1639', 'BRAND_G', 4, '1325000'),
(1612861, '2019-01-01 00:00:00', 13880, 'Bogor', 'Jawa Barat', 'P2964', 'BRAND_R', 8, '1325000'),
(1612861, '2019-01-01 00:00:00', 13880, 'Bogor', 'Jawa Barat', 'P0234', 'BRAND_A', 12, '450000'),
(1612861, '2019-01-01 00:00:00', 13880, 'Bogor', 'Jawa Barat', 'P3676', 'BRAND_T', 12, '450000'),
(1612867, '2019-01-01 00:00:00', 13173, 'Jakarta Pusat', 'DKI Jakarta', 'P1866', 'BRAND_J', 12, '310000'),
(1612867, '2019-01-01 00:00:00', 13173, 'Jakarta Pusat', 'DKI Jakarta', 'P1867', 'BRAND_J', 1, '520000'),
(1612867, '2019-01-01 00:00:00', 13173, 'Jakarta Pusat', 'DKI Jakarta', 'P3747', 'BRAND_T', 1, '450000'),
(1612867, '2019-01-01 00:00:00', 13173, 'Jakarta Pusat', 'DKI Jakarta', 'P3249', 'BRAND_S', 1, '747000'),
(1612867, '2019-01-01 00:00:00', 13173, 'Jakarta Pusat', 'DKI Jakarta', 'P2456', 'BRAND_P', 2, '159000'),
(1612867, '2019-01-01 00:00:00', 13173, 'Jakarta Pusat', 'DKI Jakarta', 'P0313', 'BRAND_B', 1, '695000'),
(1612867, '2019-01-01 00:00:00', 13173, 'Jakarta Pusat', 'DKI Jakarta', 'P4056', 'BRAND_W', 1, '590000'),
(1612867, '2019-01-01 00:00:00', 13173, 'Jakarta Pusat', 'DKI Jakarta', 'P0314', 'BRAND_B', 1, '159000'),
(1612867, '2019-01-01 00:00:00', 13173, 'Jakarta Pusat', 'DKI Jakarta', 'P2964', 'BRAND_R', 4, '1325000'),
(1612867, '2019-01-01 00:00:00', 13173, 'Jakarta Pusat', 'DKI Jakarta', 'P2411', 'BRAND_P', 12, '113000'),
(1612867, '2019-01-01 00:00:00', 13173, 'Jakarta Pusat', 'DKI Jakarta', 'P3132', 'BRAND_S', 1, '1745000'),
(1612867, '2019-01-01 00:00:00', 13173, 'Jakarta Pusat', 'DKI Jakarta', 'P0563', 'BRAND_B', 1, '2095000'),
(1612867, '2019-01-01 00:00:00', 13173, 'Jakarta Pusat', 'DKI Jakarta', 'P3744', 'BRAND_T', 1, '747000'),
(1612867, '2019-01-01 00:00:00', 13173, 'Jakarta Pusat', 'DKI Jakarta', 'P2281', 'BRAND_M', 12, '310000'),
(1612867, '2019-01-01 00:00:00', 13173, 'Jakarta Pusat', 'DKI Jakarta', 'P0429', 'BRAND_B', 24, '450000'),
(1612867, '2019-01-01 00:00:00', 13173, 'Jakarta Pusat', 'DKI Jakarta', 'P2082', 'BRAND_L', 25, '86000'),
(1612867, '2019-01-01 00:00:00', 13173, 'Jakarta Pusat', 'DKI Jakarta', 'P3108', 'BRAND_S', 2, '1745000'),
(1612867, '2019-01-01 00:00:00', 13173, 'Jakarta Pusat', 'DKI Jakarta', 'P1679', 'BRAND_H', 1, '747000'),
(1612867, '2019-01-01 00:00:00', 13173, 'Jakarta Pusat', 'DKI Jakarta', 'P1773', 'BRAND_H', 1, '590000'),
(1612867, '2019-01-01 00:00:00', 13173, 'Jakarta Pusat', 'DKI Jakarta', 'P3008', 'BRAND_R', 4, '1745000'),
(1612867, '2019-01-01 00:00:00', 13173, 'Jakarta Pusat', 'DKI Jakarta', 'P2947', 'BRAND_R', 2, '2095000'),
(1612867, '2019-01-01 00:00:00', 13173, 'Jakarta Pusat', 'DKI Jakarta', 'P1191', 'BRAND_E', 2, '2095000'),
(1612867, '2019-01-01 00:00:00', 13173, 'Jakarta Pusat', 'DKI Jakarta', 'P1190', 'BRAND_E', 2, '2095000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P2104', 'BRAND_L', 2, '695000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P0124', 'BRAND_A', 2, '240000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P0010', 'BRAND_S', 2, '1045000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P2491', 'BRAND_P', 1, '1045000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P2793', 'BRAND_P', 1, '747000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P2795', 'BRAND_P', 1, '747000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P2794', 'BRAND_P', 1, '747000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P1304', 'BRAND_F', 1, '1500000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P3749', 'BRAND_T', 3, '450000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P0312', 'BRAND_B', 3, '695000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P3861', 'BRAND_V', 1, '2235000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P3233', 'BRAND_S', 1, '4475000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P3235', 'BRAND_S', 1, '4475000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P3236', 'BRAND_S', 1, '4475000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P3234', 'BRAND_S', 1, '4475000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P0576', 'BRAND_B', 4, '1500000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P3334', 'BRAND_S', 2, '1045000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P0810', 'BRAND_C', 3, '2987000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P0809', 'BRAND_C', 3, '2987000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P0811', 'BRAND_C', 2, '1745000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P3021', 'BRAND_R', 5, '590000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P3027', 'BRAND_R', 5, '590000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P3028', 'BRAND_R', 5, '590000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P2324', 'BRAND_N', 6, '450000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P2429', 'BRAND_P', 3, '310000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P1905', 'BRAND_J', 1, '695000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P2427', 'BRAND_P', 2, '310000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P3250', 'BRAND_S', 4, '310000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P2426', 'BRAND_P', 2, '310000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P0680', 'BRAND_C', 24, '159000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P2535', 'BRAND_P', 6, '520000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P0797', 'BRAND_C', 1, '747000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P3029', 'BRAND_R', 5, '590000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P3561', 'BRAND_S', 1, '1045000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P2523', 'BRAND_P', 6, '310000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P0233', 'BRAND_A', 12, '450000 '),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P0235', 'BRAND_A', 7, '1325000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P3510', 'BRAND_S', 8, '747000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P0219', 'BRAND_A', 4, '1045000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P3676', 'BRAND_T', 12, '450000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P0813', 'BRAND_C', 30, '310000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P0093', 'BRAND_A', 5, '450000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P0087', 'BRAND_A', 5, '450000'),
(1612870, '2019-01-01 00:00:00', 15858, 'Bandung', 'Jawa Barat', 'P0092', 'BRAND_A', 4, '450000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P3020', 'BRAND_R', 5, '590000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P4035', 'BRAND_W', 1, '2795000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P1845', 'BRAND_I', 12, '1045000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P0264', 'BRAND_A', 24, '159000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P0097', 'BRAND_A', 12, '747000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P0264', 'BRAND_A', 24, '159000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P1208', 'BRAND_E', 1, '450000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P1207', 'BRAND_E', 2, '450000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P1206', 'BRAND_E', 4, '450000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P1207', 'BRAND_E', 3, '450000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P1906', 'BRAND_J', 1, '695000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P4062', 'BRAND_W', 1, '590000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P0128', 'BRAND_A', 1, '205000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P2226', 'BRAND_M', 2, '747000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P0132', 'BRAND_A', 1, '205000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P0125', 'BRAND_A', 1, '205000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P3218', 'BRAND_S', 1, '2987000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P0642', 'BRAND_C', 1, '1045000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P1922', 'BRAND_K', 1, '4475000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P0318', 'BRAND_B', 12, '159000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P4072', 'BRAND_W', 1, '1045000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P2760', 'BRAND_P', 1, '590000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P0421', 'BRAND_B', 1, '590000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P1387', 'BRAND_F', 1, '1745000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P2114', 'BRAND_M', 2, '159000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P2764', 'BRAND_P', 1, '590000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P4079', 'BRAND_W', 1, '5595000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P0041', 'BRAND_A', 1, '310000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P1565', 'BRAND_G', 3, '310000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P1569', 'BRAND_G', 1, '1325000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P1491', 'BRAND_G', 1, '1500000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P2865', 'BRAND_R', 1, '1045000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P0825', 'BRAND_C', 2, '450000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P1661', 'BRAND_G', 1, '2795000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P1446', 'BRAND_F', 6, '1045000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P3013', 'BRAND_R', 1, '1745000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P2354', 'BRAND_O', 1, '1500000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P0563', 'BRAND_B', 1, '2095000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P2290', 'BRAND_M', 4, '310000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P3542', 'BRAND_S', 2, '1745000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P3019', 'BRAND_R', 1, '345000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P2964', 'BRAND_R', 1, '1325000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P4025', 'BRAND_W', 1, '1325000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P3957', 'BRAND_W', 1, '904000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P3495', 'BRAND_S', 1, '590000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P1057', 'BRAND_D', 1, '590000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P0315', 'BRAND_B', 2, '590000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P0158', 'BRAND_A', 4, '240000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P2902', 'BRAND_R', 1, '1045000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P0825', 'BRAND_C', 1, '450000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P2104', 'BRAND_L', 2, '695000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P1914', 'BRAND_J', 1, '695000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P2230', 'BRAND_M', 1, '904000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P0548', 'BRAND_B', 2, '450000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P1057', 'BRAND_D', 1, '590000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P0436', 'BRAND_B', 1, '2095000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P0872', 'BRAND_C', 2, '747000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P1845', 'BRAND_I', 2, '1045000'),
(1612873, '2019-01-01 00:00:00', 12748, 'Jakarta Utara', 'DKI Jakarta', 'P0097', 'BRAND_A', 2, '904000'),
(1612876, '2019-01-01 00:00:00', 15180, 'Purwokerto', 'Jawa Tengah', 'P1597', 'BRAND_G', 9, '520000'),
(1612876, '2019-01-01 00:00:00', 15180, 'Purwokerto', 'Jawa Tengah', 'P3689', 'BRAND_T', 12, '310000'),
(1612876, '2019-01-01 00:00:00', 15180, 'Purwokerto', 'Jawa Tengah', 'P1656', 'BRAND_G', 4, '1325000'),
(1612876, '2019-01-01 00:00:00', 15180, 'Purwokerto', 'Jawa Tengah', 'P1802', 'BRAND_H', 4, '1640000'),
(1612876, '2019-01-01 00:00:00', 15180, 'Purwokerto', 'Jawa Tengah', 'P1805', 'BRAND_H', 4, '1395000'),
(1612876, '2019-01-01 00:00:00', 15180, 'Purwokerto', 'Jawa Tengah', 'P0791', 'BRAND_C', 3, '1745000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P0388', 'BRAND_B', 12, '747000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P0159', 'BRAND_A', 4, '1500000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P0887', 'BRAND_C', 12, '1150000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P2205', 'BRAND_M', 36, '240000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P0870', 'BRAND_C', 12, '450000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P2637', 'BRAND_P', 12, '450000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P1607', 'BRAND_G', 12, '450000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P2891', 'BRAND_R', 12, '450000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P2827', 'BRAND_P', 12, '450000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P0471', 'BRAND_B', 12, '450000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P0166', 'BRAND_A', 4, '1325000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P0167', 'BRAND_A', 4, '1325000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P0171', 'BRAND_A', 4, '1325000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P0170', 'BRAND_A', 4, '1325000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P0169', 'BRAND_A', 4, '1325000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P1414', 'BRAND_F', 6, '747000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P0412', 'BRAND_B', 30, '450000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P0330', 'BRAND_B', 12, '520000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P1982', 'BRAND_L', 12, '590000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P0576', 'BRAND_B', 6, '1500000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P0449', 'BRAND_B', 6, '1325000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P2881', 'BRAND_R', 6, '1325000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P2594', 'BRAND_P', 6, '1325000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P1226', 'BRAND_E', 12, '450000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P3246', 'BRAND_S', 4, '1500000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P3365', 'BRAND_S', 3, '1745000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P0563', 'BRAND_B', 6, '2095000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P2960', 'BRAND_R', 12, '590000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P0088', 'BRAND_A', 24, '1045000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P0402', 'BRAND_B', 12, '1640000'),
(1612879, '2019-01-01 00:00:00', 12347, 'unknown', 'unknown', 'P0648', 'BRAND_C', 6, '1934000'),
(1612882, '2019-01-01 00:00:00', 14739, 'Jakarta Utara', 'DKI Jakarta', 'P3747', 'BRAND_T', 24, '450000'),
(1612882, '2019-01-01 00:00:00', 14739, 'Jakarta Utara', 'DKI Jakarta', 'P2489', 'BRAND_P', 40, '904000'),
(1612882, '2019-01-01 00:00:00', 14739, 'Jakarta Utara', 'DKI Jakarta', 'P2494', 'BRAND_P', 40, '904000'),
(1612882, '2019-01-01 00:00:00', 14739, 'Jakarta Utara', 'DKI Jakarta', 'P3990', 'BRAND_W', 48, '520000'),
(1612882, '2019-01-01 00:00:00', 14739, 'Jakarta Utara', 'DKI Jakarta', 'P3191', 'BRAND_S', 24, '159000'),
(1612882, '2019-01-01 00:00:00', 14739, 'Jakarta Utara', 'DKI Jakarta', 'P0296', 'BRAND_B', 72, '264000'),
(1612882, '2019-01-01 00:00:00', 14739, 'Jakarta Utara', 'DKI Jakarta', 'P3052', 'BRAND_R', 12, '450000'),
(1612882, '2019-01-01 00:00:00', 14739, 'Jakarta Utara', 'DKI Jakarta', 'P0595', 'BRAND_B', 12, '450000'),
(1612882, '2019-01-01 00:00:00', 14739, 'Jakarta Utara', 'DKI Jakarta', 'P0789', 'BRAND_C', 12, '450000'),
(1612882, '2019-01-01 00:00:00', 14739, 'Jakarta Utara', 'DKI Jakarta', 'P1935', 'BRAND_K', 48, '747000'),
(1612882, '2019-01-01 00:00:00', 14739, 'Jakarta Utara', 'DKI Jakarta', 'P0907', 'BRAND_C', 48, '747000'),
(1612882, '2019-01-01 00:00:00', 14739, 'Jakarta Utara', 'DKI Jakarta', 'P3827', 'BRAND_V', 96, '383000'),
(1612885, '2019-01-01 00:00:00', 16293, 'Malang', 'Jawa Timur', 'P1301', 'BRAND_F', 6, '747000'),
(1612885, '2019-01-01 00:00:00', 16293, 'Malang', 'Jawa Timur', 'P2625', 'BRAND_P', 12, '450000'),
(1612885, '2019-01-01 00:00:00', 16293, 'Malang', 'Jawa Timur', 'P2923', 'BRAND_R', 1, '3844000'),
(1612885, '2019-01-01 00:00:00', 16293, 'Malang', 'Jawa Timur', 'P0937', 'BRAND_C', 2, '4475000'),
(1612885, '2019-01-01 00:00:00', 16293, 'Malang', 'Jawa Timur', 'P2074', 'BRAND_L', 3, '2095000'),
(1612885, '2019-01-01 00:00:00', 16293, 'Malang', 'Jawa Timur', 'P1662', 'BRAND_G', 24, '450000'),
(1612885, '2019-01-01 00:00:00', 16293, 'Malang', 'Jawa Timur', 'P2925', 'BRAND_R', 6, '1150000'),
(1612885, '2019-01-01 00:00:00', 16293, 'Malang', 'Jawa Timur', 'P2578', 'BRAND_P', 24, '450000'),
(1612885, '2019-01-01 00:00:00', 16293, 'Malang', 'Jawa Timur', 'P1678', 'BRAND_H', 24, '747000'),
(1612885, '2019-01-01 00:00:00', 16293, 'Malang', 'Jawa Timur', 'P1679', 'BRAND_H', 24, '747000'),
(1612885, '2019-01-01 00:00:00', 16293, 'Malang', 'Jawa Timur', 'P0792', 'BRAND_C', 12, '747000'),
(1612885, '2019-01-01 00:00:00', 16293, 'Malang', 'Jawa Timur', 'P1508', 'BRAND_G', 12, '747000'),
(1612885, '2019-01-01 00:00:00', 16293, 'Malang', 'Jawa Timur', 'P2281', 'BRAND_M', 12, '310000'),
(1612885, '2019-01-01 00:00:00', 16293, 'Malang', 'Jawa Timur', 'P0654', 'BRAND_C', 6, '1045000'),
(1612885, '2019-01-01 00:00:00', 16293, 'Malang', 'Jawa Timur', 'P3407', 'BRAND_S', 12, '747000'),
(1612885, '2019-01-01 00:00:00', 16293, 'Malang', 'Jawa Timur', 'P1597', 'BRAND_G', 9, '520000'),
(1612888, '2019-01-01 00:00:00', 17419, 'Jakarta Selatan', 'DKI Jakarta', 'P0966', 'BRAND_C', 1, '5245000'),
(1612888, '2019-01-01 00:00:00', 17419, 'Jakarta Selatan', 'DKI Jakarta', 'P1027', 'BRAND_D', 12, '450000'),
(1612888, '2019-01-01 00:00:00', 17419, 'Jakarta Selatan', 'DKI Jakarta', 'P1301', 'BRAND_F', 6, '747000'),
(1612888, '2019-01-01 00:00:00', 17419, 'Jakarta Selatan', 'DKI Jakarta', 'P2651', 'BRAND_P', 4, '1325000'),
(1612888, '2019-01-01 00:00:00', 17419, 'Jakarta Selatan', 'DKI Jakarta', 'P3662', 'BRAND_S', 12, '450000'),
(1612888, '2019-01-01 00:00:00', 17419, 'Jakarta Selatan', 'DKI Jakarta', 'P0255', 'BRAND_A', 8, '604000'),
(1612888, '2019-01-01 00:00:00', 17419, 'Jakarta Selatan', 'DKI Jakarta', 'P1741', 'BRAND_H', 12, '1045000'),
(1612888, '2019-01-01 00:00:00', 17419, 'Jakarta Selatan', 'DKI Jakarta', 'P0931', 'BRAND_C', 8, '1395000'),
(1612888, '2019-01-01 00:00:00', 17419, 'Jakarta Selatan', 'DKI Jakarta', 'P2445', 'BRAND_P', 24, '205000'),
(1612888, '2019-01-01 00:00:00', 17419, 'Jakarta Selatan', 'DKI Jakarta', 'P0825', 'BRAND_C', 24, '450000'),
(1612888, '2019-01-01 00:00:00', 17419, 'Jakarta Selatan', 'DKI Jakarta', 'P1662', 'BRAND_G', 24, '450000'),
(1612888, '2019-01-01 00:00:00', 17419, 'Jakarta Selatan', 'DKI Jakarta', 'P4069', 'BRAND_W', 12, '450000'),
(1612888, '2019-01-01 00:00:00', 17419, 'Jakarta Selatan', 'DKI Jakarta', 'P0491', 'BRAND_B', 12, '450000'),
(1612888, '2019-01-01 00:00:00', 17419, 'Jakarta Selatan', 'DKI Jakarta', 'P2880', 'BRAND_R', 12, '450000'),
(1612888, '2019-01-01 00:00:00', 17419, 'Jakarta Selatan', 'DKI Jakarta', 'P0935', 'BRAND_C', 2, '1920000'),
(1612888, '2019-01-01 00:00:00', 17419, 'Jakarta Selatan', 'DKI Jakarta', 'P2606', 'BRAND_P', 12, '450000'),
(1612888, '2019-01-01 00:00:00', 17419, 'Jakarta Selatan', 'DKI Jakarta', 'P1277', 'BRAND_F', 2, '3494000'),
(1612888, '2019-01-01 00:00:00', 17419, 'Jakarta Selatan', 'DKI Jakarta', 'P3660', 'BRAND_S', 4, '3494000'),
(1612894, '2019-01-01 00:00:00', 17419, 'Jakarta Selatan', 'DKI Jakarta', 'P1867', 'BRAND_J', 12, '520000'),
(1612903, '2019-01-01 00:00:00', 16775, 'Surakarta', 'Jawa Tengah', 'P0099', 'BRAND_A', 1, '1325000'),
(1612903, '2019-01-01 00:00:00', 16775, 'Surakarta', 'Jawa Tengah', 'P3996', 'BRAND_W', 4, '1325000'),
(1612903, '2019-01-01 00:00:00', 16775, 'Surakarta', 'Jawa Tengah', 'P1679', 'BRAND_H', 4, '747000'),
(1612903, '2019-01-01 00:00:00', 16775, 'Surakarta', 'Jawa Tengah', 'P3457', 'BRAND_S', 6, '1045000'),
(1612903, '2019-01-01 00:00:00', 16775, 'Surakarta', 'Jawa Tengah', 'P2900', 'BRAND_R', 2, '1045000'),
(1612903, '2019-01-01 00:00:00', 16775, 'Surakarta', 'Jawa Tengah', 'P1741', 'BRAND_H', 1, '1045000'),
(1612903, '2019-01-01 00:00:00', 16775, 'Surakarta', 'Jawa Tengah', 'P4195', 'BRAND_Z', 12, '450000'),
(1612903, '2019-01-01 00:00:00', 16775, 'Surakarta', 'Jawa Tengah', 'P1889', 'BRAND_J', 1, '1745000'),
(1612903, '2019-01-01 00:00:00', 16775, 'Surakarta', 'Jawa Tengah', 'P4060', 'BRAND_W', 1, '2795000'),
(1612903, '2019-01-01 00:00:00', 16775, 'Surakarta', 'Jawa Tengah', 'P3692', 'BRAND_T', 1, '1500000'),
(1612903, '2019-01-01 00:00:00', 16775, 'Surakarta', 'Jawa Tengah', 'P3013', 'BRAND_R', 2, '1745000'),
(1612903, '2019-01-01 00:00:00', 16775, 'Surakarta', 'Jawa Tengah', 'P1802', 'BRAND_H', 5, '1640000'),
(1612903, '2019-01-01 00:00:00', 16775, 'Surakarta', 'Jawa Tengah', 'P3006', 'BRAND_R', 2, '1745000'),
(1612903, '2019-01-01 00:00:00', 16775, 'Surakarta', 'Jawa Tengah', 'P1127', 'BRAND_D', 2, '1325000'),
(1612903, '2019-01-01 00:00:00', 16775, 'Surakarta', 'Jawa Tengah', 'P1805', 'BRAND_H', 5, '1395000'),
(1612903, '2019-01-01 00:00:00', 16775, 'Surakarta', 'Jawa Tengah', 'P0791', 'BRAND_C', 5, '1745000'),
(1612903, '2019-01-01 00:00:00', 16775, 'Surakarta', 'Jawa Tengah', 'P1656', 'BRAND_G', 3, '1325000'),
(1612903, '2019-01-01 00:00:00', 16775, 'Surakarta', 'Jawa Tengah', 'P1118', 'BRAND_D', 5, '2795000'),
(1612906, '2019-01-01 00:00:00', 16306, 'Malang', 'Jawa Timur', 'P2489', 'BRAND_P', 18, '1045000'),
(1612906, '2019-01-01 00:00:00', 16306, 'Malang', 'Jawa Timur', 'P3070', 'BRAND_R', 12, '450000'),
(1612909, '2019-01-01 00:00:00', 16950, 'Yogyakarta', 'Yogyakarta', 'P2580', 'BRAND_P', 16, '904000'),
(1612909, '2019-01-01 00:00:00', 16950, 'Yogyakarta', 'Yogyakarta', 'P3433', 'BRAND_S', 4, '5245000'),
(1612909, '2019-01-01 00:00:00', 16950, 'Yogyakarta', 'Yogyakarta', 'P0941', 'BRAND_C', 12, '2095000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P1664', 'BRAND_G', 1, '2690000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P2488', 'BRAND_P', 1, '1045000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P2492', 'BRAND_P', 1, '1045000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P1563', 'BRAND_G', 1, '310000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P3019', 'BRAND_R', 1, '345000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P2430', 'BRAND_P', 1, '450000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P0931', 'BRAND_C', 1, '1395000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P0753', 'BRAND_C', 1, '1220000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P3465', 'BRAND_S', 1, '1325000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P4049', 'BRAND_W', 1, '747000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P2430', 'BRAND_P', 3, '450000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P1679', 'BRAND_H', 1, '747000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P0784', 'BRAND_C', 1, '1745000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P4017', 'BRAND_W', 1, '1325000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P0122', 'BRAND_A', 2, '590000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P2449', 'BRAND_P', 1, '1045000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P1800', 'BRAND_H', 1, '1640000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P0753', 'BRAND_C', 1, '1220000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P0931', 'BRAND_C', 1, '1395000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P2449', 'BRAND_P', 1, '1045000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P0794', 'BRAND_C', 12, '159000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P0100', 'BRAND_A', 1, '1325000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P2103', 'BRAND_L', 1, '590000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P1616', 'BRAND_G', 1, '1325000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P2964', 'BRAND_R', 1, '1325000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P0753', 'BRAND_C', 1, '1220000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P2098', 'BRAND_L', 1, '590000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P3394', 'BRAND_S', 1, '747000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P2430', 'BRAND_P', 2, '450000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P2440', 'BRAND_P', 1, '904000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P2015', 'BRAND_L', 5, '450000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P3190', 'BRAND_S', 1, '1045000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P3322', 'BRAND_S', 1, '1500000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P2489', 'BRAND_P', 1, '1045000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P4071', 'BRAND_W', 1, '1045000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P1661', 'BRAND_G', 1, '2795000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P3019', 'BRAND_R', 1, '345000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P1660', 'BRAND_G', 1, '2795000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P2762', 'BRAND_P', 1, '590000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P1770', 'BRAND_H', 1, '240000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P1769', 'BRAND_H', 2, '240000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P1772', 'BRAND_H', 2, '240000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P1768', 'BRAND_H', 2, '240000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P1767', 'BRAND_H', 2, '240000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P1770', 'BRAND_H', 2, '240000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P2430', 'BRAND_P', 1, '450000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P2430', 'BRAND_P', 1, '450000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P1248', 'BRAND_E', 2, '1640000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P3660', 'BRAND_S', 1, '3494000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P2445', 'BRAND_P', 1, '205000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P1868', 'BRAND_J', 1, '1500000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P1838', 'BRAND_I', 1, '2987000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P3075', 'BRAND_R', 1, '2795000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P2968', 'BRAND_R', 4, '4475000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P1844', 'BRAND_I', 1, '1045000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P1962', 'BRAND_L', 2, '1745000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P2923', 'BRAND_R', 1, '3844000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P1844', 'BRAND_I', 1, '1045000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P1833', 'BRAND_I', 2, '2095000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P4165', 'BRAND_Y', 1, '1745000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P1571', 'BRAND_G', 1, '1325000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P1493', 'BRAND_G', 2, '1745000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P2812', 'BRAND_P', 2, '450000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P1797', 'BRAND_H', 4, '747000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P1508', 'BRAND_G', 1, '747000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P0898', 'BRAND_C', 2, '695000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P2806', 'BRAND_P', 1, '695000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P4179', 'BRAND_Y', 2, '604000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P2136', 'BRAND_M', 2, '747000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P1508', 'BRAND_G', 1, '747000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P2325', 'BRAND_N', 1, '747000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P1674', 'BRAND_H', 3, '747000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P1321', 'BRAND_F', 12, '79000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P0597', 'BRAND_B', 1, '3494000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P2219', 'BRAND_M', 1, '5245000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P0931', 'BRAND_C', 2, '1395000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P2889', 'BRAND_R', 1, '2987000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P0468', 'BRAND_B', 1, '2987000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P1830', 'BRAND_I', 2, '2987000'),
(1612939, '2019-01-01 00:00:00', 17591, 'Surakarta', 'Jawa Tengah', 'P0399', 'BRAND_B', 1, '2987000'),
(1612945, '2019-01-01 00:00:00', 12839, 'Jakarta Selatan', 'DKI Jakarta', 'P3316', 'BRAND_S', 6, '1045000'),
(1612945, '2019-01-01 00:00:00', 12839, 'Jakarta Selatan', 'DKI Jakarta', 'P0736', 'BRAND_C', 20, '310000'),
(1612945, '2019-01-01 00:00:00', 12839, 'Jakarta Selatan', 'DKI Jakarta', 'P0735', 'BRAND_C', 10, '310000'),
(1612945, '2019-01-01 00:00:00', 12839, 'Jakarta Selatan', 'DKI Jakarta', 'P4086', 'BRAND_W', 10, '310000'),
(1612945, '2019-01-01 00:00:00', 12839, 'Jakarta Selatan', 'DKI Jakarta', 'P3631', 'BRAND_S', 10, '310000'),
(1612945, '2019-01-01 00:00:00', 12839, 'Jakarta Selatan', 'DKI Jakarta', 'P2924', 'BRAND_R', 10, '310000'),
(1612945, '2019-01-01 00:00:00', 12839, 'Jakarta Selatan', 'DKI Jakarta', 'P0734', 'BRAND_C', 10, '310000'),
(1612945, '2019-01-01 00:00:00', 12839, 'Jakarta Selatan', 'DKI Jakarta', 'P3132', 'BRAND_S', 9, '1745000'),
(1612945, '2019-01-01 00:00:00', 12839, 'Jakarta Selatan', 'DKI Jakarta', 'P1800', 'BRAND_H', 4, '1640000'),
(1612945, '2019-01-01 00:00:00', 12839, 'Jakarta Selatan', 'DKI Jakarta', 'P1285', 'BRAND_F', 6, '1045000'),
(1612945, '2019-01-01 00:00:00', 12839, 'Jakarta Selatan', 'DKI Jakarta', 'P2636', 'BRAND_P', 12, '590000'),
(1612945, '2019-01-01 00:00:00', 12839, 'Jakarta Selatan', 'DKI Jakarta', 'P2566', 'BRAND_P', 12, '590000'),
(1612945, '2019-01-01 00:00:00', 12839, 'Jakarta Selatan', 'DKI Jakarta', 'P2672', 'BRAND_P', 12, '590000'),
(1612945, '2019-01-01 00:00:00', 12839, 'Jakarta Selatan', 'DKI Jakarta', 'P1905', 'BRAND_J', 10, '695000'),
(1612945, '2019-01-01 00:00:00', 12839, 'Jakarta Selatan', 'DKI Jakarta', 'P1906', 'BRAND_J', 10, '695000'),
(1612945, '2019-01-01 00:00:00', 12839, 'Jakarta Selatan', 'DKI Jakarta', 'P2124', 'BRAND_M', 12, '310000'),
(1612945, '2019-01-01 00:00:00', 12839, 'Jakarta Selatan', 'DKI Jakarta', 'P0714', 'BRAND_C', 24, '534000'),
(1612945, '2019-01-01 00:00:00', 12839, 'Jakarta Selatan', 'DKI Jakarta', 'P2762', 'BRAND_P', 12, '590000'),
(1612945, '2019-01-01 00:00:00', 12839, 'Jakarta Selatan', 'DKI Jakarta', 'P3531', 'BRAND_S', 24, '310000'),
(1612945, '2019-01-01 00:00:00', 12839, 'Jakarta Selatan', 'DKI Jakarta', 'P3629', 'BRAND_S', 24, '450000'),
(1612945, '2019-01-01 00:00:00', 12839, 'Jakarta Selatan', 'DKI Jakarta', 'P3662', 'BRAND_S', 12, '450000'),
(1612945, '2019-01-01 00:00:00', 12839, 'Jakarta Selatan', 'DKI Jakarta', 'P2606', 'BRAND_P', 12, '450000'),
(1612948, '2019-01-01 00:00:00', 13807, 'Jakarta Selatan', 'DKI Jakarta', 'P3442', 'BRAND_S', 12, '590000'),
(1612948, '2019-01-01 00:00:00', 13807, 'Jakarta Selatan', 'DKI Jakarta', 'P4017', 'BRAND_W', 4, '1325000'),
(1612948, '2019-01-01 00:00:00', 13807, 'Jakarta Selatan', 'DKI Jakarta', 'P3668', 'BRAND_S', 2, '2795000'),
(1612948, '2019-01-01 00:00:00', 13807, 'Jakarta Selatan', 'DKI Jakarta', 'P2952', 'BRAND_R', 2, '2795000'),
(1612948, '2019-01-01 00:00:00', 13807, 'Jakarta Selatan', 'DKI Jakarta', 'P3861', 'BRAND_V', 2, '2235000'),
(1612948, '2019-01-01 00:00:00', 13807, 'Jakarta Selatan', 'DKI Jakarta', 'P1742', 'BRAND_H', 12, '590000'),
(1612948, '2019-01-01 00:00:00', 13807, 'Jakarta Selatan', 'DKI Jakarta', 'P1265', 'BRAND_E', 2, '2375000'),
(1612951, '2019-01-01 00:00:00', 16125, 'Jakarta Barat', 'DKI Jakarta', 'P1112', 'BRAND_D', 2, '2795000'),
(1612951, '2019-01-01 00:00:00', 16125, 'Jakarta Barat', 'DKI Jakarta', 'P1794', 'BRAND_H', 12, '520000'),
(1612951, '2019-01-01 00:00:00', 16125, 'Jakarta Barat', 'DKI Jakarta', 'P1868', 'BRAND_J', 6, '1500000'),
(1612951, '2019-01-01 00:00:00', 16125, 'Jakarta Barat', 'DKI Jakarta', 'P1867', 'BRAND_J', 12, '520000'),
(1612951, '2019-01-01 00:00:00', 16125, 'Jakarta Barat', 'DKI Jakarta', 'P2360', 'BRAND_O', 6, '1045000'),
(1612951, '2019-01-01 00:00:00', 16125, 'Jakarta Barat', 'DKI Jakarta', 'P2358', 'BRAND_O', 6, '1045000'),
(1612951, '2019-01-01 00:00:00', 16125, 'Jakarta Barat', 'DKI Jakarta', 'P4025', 'BRAND_W', 8, '1325000'),
(1612951, '2019-01-01 00:00:00', 16125, 'Jakarta Barat', 'DKI Jakarta', 'P1656', 'BRAND_G', 12, '1325000'),
(1612951, '2019-01-01 00:00:00', 16125, 'Jakarta Barat', 'DKI Jakarta', 'P1902', 'BRAND_J', 10, '695000'),
(1612951, '2019-01-01 00:00:00', 16125, 'Jakarta Barat', 'DKI Jakarta', 'P1905', 'BRAND_J', 10, '695000'),
(1612951, '2019-01-01 00:00:00', 16125, 'Jakarta Barat', 'DKI Jakarta', 'P1034', 'BRAND_D', 3, '2095000'),
(1612951, '2019-01-01 00:00:00', 16125, 'Jakarta Barat', 'DKI Jakarta', 'P0529', 'BRAND_B', 25, '159000'),
(1612951, '2019-01-01 00:00:00', 16125, 'Jakarta Barat', 'DKI Jakarta', 'P4009', 'BRAND_W', 12, '1045000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P4030', 'BRAND_W', 2, '2445000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P2783', 'BRAND_P', 6, '555000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P4030', 'BRAND_W', 2, '2445000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P2755', 'BRAND_P', 1, '1325000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P2417', 'BRAND_P', 12, '113000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P3484', 'BRAND_S', 1, '800000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P2247', 'BRAND_M', 1, '450000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P0381', 'BRAND_B', 1, '450000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P0171', 'BRAND_A', 1, '1325000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P3402', 'BRAND_S', 1, '747000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P0041', 'BRAND_A', 2, '310000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P1270', 'BRAND_F', 1, '240000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P1831', 'BRAND_I', 2, '13995000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P1838', 'BRAND_I', 2, '2987000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P1830', 'BRAND_I', 1, '2987000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P4185', 'BRAND_Z', 10, '450000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P3121', 'BRAND_S', 3, '450000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P1607', 'BRAND_G', 2, '450000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P3019', 'BRAND_R', 1, '345000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P2637', 'BRAND_P', 2, '450000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P0790', 'BRAND_C', 2, '590000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P1438', 'BRAND_F', 1, '1325000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P1239', 'BRAND_E', 1, '2445000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P1237', 'BRAND_E', 1, '1745000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P0237', 'BRAND_A', 6, '450000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P2880', 'BRAND_R', 1, '450000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P1242', 'BRAND_E', 2, '1500000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P2564', 'BRAND_P', 1, '2375000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P0624', 'BRAND_B', 1, '1325000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P1337', 'BRAND_F', 1, '1150000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P1475', 'BRAND_F', 3, '747000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P0167', 'BRAND_A', 1, '1325000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P0170', 'BRAND_A', 1, '1325000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P0171', 'BRAND_A', 1, '1325000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P2755', 'BRAND_P', 1, '1325000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P1679', 'BRAND_H', 4, '747000'),
(1612960, '2019-01-01 00:00:00', 17897, 'Surakarta', 'Jawa Tengah', 'P1678', 'BRAND_H', 2, '747000');

 * sqlite://
534 rows affected.

[]

In [32]:
%%sql

INSERT INTO 
    sales_retail_2019
VALUES
(1612966, '2019-01-01 00:00:00', 15081, 'Tangerang', 'Banten', 'P1560', 'BRAND_G', 3, '1745000'),
(1612966, '2019-01-01 00:00:00', 15081, 'Tangerang', 'Banten', 'P0840', 'BRAND_C', 12, '310000'),
(1612966, '2019-01-01 00:00:00', 15081, 'Tangerang', 'Banten', 'P3475', 'BRAND_S', 12, '345000'),
(1612966, '2019-01-01 00:00:00', 15081, 'Tangerang', 'Banten', 'P4009', 'BRAND_W', 6, '1045000'),
(1612966, '2019-01-01 00:00:00', 15081, 'Tangerang', 'Banten', 'P4033', 'BRAND_W', 6, '904000'),
(1612966, '2019-01-01 00:00:00', 15081, 'Tangerang', 'Banten', 'P1184', 'BRAND_E', 10, '310000'),
(1612966, '2019-01-01 00:00:00', 15081, 'Tangerang', 'Banten', 'P3723', 'BRAND_T', 2, '3144000'),
(1612966, '2019-01-01 00:00:00', 15081, 'Tangerang', 'Banten', 'P3071', 'BRAND_R', 6, '904000'),
(1612972, '2019-01-01 00:00:00', 18102, 'Yogyakarta', 'Yogyakarta', 'P4059', 'BRAND_W', 408, '1685000'),
(1612972, '2019-01-01 00:00:00', 18102, 'Yogyakarta', 'Yogyakarta', 'P3820', 'BRAND_U', 30, '6956000'),
(1612972, '2019-01-01 00:00:00', 18102, 'Yogyakarta', 'Yogyakarta', 'P0931', 'BRAND_C', 972, '821000'),
(1612972, '2019-01-01 00:00:00', 18102, 'Yogyakarta', 'Yogyakarta', 'P0413', 'BRAND_B', 972, '821000'),
(1612972, '2019-01-01 00:00:00', 18102, 'Yogyakarta', 'Yogyakarta', 'P3912', 'BRAND_V', 408, '2245000'),
(1612975, '2019-01-01 00:00:00', 18102, 'Yogyakarta', 'Yogyakarta', 'P4059', 'BRAND_W', 48, '1685000'),
(1612975, '2019-01-01 00:00:00', 18102, 'Yogyakarta', 'Yogyakarta', 'P0931', 'BRAND_C', 36, '821000'),
(1612975, '2019-01-01 00:00:00', 18102, 'Yogyakarta', 'Yogyakarta', 'P0413', 'BRAND_B', 36, '821000'),
(1612978, '2019-01-01 00:00:00', 18102, 'Yogyakarta', 'Yogyakarta', 'P2320', 'BRAND_N', 23, '3474000'),
(1612978, '2019-01-01 00:00:00', 18102, 'Yogyakarta', 'Yogyakarta', 'P2155', 'BRAND_M', 208, '1363000'),
(1612978, '2019-01-01 00:00:00', 18102, 'Yogyakarta', 'Yogyakarta', 'P0931', 'BRAND_C', 1008, '821000'),
(1612978, '2019-01-01 00:00:00', 18102, 'Yogyakarta', 'Yogyakarta', 'P0413', 'BRAND_B', 1008, '821000'),
(1612978, '2019-01-01 00:00:00', 18102, 'Yogyakarta', 'Yogyakarta', 'P3894', 'BRAND_V', 10, '18482000'),
(1612978, '2019-01-01 00:00:00', 18102, 'Yogyakarta', 'Yogyakarta', 'P3912', 'BRAND_V', 600, '2245000'),
(1612978, '2019-01-01 00:00:00', 18102, 'Yogyakarta', 'Yogyakarta', 'P0935', 'BRAND_C', 160, '1370000'),
(1612978, '2019-01-01 00:00:00', 18102, 'Yogyakarta', 'Yogyakarta', 'P4059', 'BRAND_W', 600, '1685000'),
(1612978, '2019-01-01 00:00:00', 18102, 'Yogyakarta', 'Yogyakarta', 'P1671', 'BRAND_H', 72, '11454000'),
(1612993, '2019-01-01 00:00:00', 15024, 'Yogyakarta', 'Yogyakarta', 'P0220', 'BRAND_A', 24, '695000'),
(1612996, '2019-01-01 00:00:00', 16365, 'Jakarta Selatan', 'DKI Jakarta', 'P0811', 'BRAND_C', 1, '1745000'),
(1612996, '2019-01-01 00:00:00', 16365, 'Jakarta Selatan', 'DKI Jakarta', 'P1923', 'BRAND_K', 1, '3494000'),
(1612996, '2019-01-01 00:00:00', 16365, 'Jakarta Selatan', 'DKI Jakarta', 'P2377', 'BRAND_O', 1, '2987000'),
(1612996, '2019-01-01 00:00:00', 16365, 'Jakarta Selatan', 'DKI Jakarta', 'P1105', 'BRAND_D', 1, '2795000'),
(1612996, '2019-01-01 00:00:00', 16365, 'Jakarta Selatan', 'DKI Jakarta', 'P3177', 'BRAND_S', 1, '2375000'),
(1612996, '2019-01-01 00:00:00', 16365, 'Jakarta Selatan', 'DKI Jakarta', 'P4185', 'BRAND_Z', 96, '383000'),
(1613002, '2019-01-02 00:00:00', 17870, 'Surakarta', 'Jawa Tengah', 'P0063', 'BRAND_A', 128, '904000'),
(1613005, '2019-01-02 00:00:00', 14821, 'Yogyakarta', 'Yogyakarta', 'P1679', 'BRAND_H', 12, '747000'),
(1613005, '2019-01-02 00:00:00', 14821, 'Yogyakarta', 'Yogyakarta', 'P0063', 'BRAND_A', 8, '1045000'),
(1613008, '2019-01-02 00:00:00', 16863, 'Jakarta Timur', 'DKI Jakarta', 'P1699', 'BRAND_H', 12, '450000'),
(1613008, '2019-01-02 00:00:00', 16863, 'Jakarta Timur', 'DKI Jakarta', 'P2282', 'BRAND_M', 12, '310000'),
(1613008, '2019-01-02 00:00:00', 16863, 'Jakarta Timur', 'DKI Jakarta', 'P0173', 'BRAND_A', 12, '310000'),
(1613008, '2019-01-02 00:00:00', 16863, 'Jakarta Timur', 'DKI Jakarta', 'P3670', 'BRAND_S', 12, '310000'),
(1613008, '2019-01-02 00:00:00', 16863, 'Jakarta Timur', 'DKI Jakarta', 'P1794', 'BRAND_H', 12, '520000 '),
(1613008, '2019-01-02 00:00:00', 16863, 'Jakarta Timur', 'DKI Jakarta', 'P1597', 'BRAND_G', 9, '520000'),
(1613008, '2019-01-02 00:00:00', 16863, 'Jakarta Timur', 'DKI Jakarta', 'P0708', 'BRAND_C', 12, '520000'),
(1613008, '2019-01-02 00:00:00', 16863, 'Jakarta Timur', 'DKI Jakarta', 'P4009', 'BRAND_W', 12, '1045000'),
(1613008, '2019-01-02 00:00:00', 16863, 'Jakarta Timur', 'DKI Jakarta', 'P0654', 'BRAND_C', 12, '1045000'),
(1613011, '2019-01-02 00:00:00', 13078, 'Surabaya', 'Jawa Timur', 'P2227', 'BRAND_M', 2, '2095000'),
(1613011, '2019-01-02 00:00:00', 13078, 'Surabaya', 'Jawa Timur', 'P3132', 'BRAND_S', 24, '1500000'),
(1613011, '2019-01-02 00:00:00', 13078, 'Surabaya', 'Jawa Timur', 'P1830', 'BRAND_I', 2, '2987000'),
(1613011, '2019-01-02 00:00:00', 13078, 'Surabaya', 'Jawa Timur', 'P3123', 'BRAND_S', 12, '450000'),
(1613011, '2019-01-02 00:00:00', 13078, 'Surabaya', 'Jawa Timur', 'P1780', 'BRAND_H', 3, '2095000'),
(1613011, '2019-01-02 00:00:00', 13078, 'Surabaya', 'Jawa Timur', 'P2964', 'BRAND_R', 24, '1199000'),
(1613011, '2019-01-02 00:00:00', 13078, 'Surabaya', 'Jawa Timur', 'P0241', 'BRAND_A', 12, '747000'),
(1613011, '2019-01-02 00:00:00', 13078, 'Surabaya', 'Jawa Timur', 'P3919', 'BRAND_V', 24, '1199000'),
(1613011, '2019-01-02 00:00:00', 13078, 'Surabaya', 'Jawa Timur', 'P1306', 'BRAND_F', 24, '1199000'),
(1613011, '2019-01-02 00:00:00', 13078, 'Surabaya', 'Jawa Timur', 'P1305', 'BRAND_F', 24, '1199000'),
(1613014, '2019-01-02 00:00:00', 13267, 'Yogyakarta', 'Yogyakarta', 'P1800', 'BRAND_H', 4, '1640000'),
(1613014, '2019-01-02 00:00:00', 13267, 'Yogyakarta', 'Yogyakarta', 'P1679', 'BRAND_H', 12, '747000'),
(1613014, '2019-01-02 00:00:00', 13267, 'Yogyakarta', 'Yogyakarta', 'P3734', 'BRAND_T', 12, '450000'),
(1613014, '2019-01-02 00:00:00', 13267, 'Yogyakarta', 'Yogyakarta', 'P1793', 'BRAND_H', 12, '450000'),
(1613014, '2019-01-02 00:00:00', 13267, 'Yogyakarta', 'Yogyakarta', 'P3123', 'BRAND_S', 12, '450000'),
(1613014, '2019-01-02 00:00:00', 13267, 'Yogyakarta', 'Yogyakarta', 'P2968', 'BRAND_R', 6, '4475000'),
(1613014, '2019-01-02 00:00:00', 13267, 'Yogyakarta', 'Yogyakarta', 'P1083', 'BRAND_D', 12, '695000'),
(1613014, '2019-01-02 00:00:00', 13267, 'Yogyakarta', 'Yogyakarta', 'P3588', 'BRAND_S', 12, '695000'),
(1613014, '2019-01-02 00:00:00', 13267, 'Yogyakarta', 'Yogyakarta', 'P0167', 'BRAND_A', 4, '1325000'),
(1613014, '2019-01-02 00:00:00', 13267, 'Yogyakarta', 'Yogyakarta', 'P0170', 'BRAND_A', 4, '1325000'),
(1613014, '2019-01-02 00:00:00', 13267, 'Yogyakarta', 'Yogyakarta', 'P0886', 'BRAND_C', 32, '240000'),
(1613014, '2019-01-02 00:00:00', 13267, 'Yogyakarta', 'Yogyakarta', 'P1214', 'BRAND_E', 12, '450000'),
(1613014, '2019-01-02 00:00:00', 13267, 'Yogyakarta', 'Yogyakarta', 'P4033', 'BRAND_W', 6, '904000'),
(1613014, '2019-01-02 00:00:00', 13267, 'Yogyakarta', 'Yogyakarta', 'P4060', 'BRAND_W', 2, '2795000'),
(1613014, '2019-01-02 00:00:00', 13267, 'Yogyakarta', 'Yogyakarta', 'P4059', 'BRAND_W', 3, '2270000'),
(1613017, '2019-01-02 00:00:00', 13050, 'Jakarta Timur', 'DKI Jakarta', 'P1277', 'BRAND_F', 2, '3494000'),
(1613017, '2019-01-02 00:00:00', 13050, 'Jakarta Timur', 'DKI Jakarta', 'P2949', 'BRAND_R', 25, '159000'),
(1613017, '2019-01-02 00:00:00', 13050, 'Jakarta Timur', 'DKI Jakarta', 'P0201', 'BRAND_A', 48, '159000'),
(1613017, '2019-01-02 00:00:00', 13050, 'Jakarta Timur', 'DKI Jakarta', 'P2946', 'BRAND_R', 2, '2795000'),
(1613017, '2019-01-02 00:00:00', 13050, 'Jakarta Timur', 'DKI Jakarta', 'P3364', 'BRAND_S', 12, '450000'),
(1613017, '2019-01-02 00:00:00', 13050, 'Jakarta Timur', 'DKI Jakarta', 'P3780', 'BRAND_T', 2, '3494000'),
(1613017, '2019-01-02 00:00:00', 13050, 'Jakarta Timur', 'DKI Jakarta', 'P0792', 'BRAND_C', 12, '747000'),
(1613017, '2019-01-02 00:00:00', 13050, 'Jakarta Timur', 'DKI Jakarta', 'P2937', 'BRAND_R', 2, '3494000'),
(1613017, '2019-01-02 00:00:00', 13050, 'Jakarta Timur', 'DKI Jakarta', 'P0073', 'BRAND_A', 2, '5245000'),
(1613017, '2019-01-02 00:00:00', 13050, 'Jakarta Timur', 'DKI Jakarta', 'P2430', 'BRAND_P', 12, '450000'),
(1613017, '2019-01-02 00:00:00', 13050, 'Jakarta Timur', 'DKI Jakarta', 'P2923', 'BRAND_R', 1, '3844000'),
(1613017, '2019-01-02 00:00:00', 13050, 'Jakarta Timur', 'DKI Jakarta', 'P2968', 'BRAND_R', 2, '4475000'),
(1613017, '2019-01-02 00:00:00', 13050, 'Jakarta Timur', 'DKI Jakarta', 'P4071', 'BRAND_W', 6, '1045000'),
(1613017, '2019-01-02 00:00:00', 13050, 'Jakarta Timur', 'DKI Jakarta', 'P2625', 'BRAND_P', 12, '450000'),
(1613017, '2019-01-02 00:00:00', 13050, 'Jakarta Timur', 'DKI Jakarta', 'P0491', 'BRAND_B', 12, '450000'),
(1613017, '2019-01-02 00:00:00', 13050, 'Jakarta Timur', 'DKI Jakarta', 'P1710', 'BRAND_H', 12, '590000'),
(1613017, '2019-01-02 00:00:00', 13050, 'Jakarta Timur', 'DKI Jakarta', 'P2931', 'BRAND_R', 6, '1045000'),
(1613017, '2019-01-02 00:00:00', 13050, 'Jakarta Timur', 'DKI Jakarta', 'P3254', 'BRAND_S', 12, '450000'),
(1613020, '2019-01-02 00:00:00', 12709, 'Denpasar', 'Bali', 'P2897', 'BRAND_R', 10, '590000'),
(1613020, '2019-01-02 00:00:00', 12709, 'Denpasar', 'Bali', 'P1663', 'BRAND_G', 36, '747000'),
(1613020, '2019-01-02 00:00:00', 12709, 'Denpasar', 'Bali', 'P2904', 'BRAND_R', 24, '2690000'),
(1613020, '2019-01-02 00:00:00', 12709, 'Denpasar', 'Bali', 'P2218', 'BRAND_M', 6, '2987000'),
(1613020, '2019-01-02 00:00:00', 12709, 'Denpasar', 'Bali', 'P3128', 'BRAND_S', 24, '450000'),
(1613020, '2019-01-02 00:00:00', 12709, 'Denpasar', 'Bali', 'P0084', 'BRAND_A', 32, '450000'),
(1613020, '2019-01-02 00:00:00', 12709, 'Denpasar', 'Bali', 'P2803', 'BRAND_P', 7, '6312000'),
(1613023, '2019-01-02 00:00:00', 15628, 'Malang', 'Jawa Timur', 'P0818', 'BRAND_C', 12, '310000'),
(1613023, '2019-01-02 00:00:00', 15628, 'Malang', 'Jawa Timur', 'P1741', 'BRAND_H', 12, '1045000'),
(1613023, '2019-01-02 00:00:00', 15628, 'Malang', 'Jawa Timur', 'P3362', 'BRAND_S', 24, '310000'),
(1613023, '2019-01-02 00:00:00', 15628, 'Malang', 'Jawa Timur', 'P2445', 'BRAND_P', 24, '205000'),
(1613023, '2019-01-02 00:00:00', 15628, 'Malang', 'Jawa Timur', 'P2625', 'BRAND_P', 12, '450000'),
(1613023, '2019-01-02 00:00:00', 15628, 'Malang', 'Jawa Timur', 'P2606', 'BRAND_P', 12, '450000'),
(1613023, '2019-01-02 00:00:00', 15628, 'Malang', 'Jawa Timur', 'P1303', 'BRAND_F', 12, '520000'),
(1613023, '2019-01-02 00:00:00', 15628, 'Malang', 'Jawa Timur', 'P2900', 'BRAND_R', 6, '1045000'),
(1613023, '2019-01-02 00:00:00', 15628, 'Malang', 'Jawa Timur', 'P4071', 'BRAND_W', 12, '1045000'),
(1613023, '2019-01-02 00:00:00', 15628, 'Malang', 'Jawa Timur', 'P2770', 'BRAND_P', 12, '747000'),
(1613023, '2019-01-02 00:00:00', 15628, 'Malang', 'Jawa Timur', 'P1809', 'BRAND_I', 12, '450000'),
(1613023, '2019-01-02 00:00:00', 15628, 'Malang', 'Jawa Timur', 'P3486', 'BRAND_S', 12, '310000'),
(1613023, '2019-01-02 00:00:00', 15628, 'Malang', 'Jawa Timur', 'P3188', 'BRAND_S', 24, '159000'),
(1613023, '2019-01-02 00:00:00', 15628, 'Malang', 'Jawa Timur', 'P2812', 'BRAND_P', 12, '450000'),
(1613023, '2019-01-02 00:00:00', 15628, 'Malang', 'Jawa Timur', 'P4009', 'BRAND_W', 6, '1045000'),
(1613023, '2019-01-02 00:00:00', 15628, 'Malang', 'Jawa Timur', 'P1867', 'BRAND_J', 12, '520000'),
(1613023, '2019-01-02 00:00:00', 15628, 'Malang', 'Jawa Timur', 'P0296', 'BRAND_B', 12, '310000'),
(1613023, '2019-01-02 00:00:00', 15628, 'Malang', 'Jawa Timur', 'P3907', 'BRAND_V', 12, '310000'),
(1613023, '2019-01-02 00:00:00', 15628, 'Malang', 'Jawa Timur', 'P2924', 'BRAND_R', 10, '310000'),
(1613029, '2019-01-02 00:00:00', 12386, 'Padang', 'Sumatra Barat', 'P0055', 'BRAND_A', 24, '450000'),
(1613029, '2019-01-02 00:00:00', 12386, 'Padang', 'Sumatra Barat', 'P0251', 'BRAND_A', 120, '138000'),
(1613029, '2019-01-02 00:00:00', 12386, 'Padang', 'Sumatra Barat', 'P1833', 'BRAND_I', 12, '2095000'),
(1613029, '2019-01-02 00:00:00', 12386, 'Padang', 'Sumatra Barat', 'P0375', 'BRAND_B', 24, '450000'),
(1613029, '2019-01-02 00:00:00', 12386, 'Padang', 'Sumatra Barat', 'P2564', 'BRAND_P', 4, '2375000'),
(1613029, '2019-01-02 00:00:00', 12386, 'Padang', 'Sumatra Barat', 'P3241', 'BRAND_S', 6, '1045000'),
(1613029, '2019-01-02 00:00:00', 12386, 'Padang', 'Sumatra Barat', 'P2762', 'BRAND_P', 12, '590000'),
(1613029, '2019-01-02 00:00:00', 12386, 'Padang', 'Sumatra Barat', 'P2763', 'BRAND_P', 12, '590000'),
(1613035, '2019-01-02 00:00:00', 16779, 'Jakarta Pusat', 'DKI Jakarta', 'P0887', 'BRAND_C', 48, '975000'),
(1613035, '2019-01-02 00:00:00', 16779, 'Jakarta Pusat', 'DKI Jakarta', 'P1805', 'BRAND_H', 12, '1395000'),
(1613035, '2019-01-02 00:00:00', 16779, 'Jakarta Pusat', 'DKI Jakarta', 'P2866', 'BRAND_R', 6, '1045000'),
(1613035, '2019-01-02 00:00:00', 16779, 'Jakarta Pusat', 'DKI Jakarta', 'P1730', 'BRAND_H', 12, '450000'),
(1613035, '2019-01-02 00:00:00', 16779, 'Jakarta Pusat', 'DKI Jakarta', 'P0933', 'BRAND_C', 6, '1045000'),
(1613035, '2019-01-02 00:00:00', 16779, 'Jakarta Pusat', 'DKI Jakarta', 'P0708', 'BRAND_C', 12, '520000'),
(1613035, '2019-01-02 00:00:00', 16779, 'Jakarta Pusat', 'DKI Jakarta', 'P0713', 'BRAND_C', 12, '520000'),
(1613035, '2019-01-02 00:00:00', 16779, 'Jakarta Pusat', 'DKI Jakarta', 'P4017', 'BRAND_W', 24, '1199000'),
(1613035, '2019-01-02 00:00:00', 16779, 'Jakarta Pusat', 'DKI Jakarta', 'P2923', 'BRAND_R', 1, '3844000'),
(1613041, '2019-01-02 00:00:00', 13599, 'Jakarta Selatan', 'DKI Jakarta', 'P0680', 'BRAND_C', 12, '159000'),
(1613041, '2019-01-02 00:00:00', 13599, 'Jakarta Selatan', 'DKI Jakarta', 'P0671', 'BRAND_C', 12, '159000'),
(1613041, '2019-01-02 00:00:00', 13599, 'Jakarta Selatan', 'DKI Jakarta', 'P0754', 'BRAND_C', 6, '747000'),
(1613041, '2019-01-02 00:00:00', 13599, 'Jakarta Selatan', 'DKI Jakarta', 'P1083', 'BRAND_D', 12, '695000'),
(1613041, '2019-01-02 00:00:00', 13599, 'Jakarta Selatan', 'DKI Jakarta', 'P3743', 'BRAND_T', 5, '747000'),
(1613041, '2019-01-02 00:00:00', 13599, 'Jakarta Selatan', 'DKI Jakarta', 'P0674', 'BRAND_C', 12, '159000'),
(1613041, '2019-01-02 00:00:00', 13599, 'Jakarta Selatan', 'DKI Jakarta', 'P3583', 'BRAND_S', 24, '159000'),
(1613041, '2019-01-02 00:00:00', 13599, 'Jakarta Selatan', 'DKI Jakarta', 'P3588', 'BRAND_S', 12, '695000'),
(1613041, '2019-01-02 00:00:00', 13599, 'Jakarta Selatan', 'DKI Jakarta', 'P3676', 'BRAND_T', 24, '450000'),
(1613041, '2019-01-02 00:00:00', 13599, 'Jakarta Selatan', 'DKI Jakarta', 'P0219', 'BRAND_A', 16, '1045000'),
(1613041, '2019-01-02 00:00:00', 13599, 'Jakarta Selatan', 'DKI Jakarta', 'P0221', 'BRAND_A', 8, '1325000'),
(1613041, '2019-01-02 00:00:00', 13599, 'Jakarta Selatan', 'DKI Jakarta', 'P3827', 'BRAND_V', 24, '450000'),
(1613041, '2019-01-02 00:00:00', 13599, 'Jakarta Selatan', 'DKI Jakarta', 'P1672', 'BRAND_H', 6, '1234000'),
(1613044, '2019-01-02 00:00:00', 13329, 'Jakarta Utara', 'DKI Jakarta', 'P0126', 'BRAND_A', 48, '205000'),
(1613044, '2019-01-02 00:00:00', 13329, 'Jakarta Utara', 'DKI Jakarta', 'P2494', 'BRAND_P', 18, '1045000'),
(1613044, '2019-01-02 00:00:00', 13329, 'Jakarta Utara', 'DKI Jakarta', 'P2760', 'BRAND_P', 24, '590000'),
(1613044, '2019-01-02 00:00:00', 13329, 'Jakarta Utara', 'DKI Jakarta', 'P0575', 'BRAND_B', 25, '159000'),
(1613044, '2019-01-02 00:00:00', 13329, 'Jakarta Utara', 'DKI Jakarta', 'P2923', 'BRAND_R', 12, '3844000'),
(1613044, '2019-01-02 00:00:00', 13329, 'Jakarta Utara', 'DKI Jakarta', 'P2446', 'BRAND_P', 24, '205000'),
(1613044, '2019-01-02 00:00:00', 13329, 'Jakarta Utara', 'DKI Jakarta', 'P0234', 'BRAND_A', 24, '450000'),
(1613047, '2019-01-02 00:00:00', 13599, 'Jakarta Selatan', 'DKI Jakarta', 'P3586', 'BRAND_S', 12, '450000'),
(1613047, '2019-01-02 00:00:00', 13599, 'Jakarta Selatan', 'DKI Jakarta', 'P1082', 'BRAND_D', 36, '450000'),
(1613047, '2019-01-02 00:00:00', 13599, 'Jakarta Selatan', 'DKI Jakarta', 'P0766', 'BRAND_C', 12, '590000'),
(1613047, '2019-01-02 00:00:00', 13599, 'Jakarta Selatan', 'DKI Jakarta', 'P0769', 'BRAND_C', 12, '590000'),
(1613050, '2019-01-02 00:00:00', 12921, 'Bogor', 'Jawa Barat', 'P2926', 'BRAND_R', 8, '310000'),
(1613050, '2019-01-02 00:00:00', 12921, 'Bogor', 'Jawa Barat', 'P2590', 'BRAND_P', 8, '310000'),
(1613050, '2019-01-02 00:00:00', 12921, 'Bogor', 'Jawa Barat', 'P0519', 'BRAND_B', 8, '310000'),
(1613050, '2019-01-02 00:00:00', 12921, 'Bogor', 'Jawa Barat', 'P2094', 'BRAND_L', 20, '590000'),
(1613050, '2019-01-02 00:00:00', 12921, 'Bogor', 'Jawa Barat', 'P2089', 'BRAND_L', 10, '590000'),
(1613050, '2019-01-02 00:00:00', 12921, 'Bogor', 'Jawa Barat', 'P2955', 'BRAND_R', 6, '1325000'),
(1613050, '2019-01-02 00:00:00', 12921, 'Bogor', 'Jawa Barat', 'P3360', 'BRAND_S', 6, '1045000'),
(1613050, '2019-01-02 00:00:00', 12921, 'Bogor', 'Jawa Barat', 'P2919', 'BRAND_R', 3, '2095000'),
(1613050, '2019-01-02 00:00:00', 12921, 'Bogor', 'Jawa Barat', 'P2881', 'BRAND_R', 6, '1325000'),
(1613050, '2019-01-02 00:00:00', 12921, 'Bogor', 'Jawa Barat', 'P2937', 'BRAND_R', 3, '3494000'),
(1613050, '2019-01-02 00:00:00', 12921, 'Bogor', 'Jawa Barat', 'P3662', 'BRAND_S', 24, '450000'),
(1613050, '2019-01-02 00:00:00', 12921, 'Bogor', 'Jawa Barat', 'P3356', 'BRAND_S', 24, '450000'),
(1613050, '2019-01-02 00:00:00', 12921, 'Bogor', 'Jawa Barat', 'P1600', 'BRAND_G', 6, '1325000'),
(1613050, '2019-01-02 00:00:00', 12921, 'Bogor', 'Jawa Barat', 'P0449', 'BRAND_B', 6, '1325000'),
(1613050, '2019-01-02 00:00:00', 12921, 'Bogor', 'Jawa Barat', 'P2594', 'BRAND_P', 6, '1325000'),
(1613050, '2019-01-02 00:00:00', 12921, 'Bogor', 'Jawa Barat', 'P3362', 'BRAND_S', 12, '310000'),
(1613050, '2019-01-02 00:00:00', 12921, 'Bogor', 'Jawa Barat', 'P3408', 'BRAND_S', 12, '240000'),
(1613050, '2019-01-02 00:00:00', 12921, 'Bogor', 'Jawa Barat', 'P2445', 'BRAND_P', 24, '205000'),
(1613050, '2019-01-02 00:00:00', 12921, 'Bogor', 'Jawa Barat', 'P0128', 'BRAND_A', 24, '205000'),
(1613050, '2019-01-02 00:00:00', 12921, 'Bogor', 'Jawa Barat', 'P0132', 'BRAND_A', 24, '205000'),
(1613056, '2019-01-02 00:00:00', 18077, 'Jakarta Selatan', 'DKI Jakarta', 'P0413', 'BRAND_B', 1, '1395000'),
(1613056, '2019-01-02 00:00:00', 18077, 'Jakarta Selatan', 'DKI Jakarta', 'P0087', 'BRAND_A', 6, '450000'),
(1613056, '2019-01-02 00:00:00', 18077, 'Jakarta Selatan', 'DKI Jakarta', 'P2115', 'BRAND_M', 12, '159000'),
(1613056, '2019-01-02 00:00:00', 18077, 'Jakarta Selatan', 'DKI Jakarta', 'P1498', 'BRAND_G', 10, '310000'),
(1613056, '2019-01-02 00:00:00', 18077, 'Jakarta Selatan', 'DKI Jakarta', 'P3414', 'BRAND_S', 10, '310000'),
(1613056, '2019-01-02 00:00:00', 18077, 'Jakarta Selatan', 'DKI Jakarta', 'P2430', 'BRAND_P', 6, '450000'),
(1613056, '2019-01-02 00:00:00', 18077, 'Jakarta Selatan', 'DKI Jakarta', 'P3831', 'BRAND_V', 10, '450000'),
(1613056, '2019-01-02 00:00:00', 18077, 'Jakarta Selatan', 'DKI Jakarta', 'P3021', 'BRAND_R', 5, '590000'),
(1613056, '2019-01-02 00:00:00', 18077, 'Jakarta Selatan', 'DKI Jakarta', 'P0623', 'BRAND_B', 6, '695000'),
(1613056, '2019-01-02 00:00:00', 18077, 'Jakarta Selatan', 'DKI Jakarta', 'P0122', 'BRAND_A', 6, '590000'),
(1613056, '2019-01-02 00:00:00', 18077, 'Jakarta Selatan', 'DKI Jakarta', 'P2779', 'BRAND_P', 24, '159000'),
(1613056, '2019-01-02 00:00:00', 18077, 'Jakarta Selatan', 'DKI Jakarta', 'P3011', 'BRAND_R', 6, '747000'),
(1613056, '2019-01-02 00:00:00', 18077, 'Jakarta Selatan', 'DKI Jakarta', 'P0055', 'BRAND_A', 6, '450000'),
(1613056, '2019-01-02 00:00:00', 18077, 'Jakarta Selatan', 'DKI Jakarta', 'P3457', 'BRAND_S', 6, '1045000'),
(1613056, '2019-01-02 00:00:00', 18077, 'Jakarta Selatan', 'DKI Jakarta', 'P0882', 'BRAND_C', 6, '904000'),
(1613056, '2019-01-02 00:00:00', 18077, 'Jakarta Selatan', 'DKI Jakarta', 'P0126', 'BRAND_A', 24, '205000'),
(1613056, '2019-01-02 00:00:00', 18077, 'Jakarta Selatan', 'DKI Jakarta', 'P0881', 'BRAND_C', 6, '904000'),
(1613056, '2019-01-02 00:00:00', 18077, 'Jakarta Selatan', 'DKI Jakarta', 'P3020', 'BRAND_R', 15, '590000'),
(1613056, '2019-01-02 00:00:00', 18077, 'Jakarta Selatan', 'DKI Jakarta', 'P3250', 'BRAND_S', 6, '310000'),
(1613059, '2019-01-02 00:00:00', 14744, 'Yogyakarta', 'Yogyakarta', 'P3356', 'BRAND_S', 48, '450000'),
(1613059, '2019-01-02 00:00:00', 14744, 'Yogyakarta', 'Yogyakarta', 'P2093', 'BRAND_L', 50, '590000'),
(1613059, '2019-01-02 00:00:00', 14744, 'Yogyakarta', 'Yogyakarta', 'P2094', 'BRAND_L', 50, '590000'),
(1613065, '2019-01-02 00:00:00', 17406, 'Tangerang', 'Banten', 'P3250', 'BRAND_S', 12, '310000'),
(1613065, '2019-01-02 00:00:00', 17406, 'Tangerang', 'Banten', 'P0927', 'BRAND_C', 32, '975000'),
(1613065, '2019-01-02 00:00:00', 17406, 'Tangerang', 'Banten', 'P0898', 'BRAND_C', 12, '695000'),
(1613065, '2019-01-02 00:00:00', 17406, 'Tangerang', 'Banten', 'P1508', 'BRAND_G', 24, '747000'),
(1613065, '2019-01-02 00:00:00', 17406, 'Tangerang', 'Banten', 'P1674', 'BRAND_H', 12, '747000'),
(1613065, '2019-01-02 00:00:00', 17406, 'Tangerang', 'Banten', 'P2806', 'BRAND_P', 12, '695000'),
(1613065, '2019-01-02 00:00:00', 17406, 'Tangerang', 'Banten', 'P2770', 'BRAND_P', 12, '747000'),
(1613065, '2019-01-02 00:00:00', 17406, 'Tangerang', 'Banten', 'P2136', 'BRAND_M', 12, '747000'),
(1613065, '2019-01-02 00:00:00', 17406, 'Tangerang', 'Banten', 'P0792', 'BRAND_C', 12, '747000'),
(1613065, '2019-01-02 00:00:00', 17406, 'Tangerang', 'Banten', 'P1951', 'BRAND_L', 6, '904000'),
(1613065, '2019-01-02 00:00:00', 17406, 'Tangerang', 'Banten', 'P0158', 'BRAND_A', 24, '240000'),
(1613065, '2019-01-02 00:00:00', 17406, 'Tangerang', 'Banten', 'P2797', 'BRAND_P', 6, '1045000'),
(1613065, '2019-01-02 00:00:00', 17406, 'Tangerang', 'Banten', 'P1877', 'BRAND_J', 3, '1325000'),
(1613065, '2019-01-02 00:00:00', 17406, 'Tangerang', 'Banten', 'P2839', 'BRAND_P', 3, '1325000'),
(1613065, '2019-01-02 00:00:00', 17406, 'Tangerang', 'Banten', 'P2968', 'BRAND_R', 16, '3844000'),
(1613065, '2019-01-02 00:00:00', 17406, 'Tangerang', 'Banten', 'P3344', 'BRAND_S', 12, '520000'),
(1613065, '2019-01-02 00:00:00', 17406, 'Tangerang', 'Banten', 'P1638', 'BRAND_G', 24, '904000'),
(1613065, '2019-01-02 00:00:00', 17406, 'Tangerang', 'Banten', 'P3069', 'BRAND_R', 24, '904000'),
(1613065, '2019-01-02 00:00:00', 17406, 'Tangerang', 'Banten', 'P2077', 'BRAND_L', 12, '590000'),
(1613068, '2019-01-02 00:00:00', 15750, 'Depok', 'Jawa Barat', 'P0649', 'BRAND_C', 12, '604000'),
(1613068, '2019-01-02 00:00:00', 15750, 'Depok', 'Jawa Barat', 'P4100', 'BRAND_W', 48, '113000'),
(1613068, '2019-01-02 00:00:00', 15750, 'Depok', 'Jawa Barat', 'P0288', 'BRAND_A', 16, '604000'),
(1613068, '2019-01-02 00:00:00', 15750, 'Depok', 'Jawa Barat', 'P2191', 'BRAND_M', 20, '310000'),
(1613068, '2019-01-02 00:00:00', 15750, 'Depok', 'Jawa Barat', 'P1723', 'BRAND_H', 12, '450000'),
(1613068, '2019-01-02 00:00:00', 15750, 'Depok', 'Jawa Barat', 'P2778', 'BRAND_P', 48, '310000'),
(1613068, '2019-01-02 00:00:00', 15750, 'Depok', 'Jawa Barat', 'P2410', 'BRAND_P', 24, '113000'),
(1613068, '2019-01-02 00:00:00', 15750, 'Depok', 'Jawa Barat', 'P2411', 'BRAND_P', 24, '113000'),
(1613068, '2019-01-02 00:00:00', 15750, 'Depok', 'Jawa Barat', 'P2417', 'BRAND_P', 24, '113000'),
(1613068, '2019-01-02 00:00:00', 15750, 'Depok', 'Jawa Barat', 'P1954', 'BRAND_L', 12, '450000'),
(1613068, '2019-01-02 00:00:00', 15750, 'Depok', 'Jawa Barat', 'P1468', 'BRAND_F', 4, '1500000'),
(1613068, '2019-01-02 00:00:00', 15750, 'Depok', 'Jawa Barat', 'P1663', 'BRAND_G', 6, '904000'),
(1613068, '2019-01-02 00:00:00', 15750, 'Depok', 'Jawa Barat', 'P1951', 'BRAND_L', 6, '904000'),
(1613068, '2019-01-02 00:00:00', 15750, 'Depok', 'Jawa Barat', 'P3403', 'BRAND_S', 12, '747000'),
(1613068, '2019-01-02 00:00:00', 15750, 'Depok', 'Jawa Barat', 'P1117', 'BRAND_D', 2, '2795000'),
(1613068, '2019-01-02 00:00:00', 15750, 'Depok', 'Jawa Barat', 'P4071', 'BRAND_W', 6, '1045000'),
(1613068, '2019-01-02 00:00:00', 15750, 'Depok', 'Jawa Barat', 'P1678', 'BRAND_H', 12, '747000'),
(1613071, '2019-01-02 00:00:00', 13983, 'Surakarta', 'Jawa Tengah', 'P3261', 'BRAND_S', 12, '450000'),
(1613071, '2019-01-02 00:00:00', 13983, 'Surakarta', 'Jawa Tengah', 'P0087', 'BRAND_A', 18, '450000'),
(1613071, '2019-01-02 00:00:00', 13983, 'Surakarta', 'Jawa Tengah', 'P3249', 'BRAND_S', 12, '747000'),
(1613071, '2019-01-02 00:00:00', 13983, 'Surakarta', 'Jawa Tengah', 'P0791', 'BRAND_C', 12, '1745000'),
(1613071, '2019-01-02 00:00:00', 13983, 'Surakarta', 'Jawa Tengah', 'P1285', 'BRAND_F', 4, '1045000'),
(1613071, '2019-01-02 00:00:00', 13983, 'Surakarta', 'Jawa Tengah', 'P3250', 'BRAND_S', 12, '310000'),
(1613071, '2019-01-02 00:00:00', 13983, 'Surakarta', 'Jawa Tengah', 'P2404', 'BRAND_P', 24, '113000'),
(1613071, '2019-01-02 00:00:00', 13983, 'Surakarta', 'Jawa Tengah', 'P1805', 'BRAND_H', 12, '1395000'),
(1613071, '2019-01-02 00:00:00', 13983, 'Surakarta', 'Jawa Tengah', 'P2904', 'BRAND_R', 2, '2987000'),
(1613071, '2019-01-02 00:00:00', 13983, 'Surakarta', 'Jawa Tengah', 'P0414', 'BRAND_B', 2, '2987000'),
(1613071, '2019-01-02 00:00:00', 13983, 'Surakarta', 'Jawa Tengah', 'P4125', 'BRAND_W', 25, '159000'),
(1613071, '2019-01-02 00:00:00', 13983, 'Surakarta', 'Jawa Tengah', 'P0373', 'BRAND_B', 25, '159000'),
(1613071, '2019-01-02 00:00:00', 13983, 'Surakarta', 'Jawa Tengah', 'P3989', 'BRAND_W', 18, '590000'),
(1613071, '2019-01-02 00:00:00', 13983, 'Surakarta', 'Jawa Tengah', 'P4142', 'BRAND_W', 25, '159000'),
(1613071, '2019-01-02 00:00:00', 13983, 'Surakarta', 'Jawa Tengah', 'P2001', 'BRAND_L', 17, '747000'),
(1613074, '2019-01-02 00:00:00', 13842, 'Jakarta Selatan', 'DKI Jakarta', 'P3676', 'BRAND_T', 12, '450000'),
(1613074, '2019-01-02 00:00:00', 13842, 'Jakarta Selatan', 'DKI Jakarta', 'P0065', 'BRAND_A', 2, '2987000'),
(1613074, '2019-01-02 00:00:00', 13842, 'Jakarta Selatan', 'DKI Jakarta', 'P4060', 'BRAND_W', 2, '2795000'),
(1613074, '2019-01-02 00:00:00', 13842, 'Jakarta Selatan', 'DKI Jakarta', 'P2521', 'BRAND_P', 5, '1640000'),
(1613074, '2019-01-02 00:00:00', 13842, 'Jakarta Selatan', 'DKI Jakarta', 'P1741', 'BRAND_H', 6, '1045000'),
(1613074, '2019-01-02 00:00:00', 13842, 'Jakarta Selatan', 'DKI Jakarta', 'P1742', 'BRAND_H', 12, '590000'),
(1613074, '2019-01-02 00:00:00', 13842, 'Jakarta Selatan', 'DKI Jakarta', 'P0255', 'BRAND_A', 8, '604000'),
(1613074, '2019-01-02 00:00:00', 13842, 'Jakarta Selatan', 'DKI Jakarta', 'P0037', 'BRAND_A', 24, '240000'),
(1613074, '2019-01-02 00:00:00', 13842, 'Jakarta Selatan', 'DKI Jakarta', 'P0042', 'BRAND_A', 12, '310000'),
(1613074, '2019-01-02 00:00:00', 13842, 'Jakarta Selatan', 'DKI Jakarta', 'P2154', 'BRAND_M', 4, '1745000'),
(1613074, '2019-01-02 00:00:00', 13842, 'Jakarta Selatan', 'DKI Jakarta', 'P2276', 'BRAND_M', 4, '1325000'),
(1613074, '2019-01-02 00:00:00', 13842, 'Jakarta Selatan', 'DKI Jakarta', 'P1708', 'BRAND_H', 12, '590000'),
(1613074, '2019-01-02 00:00:00', 13842, 'Jakarta Selatan', 'DKI Jakarta', 'P0886', 'BRAND_C', 16, '240000'),
(1613074, '2019-01-02 00:00:00', 13842, 'Jakarta Selatan', 'DKI Jakarta', 'P0158', 'BRAND_A', 12, '240000'),
(1613074, '2019-01-02 00:00:00', 13842, 'Jakarta Selatan', 'DKI Jakarta', 'P1301', 'BRAND_F', 6, '747000'),
(1613074, '2019-01-02 00:00:00', 13842, 'Jakarta Selatan', 'DKI Jakarta', 'P1303', 'BRAND_F', 12, '520000'),
(1613074, '2019-01-02 00:00:00', 13842, 'Jakarta Selatan', 'DKI Jakarta', 'P2782', 'BRAND_P', 3, '520000'),
(1613074, '2019-01-02 00:00:00', 13842, 'Jakarta Selatan', 'DKI Jakarta', 'P2865', 'BRAND_R', 6, '1045000'),
(1613074, '2019-01-02 00:00:00', 13842, 'Jakarta Selatan', 'DKI Jakarta', 'P1780', 'BRAND_H', 3, '2095000'),
(1613074, '2019-01-02 00:00:00', 13842, 'Jakarta Selatan', 'DKI Jakarta', 'P0772', 'BRAND_C', 2, '3494000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P2900', 'BRAND_R', 6, '1045000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P1737', 'BRAND_H', 36, '590000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P1735', 'BRAND_H', 24, '590000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P1735', 'BRAND_H', 5, '590000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P0714', 'BRAND_C', 6, '534000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P2968', 'BRAND_R', 1, '4475000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P0786', 'BRAND_C', 6, '590000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P0817', 'BRAND_C', 4, '520000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P0705', 'BRAND_C', 6, '534000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P3662', 'BRAND_S', 20, '450000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P0709', 'BRAND_C', 4, '520000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P0713', 'BRAND_C', 4, '520000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P2636', 'BRAND_P', 8, '590000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P2812', 'BRAND_P', 6, '450000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P1809', 'BRAND_I', 6, '450000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P0712', 'BRAND_C', 4, '534000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P0706', 'BRAND_C', 4, '534000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P1456', 'BRAND_F', 24, '310000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P1457', 'BRAND_F', 12, '310000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P1455', 'BRAND_F', 24, '310000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P2128', 'BRAND_M', 4, '450000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P0359', 'BRAND_B', 2, '310000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P1508', 'BRAND_G', 24, '747000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P0356', 'BRAND_B', 24, '604000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P3250', 'BRAND_S', 4, '310000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P0126', 'BRAND_A', 12, '205000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P1083', 'BRAND_D', 36, '695000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P0304', 'BRAND_B', 1, '904000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P0305', 'BRAND_B', 1, '904000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P0309', 'BRAND_B', 1, '904000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P0300', 'BRAND_B', 2, '904000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P1738', 'BRAND_H', 4, '450000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P1734', 'BRAND_H', 4, '450000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P3507', 'BRAND_S', 4, '450000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P3699', 'BRAND_T', 8, '450000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P0010', 'BRAND_S', 4, '1045000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P2442', 'BRAND_P', 2, '205000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P0128', 'BRAND_A', 4, '205000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P2443', 'BRAND_P', 6, '205000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P0132', 'BRAND_A', 6, '205000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P2445', 'BRAND_P', 4, '205000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P2444', 'BRAND_P', 4, '205000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P0241', 'BRAND_A', 6, '747000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P0164', 'BRAND_A', 2, '747000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P2770', 'BRAND_P', 8, '747000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P1813', 'BRAND_I', 7, '747000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P0898', 'BRAND_C', 12, '695000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P1674', 'BRAND_H', 12, '747000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P1797', 'BRAND_H', 8, '747000'),
(1613077, '2019-01-02 00:00:00', 14796, 'Yogyakarta', 'Yogyakarta', 'P0792', 'BRAND_C', 8, '747000'),
(1613080, '2019-01-02 00:00:00', 12441, 'Makassar', 'Sulawesi Selatan', 'P4132', 'BRAND_W', 25, '159000'),
(1613080, '2019-01-02 00:00:00', 12441, 'Makassar', 'Sulawesi Selatan', 'P3850', 'BRAND_V', 25, '159000'),
(1613080, '2019-01-02 00:00:00', 12441, 'Makassar', 'Sulawesi Selatan', 'P0538', 'BRAND_B', 25, '159000'),
(1613080, '2019-01-02 00:00:00', 12441, 'Makassar', 'Sulawesi Selatan', 'P2494', 'BRAND_P', 6, '1045000'),
(1613080, '2019-01-02 00:00:00', 12441, 'Makassar', 'Sulawesi Selatan', 'P2489', 'BRAND_P', 6, '1045000'),
(1613080, '2019-01-02 00:00:00', 12441, 'Makassar', 'Sulawesi Selatan', 'P2135', 'BRAND_M', 6, '1045000'),
(1613080, '2019-01-02 00:00:00', 12441, 'Makassar', 'Sulawesi Selatan', 'P2134', 'BRAND_M', 6, '1045000'),
(1613080, '2019-01-02 00:00:00', 12441, 'Makassar', 'Sulawesi Selatan', 'P1266', 'BRAND_F', 4, '1325000'),
(1613080, '2019-01-02 00:00:00', 12441, 'Makassar', 'Sulawesi Selatan', 'P3700', 'BRAND_T', 5, '1640000'),
(1613080, '2019-01-02 00:00:00', 12441, 'Makassar', 'Sulawesi Selatan', 'P3747', 'BRAND_T', 12, '450000'),
(1613080, '2019-01-02 00:00:00', 12441, 'Makassar', 'Sulawesi Selatan', 'P2803', 'BRAND_P', 1, '6312000'),
(1613083, '2019-01-02 00:00:00', 14901, 'Jakarta Pusat', 'DKI Jakarta', 'P0809', 'BRAND_C', 2, '2987000'),
(1613083, '2019-01-02 00:00:00', 14901, 'Jakarta Pusat', 'DKI Jakarta', 'P0170', 'BRAND_A', 1, '1325000'),
(1613083, '2019-01-02 00:00:00', 14901, 'Jakarta Pusat', 'DKI Jakarta', 'P0305', 'BRAND_B', 2, '904000'),
(1613083, '2019-01-02 00:00:00', 14901, 'Jakarta Pusat', 'DKI Jakarta', 'P0304', 'BRAND_B', 2, '904000'),
(1613083, '2019-01-02 00:00:00', 14901, 'Jakarta Pusat', 'DKI Jakarta', 'P3261', 'BRAND_S', 2, '450000'),
(1613083, '2019-01-02 00:00:00', 14901, 'Jakarta Pusat', 'DKI Jakarta', 'P0300', 'BRAND_B', 12, '904000'),
(1613083, '2019-01-02 00:00:00', 14901, 'Jakarta Pusat', 'DKI Jakarta', 'P1867', 'BRAND_J', 12, '520000'),
(1613083, '2019-01-02 00:00:00', 14901, 'Jakarta Pusat', 'DKI Jakarta', 'P1511', 'BRAND_G', 4, '450000'),
(1613083, '2019-01-02 00:00:00', 14901, 'Jakarta Pusat', 'DKI Jakarta', 'P2763', 'BRAND_P', 4, '590000'),
(1613083, '2019-01-02 00:00:00', 14901, 'Jakarta Pusat', 'DKI Jakarta', 'P0307', 'BRAND_B', 3, '1150000'),
(1613083, '2019-01-02 00:00:00', 14901, 'Jakarta Pusat', 'DKI Jakarta', 'P0306', 'BRAND_B', 3, '1150000'),
(1613083, '2019-01-02 00:00:00', 14901, 'Jakarta Pusat', 'DKI Jakarta', 'P3254', 'BRAND_S', 6, '450000'),
(1613083, '2019-01-02 00:00:00', 14901, 'Jakarta Pusat', 'DKI Jakarta', 'P0075', 'BRAND_A', 2, '747000'),
(1613083, '2019-01-02 00:00:00', 14901, 'Jakarta Pusat', 'DKI Jakarta', 'P1868', 'BRAND_J', 8, '1500000'),
(1613095, '2019-01-02 00:00:00', 13199, 'Malang', 'Jawa Timur', 'P2281', 'BRAND_M', 384, '264000'),
(1613095, '2019-01-02 00:00:00', 13199, 'Malang', 'Jawa Timur', 'P2227', 'BRAND_M', 16, '1745000'),
(1613095, '2019-01-02 00:00:00', 13199, 'Malang', 'Jawa Timur', 'P1059', 'BRAND_D', 16, '1500000'),
(1613095, '2019-01-02 00:00:00', 13199, 'Malang', 'Jawa Timur', 'P3348', 'BRAND_S', 36, '450000'),
(1613101, '2019-01-02 00:00:00', 18229, 'Jakarta Selatan', 'DKI Jakarta', 'P3253', 'BRAND_S', 12, '1640000'),
(1613101, '2019-01-02 00:00:00', 18229, 'Jakarta Selatan', 'DKI Jakarta', 'P0167', 'BRAND_A', 8, '1325000'),
(1613101, '2019-01-02 00:00:00', 18229, 'Jakarta Selatan', 'DKI Jakarta', 'P3257', 'BRAND_S', 48, '1640000'),
(1613122, '2019-01-02 00:00:00', 14032, 'Yogyakarta', 'Yogyakarta', 'P1800', 'BRAND_H', 4, '1640000'),
(1613122, '2019-01-02 00:00:00', 14032, 'Yogyakarta', 'Yogyakarta', 'P1794', 'BRAND_H', 12, '520000'),
(1613122, '2019-01-02 00:00:00', 14032, 'Yogyakarta', 'Yogyakarta', 'P0755', 'BRAND_C', 12, '590000'),
(1613122, '2019-01-02 00:00:00', 14032, 'Yogyakarta', 'Yogyakarta', 'P0844', 'BRAND_C', 12, '450000'),
(1613122, '2019-01-02 00:00:00', 14032, 'Yogyakarta', 'Yogyakarta', 'P3574', 'BRAND_S', 12, '450000'),
(1613122, '2019-01-02 00:00:00', 14032, 'Yogyakarta', 'Yogyakarta', 'P0904', 'BRAND_C', 8, '1325000'),
(1613122, '2019-01-02 00:00:00', 14032, 'Yogyakarta', 'Yogyakarta', 'P0771', 'BRAND_C', 2, '2987000'),
(1613122, '2019-01-02 00:00:00', 14032, 'Yogyakarta', 'Yogyakarta', 'P1659', 'BRAND_G', 8, '747000'),
(1613122, '2019-01-02 00:00:00', 14032, 'Yogyakarta', 'Yogyakarta', 'P3741', 'BRAND_T', 12, '747000'),
(1613122, '2019-01-02 00:00:00', 14032, 'Yogyakarta', 'Yogyakarta', 'P0010', 'BRAND_S', 6, '1045000'),
(1613122, '2019-01-02 00:00:00', 14032, 'Yogyakarta', 'Yogyakarta', 'P2104', 'BRAND_L', 12, '695000'),
(1613122, '2019-01-02 00:00:00', 14032, 'Yogyakarta', 'Yogyakarta', 'P2636', 'BRAND_P', 12, '590000'),
(1613122, '2019-01-02 00:00:00', 14032, 'Yogyakarta', 'Yogyakarta', 'P4100', 'BRAND_W', 48, '113000'),
(1613122, '2019-01-02 00:00:00', 14032, 'Yogyakarta', 'Yogyakarta', 'P1469', 'BRAND_F', 16, '1199000'),
(1613215, '2019-01-02 00:00:00', 17706, 'Jakarta Utara', 'DKI Jakarta', 'P2968', 'BRAND_R', 2, '4475000'),
(1613215, '2019-01-02 00:00:00', 17706, 'Jakarta Utara', 'DKI Jakarta', 'P1638', 'BRAND_G', 6, '1045000'),
(1613215, '2019-01-02 00:00:00', 17706, 'Jakarta Utara', 'DKI Jakarta', 'P1914', 'BRAND_J', 10, '695000'),
(1613215, '2019-01-02 00:00:00', 17706, 'Jakarta Utara', 'DKI Jakarta', 'P3875', 'BRAND_V', 12, '450000'),
(1613215, '2019-01-02 00:00:00', 17706, 'Jakarta Utara', 'DKI Jakarta', 'P3907', 'BRAND_V', 12, '310000'),
(1613215, '2019-01-02 00:00:00', 17706, 'Jakarta Utara', 'DKI Jakarta', 'P1679', 'BRAND_H', 12, '747000'),
(1613215, '2019-01-02 00:00:00', 17706, 'Jakarta Utara', 'DKI Jakarta', 'P4025', 'BRAND_W', 4, '1325000'),
(1613215, '2019-01-02 00:00:00', 17706, 'Jakarta Utara', 'DKI Jakarta', 'P1802', 'BRAND_H', 4, '1640000'),
(1613215, '2019-01-02 00:00:00', 17706, 'Jakarta Utara', 'DKI Jakarta', 'P0753', 'BRAND_C', 4, '1220000'),
(1613215, '2019-01-02 00:00:00', 17706, 'Jakarta Utara', 'DKI Jakarta', 'P1656', 'BRAND_G', 4, '1325000'),
(1613215, '2019-01-02 00:00:00', 17706, 'Jakarta Utara', 'DKI Jakarta', 'P1901', 'BRAND_J', 10, '695000'),
(1613215, '2019-01-02 00:00:00', 17706, 'Jakarta Utara', 'DKI Jakarta', 'P1890', 'BRAND_J', 10, '695000'),
(1613215, '2019-01-02 00:00:00', 17706, 'Jakarta Utara', 'DKI Jakarta', 'P1913', 'BRAND_J', 10, '695000'),
(1613215, '2019-01-02 00:00:00', 17706, 'Jakarta Utara', 'DKI Jakarta', 'P3699', 'BRAND_T', 10, '450000'),
(1613215, '2019-01-02 00:00:00', 17706, 'Jakarta Utara', 'DKI Jakarta', 'P2930', 'BRAND_R', 10, '450000'),
(1613215, '2019-01-02 00:00:00', 17706, 'Jakarta Utara', 'DKI Jakarta', 'P0875', 'BRAND_C', 12, '534000'),
(1613215, '2019-01-02 00:00:00', 17706, 'Jakarta Utara', 'DKI Jakarta', 'P1376', 'BRAND_F', 12, '310000'),
(1613230, '2019-01-02 00:00:00', 17706, 'Jakarta Utara', 'DKI Jakarta', 'P0219', 'BRAND_A', 8, '1045000'),
(1613230, '2019-01-02 00:00:00', 17706, 'Jakarta Utara', 'DKI Jakarta', 'P0235', 'BRAND_A', 4, '1325000'),
(1613230, '2019-01-02 00:00:00', 17706, 'Jakarta Utara', 'DKI Jakarta', 'P0221', 'BRAND_A', 4, '1325000'),
(1613230, '2019-01-02 00:00:00', 17706, 'Jakarta Utara', 'DKI Jakarta', 'P3682', 'BRAND_T', 8, '695000'),
(1613230, '2019-01-02 00:00:00', 17706, 'Jakarta Utara', 'DKI Jakarta', 'P3660', 'BRAND_S', 2, '3494000'),
(1613230, '2019-01-02 00:00:00', 17706, 'Jakarta Utara', 'DKI Jakarta', 'P1607', 'BRAND_G', 12, '450000'),
(1613230, '2019-01-02 00:00:00', 17706, 'Jakarta Utara', 'DKI Jakarta', 'P2827', 'BRAND_P', 12, '450000'),
(1613230, '2019-01-02 00:00:00', 17706, 'Jakarta Utara', 'DKI Jakarta', 'P0471', 'BRAND_B', 12, '450000'),
(1613230, '2019-01-02 00:00:00', 17706, 'Jakarta Utara', 'DKI Jakarta', 'P1240', 'BRAND_E', 3, '2095000'),
(1613254, '2019-01-02 00:00:00', 17706, 'Jakarta Utara', 'DKI Jakarta', 'P0941', 'BRAND_C', 4, '2095000'),
(1613254, '2019-01-02 00:00:00', 17706, 'Jakarta Utara', 'DKI Jakarta', 'P0870', 'BRAND_C', 12, '450000'),
(1613263, '2019-01-02 00:00:00', 16081, 'Jakarta Utara', 'DKI Jakarta', 'P3069', 'BRAND_R', 4, '1045000'),
(1613263, '2019-01-02 00:00:00', 16081, 'Jakarta Utara', 'DKI Jakarta', 'P0707', 'BRAND_C', 2, '3494000'),
(1613263, '2019-01-02 00:00:00', 16081, 'Jakarta Utara', 'DKI Jakarta', 'P3633', 'BRAND_S', 1, '1745000'),
(1613263, '2019-01-02 00:00:00', 16081, 'Jakarta Utara', 'DKI Jakarta', 'P0884', 'BRAND_C', 6, '904000'),
(1613263, '2019-01-02 00:00:00', 16081, 'Jakarta Utara', 'DKI Jakarta', 'P4009', 'BRAND_W', 3, '1045000'),
(1613263, '2019-01-02 00:00:00', 16081, 'Jakarta Utara', 'DKI Jakarta', 'P3698', 'BRAND_T', 1, '2095000'),
(1613263, '2019-01-02 00:00:00', 16081, 'Jakarta Utara', 'DKI Jakarta', 'P2165', 'BRAND_M', 1, '1045000'),
(1613263, '2019-01-02 00:00:00', 16081, 'Jakarta Utara', 'DKI Jakarta', 'P3909', 'BRAND_V', 1, '2987000'),
(1613263, '2019-01-02 00:00:00', 16081, 'Jakarta Utara', 'DKI Jakarta', 'P2490', 'BRAND_P', 1, '1045000'),
(1613263, '2019-01-02 00:00:00', 16081, 'Jakarta Utara', 'DKI Jakarta', 'P2942', 'BRAND_R', 2, '904000'),
(1613263, '2019-01-02 00:00:00', 16081, 'Jakarta Utara', 'DKI Jakarta', 'P3629', 'BRAND_S', 4, '450000'),
(1613263, '2019-01-02 00:00:00', 16081, 'Jakarta Utara', 'DKI Jakarta', 'P3013', 'BRAND_R', 2, '1745000'),
(1613263, '2019-01-02 00:00:00', 16081, 'Jakarta Utara', 'DKI Jakarta', 'P0709', 'BRAND_C', 4, '520000'),
(1613263, '2019-01-02 00:00:00', 16081, 'Jakarta Utara', 'DKI Jakarta', 'P3699', 'BRAND_T', 1, '450000'),
(1613263, '2019-01-02 00:00:00', 16081, 'Jakarta Utara', 'DKI Jakarta', 'P3279', 'BRAND_S', 2, '520000'),
(1613263, '2019-01-02 00:00:00', 16081, 'Jakarta Utara', 'DKI Jakarta', 'P3286', 'BRAND_S', 1, '1325000'),
(1613263, '2019-01-02 00:00:00', 16081, 'Jakarta Utara', 'DKI Jakarta', 'P3689', 'BRAND_T', 4, '310000'),
(1613263, '2019-01-02 00:00:00', 16081, 'Jakarta Utara', 'DKI Jakarta', 'P0880', 'BRAND_C', 6, '904000'),
(1613263, '2019-01-02 00:00:00', 16081, 'Jakarta Utara', 'DKI Jakarta', 'P3633', 'BRAND_S', 2, '1745000'),
(1613263, '2019-01-02 00:00:00', 16081, 'Jakarta Utara', 'DKI Jakarta', 'P2190', 'BRAND_M', 2, '520000'),
(1613263, '2019-01-02 00:00:00', 16081, 'Jakarta Utara', 'DKI Jakarta', 'P3547', 'BRAND_S', 2, '1325000'),
(1613263, '2019-01-02 00:00:00', 16081, 'Jakarta Utara', 'DKI Jakarta', 'P3534', 'BRAND_S', 1, '1325000 '),
(1613266, '2019-01-02 00:00:00', 16525, 'Yogyakarta', 'Yogyakarta', 'P3909', 'BRAND_V', 6, '2987000'),
(1613266, '2019-01-02 00:00:00', 16525, 'Yogyakarta', 'Yogyakarta', 'P1551', 'BRAND_G', 96, '236000'),
(1613266, '2019-01-02 00:00:00', 16525, 'Yogyakarta', 'Yogyakarta', 'P1114', 'BRAND_D', 10, '2375000'),
(1613266, '2019-01-02 00:00:00', 16525, 'Yogyakarta', 'Yogyakarta', 'P4009', 'BRAND_W', 32, '904000'),
(1613266, '2019-01-02 00:00:00', 16525, 'Yogyakarta', 'Yogyakarta', 'P1116', 'BRAND_D', 10, '2375000'),
(1613266, '2019-01-02 00:00:00', 16525, 'Yogyakarta', 'Yogyakarta', 'P1797', 'BRAND_H', 12, '747000'),
(1613266, '2019-01-02 00:00:00', 16525, 'Yogyakarta', 'Yogyakarta', 'P2930', 'BRAND_R', 10, '450000'),
(1613266, '2019-01-02 00:00:00', 16525, 'Yogyakarta', 'Yogyakarta', 'P1902', 'BRAND_J', 10, '695000'),
(1613266, '2019-01-02 00:00:00', 16525, 'Yogyakarta', 'Yogyakarta', 'P2932', 'BRAND_R', 12, '747000'),
(1613272, '2019-01-02 00:00:00', 17975, 'Depok', 'Jawa Barat', 'P4057', 'BRAND_W', 16, '1745000'),
(1613272, '2019-01-02 00:00:00', 17975, 'Depok', 'Jawa Barat', 'P4060', 'BRAND_W', 12, '2445000'),
(1613272, '2019-01-02 00:00:00', 17975, 'Depok', 'Jawa Barat', 'P0792', 'BRAND_C', 12, '747000'),
(1613272, '2019-01-02 00:00:00', 17975, 'Depok', 'Jawa Barat', 'P1951', 'BRAND_L', 12, '904000'),
(1613272, '2019-01-02 00:00:00', 17975, 'Depok', 'Jawa Barat', 'P1443', 'BRAND_F', 12, '590000'),
(1613272, '2019-01-02 00:00:00', 17975, 'Depok', 'Jawa Barat', 'P3923', 'BRAND_W', 4, '1325000'),
(1613272, '2019-01-02 00:00:00', 17975, 'Depok', 'Jawa Barat', 'P1674', 'BRAND_H', 12, '747000'),
(1613272, '2019-01-02 00:00:00', 17975, 'Depok', 'Jawa Barat', 'P2074', 'BRAND_L', 6, '2095000'),
(1613275, '2019-01-02 00:00:00', 16122, 'Jakarta Pusat', 'DKI Jakarta', 'P2625', 'BRAND_P', 12, '450000'),
(1613275, '2019-01-02 00:00:00', 16122, 'Jakarta Pusat', 'DKI Jakarta', 'P1301', 'BRAND_F', 6, '747000'),
(1613275, '2019-01-02 00:00:00', 16122, 'Jakarta Pusat', 'DKI Jakarta', 'P0071', 'BRAND_A', 6, '695000'),
(1613275, '2019-01-02 00:00:00', 16122, 'Jakarta Pusat', 'DKI Jakarta', 'P1306', 'BRAND_F', 4, '1325000'),
(1613275, '2019-01-02 00:00:00', 16122, 'Jakarta Pusat', 'DKI Jakarta', 'P1305', 'BRAND_F', 4, '1325000'),
(1613275, '2019-01-02 00:00:00', 16122, 'Jakarta Pusat', 'DKI Jakarta', 'P1318', 'BRAND_F', 4, '1325000'),
(1613275, '2019-01-02 00:00:00', 16122, 'Jakarta Pusat', 'DKI Jakarta', 'P2509', 'BRAND_P', 24, '61000'),
(1613275, '2019-01-02 00:00:00', 16122, 'Jakarta Pusat', 'DKI Jakarta', 'P3497', 'BRAND_S', 30, '86000'),
(1613275, '2019-01-02 00:00:00', 16122, 'Jakarta Pusat', 'DKI Jakarta', 'P1271', 'BRAND_F', 16, '159000'),
(1613275, '2019-01-02 00:00:00', 16122, 'Jakarta Pusat', 'DKI Jakarta', 'P2063', 'BRAND_L', 12, '159000'),
(1613278, '2019-01-02 00:00:00', 13126, 'Depok', 'Jawa Barat', 'P3629', 'BRAND_S', 12, '450000'),
(1613278, '2019-01-02 00:00:00', 13126, 'Depok', 'Jawa Barat', 'P3662', 'BRAND_S', 12, '450000'),
(1613278, '2019-01-02 00:00:00', 13126, 'Depok', 'Jawa Barat', 'P4071', 'BRAND_W', 12, '1045000'),
(1613278, '2019-01-02 00:00:00', 13126, 'Depok', 'Jawa Barat', 'P4075', 'BRAND_W', 6, '904000'),
(1613278, '2019-01-02 00:00:00', 13126, 'Depok', 'Jawa Barat', 'P0714', 'BRAND_C', 12, '534000'),
(1613278, '2019-01-02 00:00:00', 13126, 'Depok', 'Jawa Barat', 'P0705', 'BRAND_C', 12, '534000'),
(1613278, '2019-01-02 00:00:00', 13126, 'Depok', 'Jawa Barat', 'P2161', 'BRAND_M', 8, '695000'),
(1613278, '2019-01-02 00:00:00', 13126, 'Depok', 'Jawa Barat', 'P3665', 'BRAND_S', 2, '2375000'),
(1613278, '2019-01-02 00:00:00', 13126, 'Depok', 'Jawa Barat', 'P0706', 'BRAND_C', 12, '534000'),
(1613278, '2019-01-02 00:00:00', 13126, 'Depok', 'Jawa Barat', 'P4017', 'BRAND_W', 4, '1325000'),
(1613278, '2019-01-02 00:00:00', 13126, 'Depok', 'Jawa Barat', 'P1266', 'BRAND_F', 4, '1325000'),
(1613278, '2019-01-02 00:00:00', 13126, 'Depok', 'Jawa Barat', 'P1876', 'BRAND_J', 12, '310000'),
(1613281, '2019-01-02 00:00:00', 15973, 'Jakarta Timur', 'DKI Jakarta', 'P1867', 'BRAND_J', 12, '520000'),
(1613281, '2019-01-02 00:00:00', 15973, 'Jakarta Timur', 'DKI Jakarta', 'P3412', 'BRAND_S', 4, '1500000'),
(1613281, '2019-01-02 00:00:00', 15973, 'Jakarta Timur', 'DKI Jakarta', 'P1809', 'BRAND_I', 72, '383000'),
(1613281, '2019-01-02 00:00:00', 15973, 'Jakarta Timur', 'DKI Jakarta', 'P3809', 'BRAND_T', 18, '3844000'),
(1613284, '2019-01-02 00:00:00', 13126, 'Depok', 'Jawa Barat', 'P1742', 'BRAND_H', 12, '590000'),
(1613287, '2019-01-02 00:00:00', 16558, 'Jakarta Barat', 'DKI Jakarta', 'P1794', 'BRAND_H', 12, '520000'),
(1613287, '2019-01-02 00:00:00', 16558, 'Jakarta Barat', 'DKI Jakarta', 'P1868', 'BRAND_J', 6, '1500000'),
(1613287, '2019-01-02 00:00:00', 16558, 'Jakarta Barat', 'DKI Jakarta', 'P0810', 'BRAND_C', 2, '2987000'),
(1613287, '2019-01-02 00:00:00', 16558, 'Jakarta Barat', 'DKI Jakarta', 'P0047', 'BRAND_A', 2, '2795000'),
(1613287, '2019-01-02 00:00:00', 16558, 'Jakarta Barat', 'DKI Jakarta', 'P3250', 'BRAND_S', 12, '310000'),
(1613287, '2019-01-02 00:00:00', 16558, 'Jakarta Barat', 'DKI Jakarta', 'P0126', 'BRAND_A', 24, '205000'),
(1613287, '2019-01-02 00:00:00', 16558, 'Jakarta Barat', 'DKI Jakarta', 'P3071', 'BRAND_R', 18, '904000'),
(1613287, '2019-01-02 00:00:00', 16558, 'Jakarta Barat', 'DKI Jakarta', 'P4204', 'BRAND_Z', 12, '310000'),
(1613287, '2019-01-02 00:00:00', 16558, 'Jakarta Barat', 'DKI Jakarta', 'P1702', 'BRAND_H', 12, '310000'),
(1613287, '2019-01-02 00:00:00', 16558, 'Jakarta Barat', 'DKI Jakarta', 'P1285', 'BRAND_F', 6, '1045000'),
(1613287, '2019-01-02 00:00:00', 16558, 'Jakarta Barat', 'DKI Jakarta', 'P0791', 'BRAND_C', 9, '1745000'),
(1613287, '2019-01-02 00:00:00', 16558, 'Jakarta Barat', 'DKI Jakarta', 'P1802', 'BRAND_H', 4, '1640000'),
(1613287, '2019-01-02 00:00:00', 16558, 'Jakarta Barat', 'DKI Jakarta', 'P4125', 'BRAND_W', 25, '159000'),
(1613287, '2019-01-02 00:00:00', 16558, 'Jakarta Barat', 'DKI Jakarta', 'P1897', 'BRAND_J', 10, '695000'),
(1613287, '2019-01-02 00:00:00', 16558, 'Jakarta Barat', 'DKI Jakarta', 'P1902', 'BRAND_J', 10, '695000'),
(1613287, '2019-01-02 00:00:00', 16558, 'Jakarta Barat', 'DKI Jakarta', 'P2924', 'BRAND_R', 10, '310000'),
(1613287, '2019-01-02 00:00:00', 16558, 'Jakarta Barat', 'DKI Jakarta', 'P1660', 'BRAND_G', 2, '2795000'),
(1613287, '2019-01-02 00:00:00', 16558, 'Jakarta Barat', 'DKI Jakarta', 'P1661', 'BRAND_G', 2, '2795000'),
(1613287, '2019-01-02 00:00:00', 16558, 'Jakarta Barat', 'DKI Jakarta', 'P0881', 'BRAND_C', 6, '904000'),
(1613287, '2019-01-02 00:00:00', 16558, 'Jakarta Barat', 'DKI Jakarta', 'P0882', 'BRAND_C', 6, '904000'),
(1613287, '2019-01-02 00:00:00', 16558, 'Jakarta Barat', 'DKI Jakarta', 'P0435', 'BRAND_B', 12, '590000'),
(1613287, '2019-01-02 00:00:00', 16558, 'Jakarta Barat', 'DKI Jakarta', 'P1839', 'BRAND_I', 6, '590000'),
(1613287, '2019-01-02 00:00:00', 16558, 'Jakarta Barat', 'DKI Jakarta', 'P2358', 'BRAND_O', 6, '1045000'),
(1613287, '2019-01-02 00:00:00', 16558, 'Jakarta Barat', 'DKI Jakarta', 'P0071', 'BRAND_A', 6, '695000'),
(1613287, '2019-01-02 00:00:00', 16558, 'Jakarta Barat', 'DKI Jakarta', 'P1679', 'BRAND_H', 12, '747000'),
(1613287, '2019-01-02 00:00:00', 16558, 'Jakarta Barat', 'DKI Jakarta', 'P3257', 'BRAND_S', 3, '1920000'),
(1613287, '2019-01-02 00:00:00', 16558, 'Jakarta Barat', 'DKI Jakarta', 'P2489', 'BRAND_P', 40, '904000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P3020', 'BRAND_R', 1, '590000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P1314', 'BRAND_F', 1, '310000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P1700', 'BRAND_H', 1, '240000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P2763', 'BRAND_P', 1, '590000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P4195', 'BRAND_Z', 2, '450000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P0255', 'BRAND_A', 3, '604000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P2458', 'BRAND_P', 3, '604000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P2084', 'BRAND_L', 1, '310000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P3628', 'BRAND_S', 1, '450000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P0237', 'BRAND_A', 1, '450000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P4009', 'BRAND_W', 1, '1045000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P0654', 'BRAND_C', 1, '1045000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P2528', 'BRAND_P', 1, '450000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P0008', 'BRAND_O', 1, '3494000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P1554', 'BRAND_G', 2, '1045000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P0818', 'BRAND_C', 1, '310000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P4081', 'BRAND_W', 1, '310000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P1416', 'BRAND_F', 1, '1045000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P0122', 'BRAND_A', 1, '590000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P0312', 'BRAND_B', 1, '695000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P1901', 'BRAND_J', 1, '695000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P1900', 'BRAND_J', 1, '695000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P1868', 'BRAND_J', 1, '1500000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P2398', 'BRAND_P', 1, '695000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P0817', 'BRAND_C', 2, '520000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P2458', 'BRAND_P', 1, '604000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P0010', 'BRAND_S', 1, '1045000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P1305', 'BRAND_F', 1, '1325000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P1306', 'BRAND_F', 1, '1325000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P0726', 'BRAND_C', 1, '3494000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P1088', 'BRAND_D', 1, '1150000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P2327', 'BRAND_N', 1, '2095000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P1741', 'BRAND_H', 1, '1045000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P1742', 'BRAND_H', 3, '590000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P3521', 'BRAND_S', 1, '450000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P2133', 'BRAND_M', 1, '1045000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P1251', 'BRAND_E', 1, '1500000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P1479', 'BRAND_F', 1, '695000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P0798', 'BRAND_C', 1, '747000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P2494', 'BRAND_P', 1, '1045000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P1303', 'BRAND_F', 1, '520000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P0727', 'BRAND_C', 1, '1640000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P1307', 'BRAND_F', 1, '1325000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P3019', 'BRAND_R', 4, '345000'),
(1613293, '2019-01-02 00:00:00', 16893, 'Jakarta Utara', 'DKI Jakarta', 'P3999', 'BRAND_W', 6, '747000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P2040', 'BRAND_L', 2, '450000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P2025', 'BRAND_L', 1, '450000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P2024', 'BRAND_L', 1, '450000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P2033', 'BRAND_L', 1, '450000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P3345', 'BRAND_S', 1, '520000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P2959', 'BRAND_R', 1, '450000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P0253', 'BRAND_A', 6, '240000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P3629', 'BRAND_S', 1, '450000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P0258', 'BRAND_A', 1, '2795000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P1585', 'BRAND_G', 4, '310000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P0418', 'BRAND_B', 4, '310000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P3384', 'BRAND_S', 1, '747000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P3107', 'BRAND_S', 1, '590000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P2196', 'BRAND_M', 1, '159000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P3055', 'BRAND_R', 1, '2375000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P1662', 'BRAND_G', 24, '450000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P0402', 'BRAND_B', 2, '1934000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P2458', 'BRAND_P', 1, '604000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P2546', 'BRAND_P', 1, '2445000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P0140', 'BRAND_A', 1, '904000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P1737', 'BRAND_H', 1, '590000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P3344', 'BRAND_S', 1, '520000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P2606', 'BRAND_P', 1, '450000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P1982', 'BRAND_L', 1, '590000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P3689', 'BRAND_T', 2, '310000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P2847', 'BRAND_Q', 1, '450000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P1730', 'BRAND_H', 1, '450000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P1510', 'BRAND_G', 1, '450000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P2583', 'BRAND_P', 1, '1185000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P0940', 'BRAND_C', 1, '6645000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P1875', 'BRAND_J', 7, '159000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P3082', 'BRAND_R', 1, '1045000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P1236', 'BRAND_E', 1, '4475000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P1922', 'BRAND_K', 1, '4475000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P3115', 'BRAND_S', 1, '1045000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P2146', 'BRAND_M', 1, '13995000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P0436', 'BRAND_B', 1, '2095000'),
(1613296, '2019-01-02 00:00:00', 14606, 'Jakarta Barat', 'DKI Jakarta', 'P3416', 'BRAND_S', 1, '3494000'),
(1613299, '2019-01-02 00:00:00', 17677, 'Jakarta Barat', 'DKI Jakarta', 'P0309', 'BRAND_B', 72, '747000'),
(1613299, '2019-01-02 00:00:00', 17677, 'Jakarta Barat', 'DKI Jakarta', 'P0306', 'BRAND_B', 72, '975000'),
(1613299, '2019-01-02 00:00:00', 17677, 'Jakarta Barat', 'DKI Jakarta', 'P0305', 'BRAND_B', 72, '747000'),
(1613299, '2019-01-02 00:00:00', 17677, 'Jakarta Barat', 'DKI Jakarta', 'P0304', 'BRAND_B', 72, '747000'),
(1613302, '2019-01-02 00:00:00', 15100, 'Jakarta Pusat', 'DKI Jakarta', 'P3828', 'BRAND_V', 32, '3844000'),
(1613305, '2019-01-02 00:00:00', 15750, 'Depok', 'Jawa Barat', 'P1914', 'BRAND_J', 10, '695000'),
(1613305, '2019-01-02 00:00:00', 15750, 'Depok', 'Jawa Barat', 'P1902', 'BRAND_J', 10, '695000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P1190', 'BRAND_E', 2, '2095000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P2523', 'BRAND_P', 6, '310000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P2673', 'BRAND_P', 1, '590000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P1562', 'BRAND_G', 1, '904000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P2770', 'BRAND_P', 1, '747000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P3358', 'BRAND_S', 1, '747000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P3382', 'BRAND_S', 1, '747000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P0063', 'BRAND_A', 8, '1045000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P2726', 'BRAND_P', 1, '590000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P4009', 'BRAND_W', 1, '1045000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P0204', 'BRAND_A', 3, '310000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P1678', 'BRAND_H', 1, '747000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P1679', 'BRAND_H', 1, '747000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P3787', 'BRAND_T', 1, '590000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P3823', 'BRAND_V', 1, '1500000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P4071', 'BRAND_W', 2, '1045000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P4075', 'BRAND_W', 2, '904000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P1723', 'BRAND_H', 1, '450000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P0414', 'BRAND_B', 1, '2987000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P3067', 'BRAND_R', 1, '1500000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P3372', 'BRAND_S', 1, '1500000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P2301', 'BRAND_N', 1, '1745000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P4009', 'BRAND_W', 2, '1045000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P1741', 'BRAND_H', 1, '1045000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P2900', 'BRAND_R', 1, '1045000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P3078', 'BRAND_R', 2, '747000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P3482', 'BRAND_S', 1, '904000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P3635', 'BRAND_S', 1, '904000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P2770', 'BRAND_P', 1, '747000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P0174', 'BRAND_A', 1, '450000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P2260', 'BRAND_M', 1, '450000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P0174', 'BRAND_A', 1, '450000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P1069', 'BRAND_D', 12, '86000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P3358', 'BRAND_S', 1, '747000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P1678', 'BRAND_H', 4, '747000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P1876', 'BRAND_J', 3, '310000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P1875', 'BRAND_J', 1, '159000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P3319', 'BRAND_S', 1, '450000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P1733', 'BRAND_H', 2, '310000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P1821', 'BRAND_I', 3, '904000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P1678', 'BRAND_H', 1, '747000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P1679', 'BRAND_H', 2, '747000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P0931', 'BRAND_C', 1, '1395000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P0413', 'BRAND_B', 1, '1395000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P2568', 'BRAND_P', 1, '1045000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P4008', 'BRAND_W', 2, '1920000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P1305', 'BRAND_F', 1, '1325000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P1307', 'BRAND_F', 1, '1325000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P4069', 'BRAND_W', 2, '450000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P1303', 'BRAND_F', 1, '520000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P0601', 'BRAND_B', 1, '1500000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P4075', 'BRAND_W', 1, '904000'),
(1613308, '2019-01-02 00:00:00', 15021, 'Jakarta Pusat', 'DKI Jakarta', 'P0887', 'BRAND_C', 1, '1150000'),
(1613311, '2019-01-02 00:00:00', 15529, 'Jakarta Selatan', 'DKI Jakarta', 'P0795', 'BRAND_C', 24, '159000'),
(1613311, '2019-01-02 00:00:00', 15529, 'Jakarta Selatan', 'DKI Jakarta', 'P3250', 'BRAND_S', 12, '310000'),
(1613311, '2019-01-02 00:00:00', 15529, 'Jakarta Selatan', 'DKI Jakarta', 'P2283', 'BRAND_M', 12, '590000'),
(1613311, '2019-01-02 00:00:00', 15529, 'Jakarta Selatan', 'DKI Jakarta', 'P0422', 'BRAND_B', 8, '1325000'),
(1613311, '2019-01-02 00:00:00', 15529, 'Jakarta Selatan', 'DKI Jakarta', 'P0785', 'BRAND_C', 24, '159000'),
(1613311, '2019-01-02 00:00:00', 15529, 'Jakarta Selatan', 'DKI Jakarta', 'P3645', 'BRAND_S', 10, '590000'),
(1613311, '2019-01-02 00:00:00', 15529, 'Jakarta Selatan', 'DKI Jakarta', 'P3741', 'BRAND_T', 12, '747000'),
(1613311, '2019-01-02 00:00:00', 15529, 'Jakarta Selatan', 'DKI Jakarta', 'P1827', 'BRAND_I', 12, '310000'),
(1613311, '2019-01-02 00:00:00', 15529, 'Jakarta Selatan', 'DKI Jakarta', 'P3906', 'BRAND_V', 8, '1325000'),
(1613311, '2019-01-02 00:00:00', 15529, 'Jakarta Selatan', 'DKI Jakarta', 'P3218', 'BRAND_S', 2, '2987000'),
(1613311, '2019-01-02 00:00:00', 15529, 'Jakarta Selatan', 'DKI Jakarta', 'P1506', 'BRAND_G', 12, '240000'),
(1613311, '2019-01-02 00:00:00', 15529, 'Jakarta Selatan', 'DKI Jakarta', 'P1805', 'BRAND_H', 4, '1395000'),
(1613311, '2019-01-02 00:00:00', 15529, 'Jakarta Selatan', 'DKI Jakarta', 'P3132', 'BRAND_S', 6, '1745000'),
(1613311, '2019-01-02 00:00:00', 15529, 'Jakarta Selatan', 'DKI Jakarta', 'P0010', 'BRAND_S', 18, '1045000'),
(1613311, '2019-01-02 00:00:00', 15529, 'Jakarta Selatan', 'DKI Jakarta', 'P2281', 'BRAND_M', 12, '310000'),
(1613314, '2019-01-02 00:00:00', 15498, 'Semarang', 'Jawa Tengah', 'P3629', 'BRAND_S', 24, '450000'),
(1613314, '2019-01-02 00:00:00', 15498, 'Semarang', 'Jawa Tengah', 'P2566', 'BRAND_P', 48, '530000'),
(1613314, '2019-01-02 00:00:00', 15498, 'Semarang', 'Jawa Tengah', 'P1116', 'BRAND_D', 20, '2375000'),
(1613314, '2019-01-02 00:00:00', 15498, 'Semarang', 'Jawa Tengah', 'P1099', 'BRAND_D', 10, '2375000'),
(1613314, '2019-01-02 00:00:00', 15498, 'Semarang', 'Jawa Tengah', 'P1113', 'BRAND_D', 10, '2375000'),
(1613314, '2019-01-02 00:00:00', 15498, 'Semarang', 'Jawa Tengah', 'P0063', 'BRAND_A', 8, '1045000'),
(1613314, '2019-01-02 00:00:00', 15498, 'Semarang', 'Jawa Tengah', 'P1285', 'BRAND_F', 12, '1045000'),
(1613314, '2019-01-02 00:00:00', 15498, 'Semarang', 'Jawa Tengah', 'P2417', 'BRAND_P', 24, '113000'),
(1613314, '2019-01-02 00:00:00', 15498, 'Semarang', 'Jawa Tengah', 'P4100', 'BRAND_W', 48, '113000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P0503', 'BRAND_B', 1, '1640000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P1679', 'BRAND_H', 5, '747000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P2396', 'BRAND_P', 1, '695000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P0010', 'BRAND_S', 2, '1045000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P2876', 'BRAND_R', 3, '86000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P1805', 'BRAND_H', 1, '1395000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P1285', 'BRAND_F', 1, '1045000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P3636', 'BRAND_S', 1, '1325000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P3588', 'BRAND_S', 1, '695000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P2104', 'BRAND_L', 4, '695000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P3026', 'BRAND_R', 5, '590000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P3029', 'BRAND_R', 5, '590000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P0162', 'BRAND_A', 1, '1500000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P3019', 'BRAND_R', 1, '345000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P2921', 'BRAND_R', 6, '450000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P1916', 'BRAND_J', 1, '450000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P1793', 'BRAND_H', 1, '450000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P0125', 'BRAND_A', 1, '205000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P2761', 'BRAND_P', 1, '590000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P2445', 'BRAND_P', 2, '205000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P3039', 'BRAND_R', 12, '159000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P0668', 'BRAND_C', 12, '159000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P1661', 'BRAND_G', 1, '2795000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P1955', 'BRAND_L', 1, '1325000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P0747', 'BRAND_C', 1, '1325000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P0512', 'BRAND_B', 1, '450000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P1230', 'BRAND_E', 1, '450000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P3082', 'BRAND_R', 1, '1045000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P0757', 'BRAND_C', 2, '695000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P3741', 'BRAND_T', 2, '747000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P3132', 'BRAND_S', 1, '1745000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P4025', 'BRAND_W', 1, '1325000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P0753', 'BRAND_C', 1, '1220000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P1679', 'BRAND_H', 2, '747000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P3026', 'BRAND_R', 5, '590000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P3023', 'BRAND_R', 5, '590000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P0771', 'BRAND_C', 2, '2987000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P3027', 'BRAND_R', 5, '590000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P3749', 'BRAND_T', 3, '450000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P3080', 'BRAND_R', 1, '1045000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P3588', 'BRAND_S', 2, '695000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P2104', 'BRAND_L', 4, '695000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P2427', 'BRAND_P', 2, '310000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P2934', 'BRAND_R', 6, '604000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P2700', 'BRAND_P', 2, '2095000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P1304', 'BRAND_F', 1, '1500000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P1318', 'BRAND_F', 1, '1325000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P3029', 'BRAND_R', 5, '590000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P2719', 'BRAND_P', 1, '1325000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P3957', 'BRAND_W', 1, '904000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P2425', 'BRAND_P', 12, '113000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P2417', 'BRAND_P', 12, '113000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P2945', 'BRAND_R', 1, '450000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P2489', 'BRAND_P', 1, '1045000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P0721', 'BRAND_C', 1, '1325000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P0233', 'BRAND_A', 4, '450000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P2573', 'BRAND_P', 1, '2095000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P0162', 'BRAND_A', 1, '1500000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P3362', 'BRAND_S', 2, '310000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P0362', 'BRAND_B', 1, '1325000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P1319', 'BRAND_F', 1, '1325000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P2889', 'BRAND_R', 1, '2987000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P4077', 'BRAND_W', 1, '3494000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P3007', 'BRAND_R', 1, '3494000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P1034', 'BRAND_D', 1, '2095000'),
(1613317, '2019-01-02 00:00:00', 18043, 'Depok', 'Jawa Barat', 'P3019', 'BRAND_R', 2, '345000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P0142', 'BRAND_A', 1, '1325000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P0994', 'BRAND_D', 1, '1325000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P1616', 'BRAND_G', 1, '1325000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P0836', 'BRAND_C', 1, '1325000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P1486', 'BRAND_G', 1, '1325000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P0581', 'BRAND_B', 1, '3494000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P1900', 'BRAND_J', 1, '695000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P1912', 'BRAND_J', 1, '695000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P4087', 'BRAND_W', 2, '800000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P3753', 'BRAND_T', 2, '450000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P0036', 'BRAND_A', 4, '240000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P0071', 'BRAND_A', 2, '695000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P0753', 'BRAND_C', 5, '1220000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P1679', 'BRAND_H', 5, '747000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P2094', 'BRAND_L', 1, '590000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P2093', 'BRAND_L', 1, '590000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P2097', 'BRAND_L', 1, '590000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P3081', 'BRAND_R', 3, '1045000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P0624', 'BRAND_B', 2, '1325000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P2086', 'BRAND_L', 4, '590000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P3082', 'BRAND_R', 4, '1045000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P2103', 'BRAND_L', 2, '590000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P1191', 'BRAND_E', 2, '2095000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P1833', 'BRAND_I', 1, '2095000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P1742', 'BRAND_H', 4, '590000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P0562', 'BRAND_B', 1, '1045000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P2251', 'BRAND_M', 1, '1045000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P3891', 'BRAND_V', 1, '1045000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P0436', 'BRAND_B', 1, '2095000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P1112', 'BRAND_D', 1, '2795000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P1307', 'BRAND_F', 1, '1325000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P1305', 'BRAND_F', 2, '1325000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P3132', 'BRAND_S', 1, '1745000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P4025', 'BRAND_W', 1, '1325000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P3006', 'BRAND_R', 1, '1745000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P1656', 'BRAND_G', 1, '1325000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P3029', 'BRAND_R', 5, '590000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P0797', 'BRAND_C', 2, '747000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P0799', 'BRAND_C', 2, '520000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P3753', 'BRAND_T', 2, '450000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P2094', 'BRAND_L', 2, '590000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P2103', 'BRAND_L', 1, '590000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P2086', 'BRAND_L', 1, '590000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P0085', 'BRAND_A', 1, '450000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P2764', 'BRAND_P', 2, '590000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P2760', 'BRAND_P', 1, '590000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P1867', 'BRAND_J', 6, '520000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P1301', 'BRAND_F', 3, '747000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P1303', 'BRAND_F', 1, '520000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P1833', 'BRAND_I', 2, '2095000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P3081', 'BRAND_R', 1, '1045000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P3082', 'BRAND_R', 2, '1045000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P2417', 'BRAND_P', 1, '113000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P2413', 'BRAND_P', 1, '113000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P2425', 'BRAND_P', 3, '113000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P1868', 'BRAND_J', 6, '1500000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P1742', 'BRAND_H', 2, '590000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P2759', 'BRAND_P', 1, '590000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P0887', 'BRAND_C', 5, '1150000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P1560', 'BRAND_G', 1, '1745000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P4009', 'BRAND_W', 1, '1045000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P2302', 'BRAND_N', 6, '1045000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P3029', 'BRAND_R', 5, '590000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P3191', 'BRAND_S', 6, '159000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P2218', 'BRAND_M', 1, '2987000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P2218', 'BRAND_M', 1, '2987000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P1838', 'BRAND_I', 1, '2987000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P1913', 'BRAND_J', 3, '695000'),
(1613320, '2019-01-02 00:00:00', 16016, 'Yogyakarta', 'Yogyakarta', 'P1901', 'BRAND_J', 3, '695000'),
(1613323, '2019-01-02 00:00:00', 14060, 'Jakarta Barat', 'DKI Jakarta', 'P1980', 'BRAND_L', 36, '240000 '),
(1613323, '2019-01-02 00:00:00', 14060, 'Jakarta Barat', 'DKI Jakarta', 'P3071', 'BRAND_R', 48, '904000'),
(1613323, '2019-01-02 00:00:00', 14060, 'Jakarta Barat', 'DKI Jakarta', 'P2281', 'BRAND_M', 72, '310000'),
(1613323, '2019-01-02 00:00:00', 14060, 'Jakarta Barat', 'DKI Jakarta', 'P0797', 'BRAND_C', 40, '660000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P0591', 'BRAND_B', 4, '5245000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P0590', 'BRAND_B', 4, '5245000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P0588', 'BRAND_B', 4, '5245000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P0589', 'BRAND_B', 1, '5945000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P1103', 'BRAND_D', 2, '2795000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P1114', 'BRAND_D', 2, '2795000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P3410', 'BRAND_S', 12, '747000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P3403', 'BRAND_S', 12, '747000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P1555', 'BRAND_G', 6, '1045000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P0875', 'BRAND_C', 12, '534000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P2186', 'BRAND_M', 4, '1325000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P1370', 'BRAND_F', 6, '1325000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P2968', 'BRAND_R', 4, '4475000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P1794', 'BRAND_H', 24, '520000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P1268', 'BRAND_F', 9, '904000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P0263', 'BRAND_A', 12, '275000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P1562', 'BRAND_G', 6, '904000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P0159', 'BRAND_A', 4, '1500000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P2272', 'BRAND_M', 12, '450000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P3653', 'BRAND_S', 12, '450000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P4122', 'BRAND_W', 25, '159000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P4137', 'BRAND_W', 25, '159000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P3583', 'BRAND_S', 12, '159000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P2205', 'BRAND_M', 36, '240000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P0790', 'BRAND_C', 12, '590000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P3850', 'BRAND_V', 25, '159000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P1517', 'BRAND_G', 25, '159000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P2949', 'BRAND_R', 25, '159000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P0288', 'BRAND_A', 16, '604000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P2575', 'BRAND_P', 12, '520000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P2760', 'BRAND_P', 12, '590000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P2764', 'BRAND_P', 12, '590000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P0264', 'BRAND_A', 24, '159000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P0091', 'BRAND_A', 12, '310000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P0088', 'BRAND_A', 6, '1045000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P3003', 'BRAND_R', 8, '695000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P3316', 'BRAND_S', 6, '1045000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P2641', 'BRAND_P', 8, '695000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P2530', 'BRAND_P', 12, '310000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P2531', 'BRAND_P', 12, '310000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P2532', 'BRAND_P', 12, '310000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P2493', 'BRAND_P', 6, '1045000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P3783', 'BRAND_T', 12, '904000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P2492', 'BRAND_P', 6, '1045000'),
(1613326, '2019-01-02 00:00:00', 17722, 'Jakarta Selatan', 'DKI Jakarta', 'P3562', 'BRAND_S', 12, '310000'),
(1613341, '2019-01-02 00:00:00', 17324, 'Jakarta Pusat', 'DKI Jakarta', 'P3019', 'BRAND_R', 1, '345000'),
(1613341, '2019-01-02 00:00:00', 17324, 'Jakarta Pusat', 'DKI Jakarta', 'P2926', 'BRAND_R', 12, '310000'),
(1613341, '2019-01-02 00:00:00', 17324, 'Jakarta Pusat', 'DKI Jakarta', 'P3362', 'BRAND_S', 4, '310000'),
(1613341, '2019-01-02 00:00:00', 17324, 'Jakarta Pusat', 'DKI Jakarta', 'P2539', 'BRAND_P', 6, '310000'),
(1613341, '2019-01-02 00:00:00', 17324, 'Jakarta Pusat', 'DKI Jakarta', 'P2881', 'BRAND_R', 26, '1325000'),
(1613341, '2019-01-02 00:00:00', 17324, 'Jakarta Pusat', 'DKI Jakarta', 'P2920', 'BRAND_R', 2, '1745000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0680', 'BRAND_C', 12, '159000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1833', 'BRAND_I', 1, '2095000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1279', 'BRAND_F', 12, '159000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2448', 'BRAND_P', 1, '1045000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3655', 'BRAND_S', 12, '159000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0825', 'BRAND_C', 1, '450000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0029', 'BRAND_A', 2, '310000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2396', 'BRAND_P', 1, '695000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1727', 'BRAND_H', 2, '450000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3908', 'BRAND_V', 1, '2445000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1475', 'BRAND_F', 1, '747000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0057', 'BRAND_A', 1, '450000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2260', 'BRAND_M', 1, '450000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1723', 'BRAND_H', 1, '450000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2133', 'BRAND_M', 1, '1045000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2134', 'BRAND_M', 1, '1045000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0066', 'BRAND_A', 1, '747000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3588', 'BRAND_S', 1, '695000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P4062', 'BRAND_W', 1, '590000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3482', 'BRAND_S', 1, '904000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2794', 'BRAND_P', 1, '747000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2793', 'BRAND_P', 1, '747000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2795', 'BRAND_P', 1, '747000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2430', 'BRAND_P', 1, '450000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3263', 'BRAND_S', 1, '590000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0237', 'BRAND_A', 3, '450000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2764', 'BRAND_P', 1, '590000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2121', 'BRAND_M', 1, '159000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2120', 'BRAND_M', 1, '159000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2276', 'BRAND_M', 1, '1325000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2489', 'BRAND_P', 1, '1045000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2303', 'BRAND_N', 1, '590000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P4195', 'BRAND_Z', 1, '450000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1400', 'BRAND_F', 1, '310000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3644', 'BRAND_S', 1, '450000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3011', 'BRAND_R', 1, '747000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3261', 'BRAND_S', 1, '450000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3254', 'BRAND_S', 1, '450000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1678', 'BRAND_H', 2, '747000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1679', 'BRAND_H', 2, '747000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P4062', 'BRAND_W', 1, '590000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2446', 'BRAND_P', 1, '205000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0132', 'BRAND_A', 1, '205000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0128', 'BRAND_A', 1, '205000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3512', 'BRAND_S', 6, '1045000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3512', 'BRAND_S', 6, '1045000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1437', 'BRAND_F', 1, '1325000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1805', 'BRAND_H', 2, '1395000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3501', 'BRAND_S', 1, '590000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1963', 'BRAND_L', 1, '1920000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1800', 'BRAND_H', 1, '1640000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1802', 'BRAND_H', 1, '1640000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2959', 'BRAND_R', 4, '450000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0548', 'BRAND_B', 4, '450000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1553', 'BRAND_G', 1, '1045000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1555', 'BRAND_G', 1, '1045000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0798', 'BRAND_C', 1, '747000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0794', 'BRAND_C', 12, '159000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0237', 'BRAND_A', 1, '450000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0036', 'BRAND_A', 2, '240000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2458', 'BRAND_P', 8, '604000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2410', 'BRAND_P', 1, '113000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3875', 'BRAND_V', 1, '450000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1876', 'BRAND_J', 1, '310000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3348', 'BRAND_S', 1, '450000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3532', 'BRAND_S', 1, '310000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2430', 'BRAND_P', 3, '450000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P4062', 'BRAND_W', 2, '590000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0315', 'BRAND_B', 1, '590000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3495', 'BRAND_S', 1, '590000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1057', 'BRAND_D', 1, '590000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2760', 'BRAND_P', 1, '590000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2425', 'BRAND_P', 1, '113000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2764', 'BRAND_P', 2, '590000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2440', 'BRAND_P', 1, '904000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2432', 'BRAND_P', 1, '904000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2435', 'BRAND_P', 1, '904000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0650', 'BRAND_C', 1, '450000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1974', 'BRAND_L', 1, '1920000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2449', 'BRAND_P', 1, '1045000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1723', 'BRAND_H', 1, '450000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2284', 'BRAND_M', 1, '904000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3783', 'BRAND_T', 1, '904000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3734', 'BRAND_T', 1, '450000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1679', 'BRAND_H', 2, '747000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1805', 'BRAND_H', 1, '1395000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2964', 'BRAND_R', 1, '1325000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3250', 'BRAND_S', 1, '310000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3025', 'BRAND_R', 1, '590000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3021', 'BRAND_R', 1, '590000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1802', 'BRAND_H', 1, '1640000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0258', 'BRAND_A', 1, '2795000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0090', 'BRAND_A', 1, '310000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2377', 'BRAND_O', 1, '2987000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1902', 'BRAND_J', 1, '695000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0362', 'BRAND_B', 1, '1325000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2793', 'BRAND_P', 1, '747000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0671', 'BRAND_C', 12, '159000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0757', 'BRAND_C', 1, '695000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0123', 'BRAND_A', 1, '590000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2737', 'BRAND_P', 1, '747000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2849', 'BRAND_Q', 1, '747000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3814', 'BRAND_U', 1, '747000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3908', 'BRAND_V', 1, '2445000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2427', 'BRAND_P', 1, '310000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2580', 'BRAND_P', 1, '904000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2430', 'BRAND_P', 2, '450000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3739', 'BRAND_T', 1, '240000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0220', 'BRAND_A', 2, '695000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1738', 'BRAND_H', 1, '450000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1734', 'BRAND_H', 2, '450000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0097', 'BRAND_A', 2, '904000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1845', 'BRAND_I', 1, '1045000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0237', 'BRAND_A', 2, '450000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0825', 'BRAND_C', 1, '450000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0097', 'BRAND_A', 1, '904000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1845', 'BRAND_I', 1, '1045000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2762', 'BRAND_P', 1, '590000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0709', 'BRAND_C', 2, '520000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3121', 'BRAND_S', 1, '450000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0255', 'BRAND_A', 8, '604000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0757', 'BRAND_C', 1, '695000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2458', 'BRAND_P', 8, '604000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2764', 'BRAND_P', 1, '590000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2759', 'BRAND_P', 1, '590000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2813', 'BRAND_P', 1, '747000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0899', 'BRAND_C', 1, '3494000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0124', 'BRAND_A', 1, '240000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0314', 'BRAND_B', 1, '159000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1890', 'BRAND_J', 1, '695000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2793', 'BRAND_P', 1, '747000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2795', 'BRAND_P', 1, '747000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1307', 'BRAND_F', 1, '1325000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3536', 'BRAND_S', 6, '1045000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0470', 'BRAND_B', 1, '2795000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3611', 'BRAND_S', 2, '1045000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3637', 'BRAND_S', 2, '450000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0723', 'BRAND_C', 1, '1045000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2098', 'BRAND_L', 1, '590000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1316', 'BRAND_F', 1, '310000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0315', 'BRAND_B', 1, '590000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3243', 'BRAND_S', 1, '1045000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0757', 'BRAND_C', 1, '695000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3732', 'BRAND_T', 1, '450000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0881', 'BRAND_C', 3, '904000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0880', 'BRAND_C', 3, '904000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1475', 'BRAND_F', 1, '747000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2897', 'BRAND_R', 1, '590000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0255', 'BRAND_A', 8, '604000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2435', 'BRAND_P', 1, '904000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P3263', 'BRAND_S', 1, '590000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2413', 'BRAND_P', 1, '113000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2404', 'BRAND_P', 1, '113000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0220', 'BRAND_A', 1, '695000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2427', 'BRAND_P', 1, '310000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0797', 'BRAND_C', 2, '747000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P2489', 'BRAND_P', 1, '1045000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0220', 'BRAND_A', 1, '695000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0097', 'BRAND_A', 1, '904000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P1906', 'BRAND_J', 1, '695000'),
(1613344, '2019-01-02 00:00:00', 17341, 'Jakarta Utara', 'DKI Jakarta', 'P0825', 'BRAND_C', 1, '450000'),
(1613368, '2019-01-02 00:00:00', 14051, 'Jakarta Selatan', 'DKI Jakarta', 'P2359', 'BRAND_O', 12, '1045000'),
(1613368, '2019-01-02 00:00:00', 14051, 'Jakarta Selatan', 'DKI Jakarta', 'P2358', 'BRAND_O', 12, '1045000'),
(1613368, '2019-01-02 00:00:00', 14051, 'Jakarta Selatan', 'DKI Jakarta', 'P1678', 'BRAND_H', 12, '747000'),
(1613368, '2019-01-02 00:00:00', 14051, 'Jakarta Selatan', 'DKI Jakarta', 'P1679', 'BRAND_H', 12, '747000'),
(1613368, '2019-01-02 00:00:00', 14051, 'Jakarta Selatan', 'DKI Jakarta', 'P3510', 'BRAND_S', 16, '747000'),
(1613368, '2019-01-02 00:00:00', 14051, 'Jakarta Selatan', 'DKI Jakarta', 'P1550', 'BRAND_G', 8, '1395000'),
(1613368, '2019-01-02 00:00:00', 14051, 'Jakarta Selatan', 'DKI Jakarta', 'P1549', 'BRAND_G', 4, '2987000'),
(1613368, '2019-01-02 00:00:00', 14051, 'Jakarta Selatan', 'DKI Jakarta', 'P1118', 'BRAND_D', 10, '2375000'),
(1613368, '2019-01-02 00:00:00', 14051, 'Jakarta Selatan', 'DKI Jakarta', 'P1103', 'BRAND_D', 20, '2375000'),
(1613368, '2019-01-02 00:00:00', 14051, 'Jakarta Selatan', 'DKI Jakarta', 'P4025', 'BRAND_W', 12, '1325000'),
(1613368, '2019-01-02 00:00:00', 14051, 'Jakarta Selatan', 'DKI Jakarta', 'P1793', 'BRAND_H', 12, '450000'),
(1613368, '2019-01-02 00:00:00', 14051, 'Jakarta Selatan', 'DKI Jakarta', 'P3847', 'BRAND_V', 12, '450000'),
(1613368, '2019-01-02 00:00:00', 14051, 'Jakarta Selatan', 'DKI Jakarta', 'P2411', 'BRAND_P', 48, '113000'),
(1613368, '2019-01-02 00:00:00', 14051, 'Jakarta Selatan', 'DKI Jakarta', 'P1800', 'BRAND_H', 24, '1640000'),
(1613374, '2019-01-02 00:00:00', 16233, 'Surakarta', 'Jawa Tengah', 'P3828', 'BRAND_V', 8, '3844000'),
(1613374, '2019-01-02 00:00:00', 16233, 'Surakarta', 'Jawa Tengah', 'P3413', 'BRAND_S', 4, '5245000'),
(1613377, '2019-01-02 00:00:00', 16385, 'Jakarta Utara', 'DKI Jakarta', 'P0581', 'BRAND_B', 1, '3494000'),
(1613377, '2019-01-02 00:00:00', 16385, 'Jakarta Utara', 'DKI Jakarta', 'P1508', 'BRAND_G', 12, '747000'),
(1613377, '2019-01-02 00:00:00', 16385, 'Jakarta Utara', 'DKI Jakarta', 'P2770', 'BRAND_P', 12, '747000'),
(1613377, '2019-01-02 00:00:00', 16385, 'Jakarta Utara', 'DKI Jakarta', 'P3012', 'BRAND_R', 12, '590000'),
(1613377, '2019-01-02 00:00:00', 16385, 'Jakarta Utara', 'DKI Jakarta', 'P3005', 'BRAND_R', 4, '904000'),
(1613377, '2019-01-02 00:00:00', 16385, 'Jakarta Utara', 'DKI Jakarta', 'P2377', 'BRAND_O', 1, '2987000'),
(1613377, '2019-01-02 00:00:00', 16385, 'Jakarta Utara', 'DKI Jakarta', 'P1173', 'BRAND_E', 2, '240000'),
(1613377, '2019-01-02 00:00:00', 16385, 'Jakarta Utara', 'DKI Jakarta', 'P0133', 'BRAND_A', 1, '159000'),
(1613377, '2019-01-02 00:00:00', 16385, 'Jakarta Utara', 'DKI Jakarta', 'P1685', 'BRAND_H', 1, '747000'),
(1613377, '2019-01-02 00:00:00', 16385, 'Jakarta Utara', 'DKI Jakarta', 'P1679', 'BRAND_H', 2, '747000'),
(1613377, '2019-01-02 00:00:00', 16385, 'Jakarta Utara', 'DKI Jakarta', 'P0260', 'BRAND_A', 2, '79000'),
(1613377, '2019-01-02 00:00:00', 16385, 'Jakarta Utara', 'DKI Jakarta', 'P1770', 'BRAND_H', 1, '240000'),
(1613377, '2019-01-02 00:00:00', 16385, 'Jakarta Utara', 'DKI Jakarta', 'P1770', 'BRAND_H', 1, '240000'),
(1613377, '2019-01-02 00:00:00', 16385, 'Jakarta Utara', 'DKI Jakarta', 'P1767', 'BRAND_H', 1, '240000'),
(1613377, '2019-01-02 00:00:00', 16385, 'Jakarta Utara', 'DKI Jakarta', 'P1772', 'BRAND_H', 1, '240000'),
(1613377, '2019-01-02 00:00:00', 16385, 'Jakarta Utara', 'DKI Jakarta', 'P1769', 'BRAND_H', 1, '240000'),
(1613377, '2019-01-02 00:00:00', 16385, 'Jakarta Utara', 'DKI Jakarta', 'P0260', 'BRAND_A', 2, '79000'),
(1613377, '2019-01-02 00:00:00', 16385, 'Jakarta Utara', 'DKI Jakarta', 'P0967', 'BRAND_C', 1, '695000'),
(1613377, '2019-01-02 00:00:00', 16385, 'Jakarta Utara', 'DKI Jakarta', 'P2491', 'BRAND_P', 2, '1045000'),
(1613377, '2019-01-02 00:00:00', 16385, 'Jakarta Utara', 'DKI Jakarta', 'P2492', 'BRAND_P', 4, '1045000'),
(1613377, '2019-01-02 00:00:00', 16385, 'Jakarta Utara', 'DKI Jakarta', 'P2490', 'BRAND_P', 6, '1045000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P1915', 'BRAND_J', 100, '590000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P1913', 'BRAND_J', 100, '590000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P1901', 'BRAND_J', 100, '590000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P1904', 'BRAND_J', 200, '590000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P1890', 'BRAND_J', 200, '590000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P1900', 'BRAND_J', 200, '590000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P1912', 'BRAND_J', 100, '590000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P1905', 'BRAND_J', 100, '590000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P1906', 'BRAND_J', 100, '590000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P1902', 'BRAND_J', 100, '590000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P1907', 'BRAND_J', 100, '590000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P1897', 'BRAND_J', 200, '590000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P2093', 'BRAND_L', 1, '590000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P3637', 'BRAND_S', 3, '450000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P2103', 'BRAND_L', 3, '590000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P2098', 'BRAND_L', 3, '590000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P2094', 'BRAND_L', 1, '590000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P2097', 'BRAND_L', 3, '590000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P2093', 'BRAND_L', 4, '590000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P2091', 'BRAND_L', 3, '590000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P2086', 'BRAND_L', 3, '590000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P2094', 'BRAND_L', 2, '590000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P2528', 'BRAND_P', 2, '450000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P2938', 'BRAND_R', 3, '450000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P3627', 'BRAND_S', 3, '1045000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P3127', 'BRAND_S', 3, '1045000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P2933', 'BRAND_R', 3, '1045000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P1250', 'BRAND_E', 12, '695000'),
(1613380, '2019-01-02 00:00:00', 15032, 'Jakarta Selatan', 'DKI Jakarta', 'P2738', 'BRAND_P', 3, '1045000');

 * sqlite://
1068 rows affected.

[]

In [34]:
%%sql

INSERT INTO 
    sales_retail_2019
VALUES
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P1118', 'BRAND_D', 1, '2795000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P1114', 'BRAND_D', 2, '2795000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P4057', 'BRAND_W', 2, '2095000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P4060', 'BRAND_W', 2, '2795000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P4027', 'BRAND_W', 6, '450000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P0541', 'BRAND_B', 6, '450000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P0544', 'BRAND_B', 6, '450000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P1277', 'BRAND_F', 1, '3494000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P1276', 'BRAND_F', 1, '2987000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P3371', 'BRAND_S', 3, '1325000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P2897', 'BRAND_R', 6, '590000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P0840', 'BRAND_C', 6, '310000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P2372', 'BRAND_O', 3, '310000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P4071', 'BRAND_W', 2, '1045000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P4075', 'BRAND_W', 2, '904000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P3412', 'BRAND_S', 1, '1500000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P2568', 'BRAND_P', 2, '1045000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P0065', 'BRAND_A', 2, '2987000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P2576', 'BRAND_P', 4, '2375000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P1319', 'BRAND_F', 1, '1325000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P1318', 'BRAND_F', 1, '1325000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P1320', 'BRAND_F', 1, '1325000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P2960', 'BRAND_R', 6, '590000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P4069', 'BRAND_W', 3, '450000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P3583', 'BRAND_S', 12, '159000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P1279', 'BRAND_F', 12, '159000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P0679', 'BRAND_C', 12, '159000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P0668', 'BRAND_C', 12, '159000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P0672', 'BRAND_C', 12, '159000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P3053', 'BRAND_R', 1, '1500000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P3875', 'BRAND_V', 3, '450000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P2575', 'BRAND_P', 3, '520000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P0169', 'BRAND_A', 1, '1325000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P0171', 'BRAND_A', 1, '1325000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P0170', 'BRAND_A', 1, '1325000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P0167', 'BRAND_A', 3, '1325000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P3132', 'BRAND_S', 3, '1745000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P4025', 'BRAND_W', 3, '1325000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P3006', 'BRAND_R', 2, '1745000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P1805', 'BRAND_H', 2, '1395000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P0366', 'BRAND_B', 2, '904000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P1285', 'BRAND_F', 2, '1045000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P1251', 'BRAND_E', 2, '1500000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P2964', 'BRAND_R', 2, '1325000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P1945', 'BRAND_K', 2, '1325000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P2594', 'BRAND_P', 1, '1325000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P0449', 'BRAND_B', 1, '1325000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P1600', 'BRAND_G', 1, '1325000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P2881', 'BRAND_R', 1, '1325000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P2566', 'BRAND_P', 4, '590000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P3075', 'BRAND_R', 1, '2795000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P3745', 'BRAND_T', 1, '747000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P2325', 'BRAND_N', 2, '747000'),
(1613383, '2019-01-02 00:00:00', 16713, 'Yogyakarta', 'Yogyakarta', 'P4179', 'BRAND_Y', 2, '604000');

 * sqlite://
54 rows affected.

[]

## Fungsi di SQL

#### [Fungsi Skalar Matematika - ABS()](https://academy.dqlab.id/main/livecode/171/336/1606?pr=0)

In [7]:
%%sql

SELECT
  StudentID,
  FirstName,
  LastName,
  Semester1,
  Semester2,
  ABS(MarkGrowth) as MarkGrowth
FROM students;

 * sqlite://
Done.

[(1, 'Jose', 'Mohit', 64.55, 72.6, 8.05),
 (2, 'Lala', 'Karlina', 72.85, 65.35, 7.5),
 (3, 'Sultan', 'Hadi', 45.32, 50.25, 4.93),
 (4, 'Jaya', 'Usman', 86.73, 77.4, 9.33),
 (5, 'Anjali', 'Wijaya', 92.25, 90.75, 1.5)]

#### [Fungsi Skalar Matematika - CEILING()](https://academy.dqlab.id/main/livecode/171/336/1607?pr=0)

In [10]:
%%sql

SELECT
  StudentID,
  FirstName,
  LastName,
  CEILING(Semester1) as Semester1,
  CEILING(Semester2) as Semester2,
  MarkGrowth
FROM students;

 * sqlite://
(sqlite3.OperationalError) no such function: CEILING
[SQL: SELECT
  StudentID,
  FirstName,
  LastName,
  CEILING(Semester1) as Semester1,
  CEILING(Semester2) as Semester2,
  MarkGrowth
FROM students;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

#### [Fungsi Skalar Matematika - FLOOR()](https://academy.dqlab.id/main/livecode/171/336/1608?pr=0)

In [11]:
%%sql

SELECT
  StudentID,
  FirstName,
  LastName,
  FLOOR(Semester1) as Semester1,
  FLOOR(Semester2) as Semester2,
  MarkGrowth
FROM students;

 * sqlite://
(sqlite3.OperationalError) no such function: FLOOR
[SQL: SELECT
  StudentID,
  FirstName,
  LastName,
  FLOOR(Semester1) as Semester1,
  FLOOR(Semester2) as Semester2,
  MarkGrowth
FROM students;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

#### [Fungsi Skalar Matematika - ROUND()](https://academy.dqlab.id/main/livecode/171/336/1609?pr=0)

In [12]:
%%sql

SELECT
  StudentID,
  FirstName,
  LastName,
  ROUND(Semester1,1) as Semester1,
  ROUND(Semester2,0) as Semester2,
  MarkGrowth
FROM students;

 * sqlite://
Done.

[(1, 'Jose', 'Mohit', 64.5, 73.0, -8.05),
 (2, 'Lala', 'Karlina', 72.8, 65.0, 7.5),
 (3, 'Sultan', 'Hadi', 45.3, 50.0, -4.93),
 (4, 'Jaya', 'Usman', 86.7, 77.0, 9.33),
 (5, 'Anjali', 'Wijaya', 92.3, 91.0, 1.5)]

#### [Fungsi Skalar Matematika - SQRT( )](https://academy.dqlab.id/main/livecode/171/336/1610?pr=0)

In [13]:
%%sql

SELECT
  StudentID,
  FirstName,
  LastName,
  SQRT(Semester1) as Semester1,
  Semester2,
  MarkGrowth
FROM students;

 * sqlite://
(sqlite3.OperationalError) no such function: SQRT
[SQL: SELECT
  StudentID,
  FirstName,
  LastName,
  SQRT(Semester1) as Semester1,
  Semester2,
  MarkGrowth
FROM students;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

#### [Tugas Praktek](https://academy.dqlab.id/main/livecode/171/336/1611?pr=0)

In [14]:
%%sql

SELECT
  StudentID,
  FirstName,
  LastName,
  MOD(Semester1,2) as Semester1,
  Semester2,
  EXP(MarkGrowth)
FROM students;

 * sqlite://
(sqlite3.OperationalError) no such function: MOD
[SQL: SELECT
  StudentID,
  FirstName,
  LastName,
  MOD(Semester1,2) as Semester1,
  Semester2,
  EXP(MarkGrowth)
FROM students;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

## Fungsi Text di SQL

#### [Fungsi Text - CONCAT( )](https://academy.dqlab.id/main/livecode/171/337/1613?pr=0)

In [16]:
%%sql

SELECT
  StudentID,
  CONCAT(FirstName, LastName) as Name,
  Semester1,
  Semester2,
  MarkGrowth
FROM students;

 * sqlite://
(sqlite3.OperationalError) no such function: CONCAT
[SQL: SELECT
  StudentID,
  CONCAT(FirstName, LastName) as Name,
  Semester1,
  Semester2,
  MarkGrowth
FROM students;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

#### [Fungsi Text - SUBSTRING_INDEX( )](https://academy.dqlab.id/main/livecode/171/337/1634?pr=0)

In [17]:
%%sql

SELECT
  StudentID,
  SUBSTRING_INDEX(Email,'@',1) as Name
FROM students;

 * sqlite://
(sqlite3.OperationalError) no such function: SUBSTRING_INDEX
[SQL: SELECT
  StudentID,
  SUBSTRING_INDEX(Email,'@',1) as Name
FROM students;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

#### [Fungsi Text - SUBSTR( )](https://academy.dqlab.id/main/livecode/171/337/1635?pr=0)

In [18]:
%%sql

SELECT
  StudentID,
  SUBSTR(FirstName, 2, 3) as Initial
FROM students;

 * sqlite://
Done.

[(1, 'ose'), (2, 'ala'), (3, 'ult'), (4, 'aya'), (5, 'nja')]

#### [Fungsi Text - LENGTH( )](https://academy.dqlab.id/main/livecode/171/337/1636?pr=0)

In [19]:
%%sql

SELECT
  StudentID,
  FirstName,
  LENGTH(FirstName) as Total_Char
FROM students;

 * sqlite://
Done.

[(1, 'Jose', 4),
 (2, 'Lala', 4),
 (3, 'Sultan', 6),
 (4, 'Jaya', 4),
 (5, 'Anjali', 6)]

#### [Fungsi Text - REPLACE( )](https://academy.dqlab.id/main/livecode/171/337/1637?pr=0)

In [20]:
%%sql

SELECT
  StudentID,
  Email,
  REPLACE(Email, 'yahoo', 'gmail') as New_Email
FROM students;

 * sqlite://
Done.

[(1, 'Jose_Mohit@gmail.com', 'Jose_Mohit@gmail.com'),
 (2, 'lala_karlina@yahoo.com', 'lala_karlina@gmail.com'),
 (3, 'Sultan_Hadi@gmail.com', 'Sultan_Hadi@gmail.com'),
 (4, 'jaya_usman@yahoo.com', 'jaya_usman@gmail.com'),
 (5, 'anjali_wijaya@yahoo.com', 'anjali_wijaya@gmail.com')]

#### [Tugas Praktek](https://academy.dqlab.id/main/livecode/171/337/1638?pr=0)

In [21]:
%%sql

SELECT
  StudentID,
  UPPER(FirstName) as FirstName,
  LOWER(LastName) as LastName
FROM students;

 * sqlite://
Done.

[(1, 'JOSE', 'mohit'),
 (2, 'LALA', 'karlina'),
 (3, 'SULTAN', 'hadi'),
 (4, 'JAYA', 'usman'),
 (5, 'ANJALI', 'wijaya')]

## Fungsi Aggregate dan Group By

#### [Fungsi Aggregate - SUM()](https://academy.dqlab.id/main/livecode/171/340/1640?pr=0)

In [22]:
%%sql

SELECT
  SUM(Semester1) as Total_1,
  SUM(Semester2) as Total_2
FROM students;

 * sqlite://
Done.

[(361.7, 356.35)]

#### [Fungsi Aggregate - COUNT()](https://academy.dqlab.id/main/livecode/171/340/1641?pr=0)

In [23]:
%%sql

SELECT
  COUNT(FirstName) as Total_Student
FROM students;

 * sqlite://
Done.

[(5,)]

#### [Fungsi Aggregate - AVG( )](https://academy.dqlab.id/main/livecode/171/340/1642?pr=0)

In [24]:
%%sql

SELECT
  AVG(Semester1) as AVG_1,
  AVG(Semester2) as AVG_2
FROM students;

 * sqlite://
Done.

[(72.34, 71.27000000000001)]

#### [Tugas Praktek](https://academy.dqlab.id/main/livecode/171/340/1643?pr=0)

In [25]:
%%sql

SELECT
  MIN(Semester1) AS Min1,
  MAX(Semester1) AS Max1,
  MIN(Semester2) AS Min2,
  MAX(Semester2) AS Max2
FROM students;

 * sqlite://
Done.

[(45.32, 92.25, 50.25, 90.75)]

#### [Group by Single Column](https://academy.dqlab.id/main/livecode/171/340/1645?pr=0)

In [35]:
%%sql
# saya hanya ngambil 2.200 baris data dari total 384.319
SELECT COUNT(order_id) as jml_id
FROM sales_retail_2019;

 * sqlite://
Done.

[(2200,)]

In [37]:
%%sql

SELECT
  province,
  COUNT(DISTINCT order_id) as total_order,
  SUM(item_price) as total_price
FROM sales_retail_2019
GROUP BY province;

 * sqlite://
Done.

[('Bali', 2, 53025000.0),
 ('Banten', 6, 85380000),
 ('DKI Jakarta', 64, 1113250000.0),
 ('Jawa Barat', 18, 294817000.0),
 ('Jawa Tengah', 8, 227475000),
 ('Jawa Timur', 9, 125168000),
 ('Sulawesi Selatan', 3, 78988000),
 ('Sumatra Barat', 1, 7733000),
 ('Yogyakarta', 15, 364719000),
 ('unknown', 1, 31743000)]

#### [Group by Multiple Column](https://academy.dqlab.id/main/livecode/171/340/1646?pr=0)

In [39]:
%%sql

SELECT
  province,
  brand,
  COUNT(DISTINCT order_id) as total_order,
  SUM(item_price) as total_price
FROM sales_retail_2019
GROUP BY
  province,
  brand;

 * sqlite://
Done.

[('Bali', 'BRAND_A', 2, 1145000),
 ('Bali', 'BRAND_B', 1, 10490000),
 ('Bali', 'BRAND_F', 1, 2825000),
 ('Bali', 'BRAND_G', 1, 747000),
 ('Bali', 'BRAND_I', 1, 2987000),
 ('Bali', 'BRAND_K', 1, 310000),
 ('Bali', 'BRAND_M', 2, 5637000),
 ('Bali', 'BRAND_P', 2, 12624000),
 ('Bali', 'BRAND_R', 2, 3870000.0),
 ('Bali', 'BRAND_S', 2, 10895000),
 ('Bali', 'BRAND_T', 1, 1495000),
 ('Banten', 'BRAND_A', 5, 2757000),
 ('Banten', 'BRAND_B', 1, 1353000),
 ('Banten', 'BRAND_C', 6, 9231000),
 ('Banten', 'BRAND_E', 2, 1810000),
 ('Banten', 'BRAND_F', 2, 2244000),
 ('Banten', 'BRAND_G', 3, 4721000),
 ('Banten', 'BRAND_H', 4, 7757000),
 ('Banten', 'BRAND_I', 1, 660000),
 ('Banten', 'BRAND_J', 2, 3410000),
 ('Banten', 'BRAND_K', 1, 1325000),
 ('Banten', 'BRAND_L', 3, 3093000),
 ('Banten', 'BRAND_M', 2, 1057000),
 ('Banten', 'BRAND_N', 1, 604000),
 ('Banten', 'BRAND_P', 2, 5689000),
 ('Banten', 'BRAND_R', 6, 17407000),
 ('Banten', 'BRAND_S', 5, 5836000),
 ('Banten', 'BRAND_T', 2, 3891000),
 ('Banten', 'BRAND_V', 1, 2987000),
 ('Banten', 'BRAND_W', 5, 9548000),
 ('DKI Jakarta', 'BRAND_A', 31, 72267000),
 ('DKI Jakarta', 'BRAND_B', 24, 73634000),
 ('DKI Jakarta', 'BRAND_C', 38, 109272000),
 ('DKI Jakarta', 'BRAND_D', 16, 55326000),
 ('DKI Jakarta', 'BRAND_E', 12, 28305000),
 ('DKI Jakarta', 'BRAND_F', 20, 62108000),
 ('DKI Jakarta', 'BRAND_G', 22, 37785000),
 ('DKI Jakarta', 'BRAND_H', 32, 77325000.0),
 ('DKI Jakarta', 'BRAND_I', 7, 14436000),
 ('DKI Jakarta', 'BRAND_J', 19, 36913000),
 ('DKI Jakarta', 'BRAND_K', 9, 19454000),
 ('DKI Jakarta', 'BRAND_L', 12, 17334000.0),
 ('DKI Jakarta', 'BRAND_M', 18, 37108000),
 ('DKI Jakarta', 'BRAND_N', 4, 8321000),
 ('DKI Jakarta', 'BRAND_O', 8, 19180000),
 ('DKI Jakarta', 'BRAND_P', 37, 80820000),
 ('DKI Jakarta', 'BRAND_Q', 2, 1197000),
 ('DKI Jakarta', 'BRAND_R', 38, 121692000),
 ('DKI Jakarta', 'BRAND_S', 45, 121277000.0),
 ('DKI Jakarta', 'BRAND_T', 18, 21027000),
 ('DKI Jakarta', 'BRAND_U', 1, 747000),
 ('DKI Jakarta', 'BRAND_V', 18, 35308000),
 ('DKI Jakarta', 'BRAND_W', 29, 59921000),
 ('DKI Jakarta', 'BRAND_Z', 6, 2493000),
 ('Jawa Barat', 'BRAND_A', 10, 28278000.0),
 ('Jawa Barat', 'BRAND_B', 8, 21496000),
 ('Jawa Barat', 'BRAND_C', 9, 28862000),
 ('Jawa Barat', 'BRAND_D', 3, 6215000),
 ('Jawa Barat', 'BRAND_E', 2, 2545000),
 ('Jawa Barat', 'BRAND_F', 7, 11920000),
 ('Jawa Barat', 'BRAND_G', 8, 13553000),
 ('Jawa Barat', 'BRAND_H', 9, 21770000),
 ('Jawa Barat', 'BRAND_J', 7, 11715000),
 ('Jawa Barat', 'BRAND_L', 8, 13258000),
 ('Jawa Barat', 'BRAND_M', 3, 1315000),
 ('Jawa Barat', 'BRAND_N', 2, 2545000),
 ('Jawa Barat', 'BRAND_P', 7, 23930000),
 ('Jawa Barat', 'BRAND_R', 8, 36279000),
 ('Jawa Barat', 'BRAND_S', 10, 46943000),
 ('Jawa Barat', 'BRAND_T', 4, 3592000),
 ('Jawa Barat', 'BRAND_V', 1, 2235000),
 ('Jawa Barat', 'BRAND_W', 6, 18366000),
 ('Jawa Tengah', 'BRAND_A', 6, 11699000),
 ('Jawa Tengah', 'BRAND_B', 3, 14389000),
 ('Jawa Tengah', 'BRAND_C', 5, 16269000),
 ('Jawa Tengah', 'BRAND_D', 2, 11245000),
 ('Jawa Tengah', 'BRAND_E', 2, 7330000),
 ('Jawa Tengah', 'BRAND_F', 4, 5631000),
 ('Jawa Tengah', 'BRAND_G', 4, 18099000),
 ('Jawa Tengah', 'BRAND_H', 5, 16072000),
 ('Jawa Tengah', 'BRAND_I', 2, 30128000),
 ('Jawa Tengah', 'BRAND_J', 2, 3245000),
 ('Jawa Tengah', 'BRAND_L', 2, 4122000),
 ('Jawa Tengah', 'BRAND_M', 2, 6442000),
 ('Jawa Tengah', 'BRAND_N', 1, 747000),
 ('Jawa Tengah', 'BRAND_P', 4, 17218000),
 ('Jawa Tengah', 'BRAND_R', 4, 24433000),
 ('Jawa Tengah', 'BRAND_S', 6, 18355000),
 ('Jawa Tengah', 'BRAND_T', 2, 1810000),
 ('Jawa Tengah', 'BRAND_V', 1, 3844000),
 ('Jawa Tengah', 'BRAND_W', 5, 13148000),
 ('Jawa Tengah', 'BRAND_Y', 1, 2349000),
 ('Jawa Tengah', 'BRAND_Z', 2, 900000),
 ('Jawa Timur', 'BRAND_A', 3, 4939000),
 ('Jawa Timur', 'BRAND_B', 1, 310000),
 ('Jawa Timur', 'BRAND_C', 5, 20437000),
 ('Jawa Timur', 'BRAND_D', 2, 6735000),
 ('Jawa Timur', 'BRAND_E', 1, 1500000),
 ('Jawa Timur', 'BRAND_F', 5, 8855000),
 ('Jawa Timur', 'BRAND_G', 2, 3042000),
 ('Jawa Timur', 'BRAND_H', 5, 11410000),
 ('Jawa Timur', 'BRAND_I', 2, 3437000),
 ('Jawa Timur', 'BRAND_J', 1, 520000),
 ('Jawa Timur', 'BRAND_L', 3, 7359000),
 ('Jawa Timur', 'BRAND_M', 4, 5979000),
 ('Jawa Timur', 'BRAND_N', 1, 590000),
 ('Jawa Timur', 'BRAND_P', 5, 8456000),
 ('Jawa Timur', 'BRAND_R', 6, 23924000),
 ('Jawa Timur', 'BRAND_S', 6, 5783000),
 ('Jawa Timur', 'BRAND_T', 1, 1950000),
 ('Jawa Timur', 'BRAND_V', 2, 1509000),
 ('Jawa Timur', 'BRAND_W', 3, 8433000),
 ('Sulawesi Selatan', 'BRAND_A', 1, 310000),
 ('Sulawesi Selatan', 'BRAND_B', 3, 4952000),
 ('Sulawesi Selatan', 'BRAND_C', 2, 2652000),
 ('Sulawesi Selatan', 'BRAND_D', 2, 4890000),
 ('Sulawesi Selatan', 'BRAND_F', 3, 5179000),
 ('Sulawesi Selatan', 'BRAND_G', 2, 2072000),
 ('Sulawesi Selatan', 'BRAND_H', 1, 3035000),
 ('Sulawesi Selatan', 'BRAND_I', 1, 2987000),
 ('Sulawesi Selatan', 'BRAND_J', 1, 520000),
 ('Sulawesi Selatan', 'BRAND_L', 2, 2984000),
 ('Sulawesi Selatan', 'BRAND_M', 3, 3294000),
 ('Sulawesi Selatan', 'BRAND_O', 1, 2090000),
 ('Sulawesi Selatan', 'BRAND_P', 3, 25522000),
 ('Sulawesi Selatan', 'BRAND_R', 2, 5903000),
 ('Sulawesi Selatan', 'BRAND_S', 2, 6114000),
 ('Sulawesi Selatan', 'BRAND_T', 2, 5546000),
 ('Sulawesi Selatan', 'BRAND_V', 1, 159000),
 ('Sulawesi Selatan', 'BRAND_W', 2, 779000),
 ('Sumatra Barat', 'BRAND_A', 1, 588000),
 ('Sumatra Barat', 'BRAND_B', 1, 450000),
 ('Sumatra Barat', 'BRAND_I', 1, 2095000),
 ('Sumatra Barat', 'BRAND_P', 1, 3555000),
 ('Sumatra Barat', 'BRAND_S', 1, 1045000),
 ('Yogyakarta', 'BRAND_A', 8, 27982000),
 ('Yogyakarta', 'BRAND_B', 8, 20691000),
 ('Yogyakarta', 'BRAND_C', 11, 27477000),
 ('Yogyakarta', 'BRAND_D', 6, 28355000),
 ('Yogyakarta', 'BRAND_E', 3, 4045000),
 ('Yogyakarta', 'BRAND_F', 6, 20573000),
 ('Yogyakarta', 'BRAND_G', 7, 18386000),
 ('Yogyakarta', 'BRAND_H', 9, 26476000),
 ('Yogyakarta', 'BRAND_I', 4, 11951000),
 ('Yogyakarta', 'BRAND_J', 2, 5495000),
 ('Yogyakarta', 'BRAND_K', 1, 1325000),
 ('Yogyakarta', 'BRAND_L', 3, 6595000),
 ('Yogyakarta', 'BRAND_M', 5, 9845000),
 ('Yogyakarta', 'BRAND_N', 4, 6311000),
 ('Yogyakarta', 'BRAND_O', 1, 310000),
 ('Yogyakarta', 'BRAND_P', 7, 21227000),
 ('Yogyakarta', 'BRAND_R', 7, 37309000),
 ('Yogyakarta', 'BRAND_S', 9, 20111000),
 ('Yogyakarta', 'BRAND_T', 5, 3294000),
 ('Yogyakarta', 'BRAND_U', 2, 8153000),
 ('Yogyakarta', 'BRAND_V', 6, 27904000),
 ('Yogyakarta', 'BRAND_W', 10, 30300000),
 ('Yogyakarta', 'BRAND_Y', 1, 604000),
 ('unknown', 'BRAND_A', 1, 9170000),
 ('unknown', 'BRAND_B', 1, 8727000),
 ('unknown', 'BRAND_C', 1, 3534000),
 ('unknown', 'BRAND_E', 1, 450000),
 ('unknown', 'BRAND_F', 1, 747000),
 ('unknown', 'BRAND_G', 1, 450000),
 ('unknown', 'BRAND_L', 1, 590000),
 ('unknown', 'BRAND_M', 1, 240000),
 ('unknown', 'BRAND_P', 1, 2225000),
 ('unknown', 'BRAND_R', 1, 2365000),
 ('unknown', 'BRAND_S', 1, 3245000)]

#### [Fungsi Aggregate dengan Grouping](https://academy.dqlab.id/main/livecode/171/340/1647?pr=0)

In [40]:
%%sql

SELECT
    province,
    COUNT(DISTINCT order_id) AS total_unique_order,
    SUM(item_price) AS revenue
FROM
    sales_retail_2019
GROUP BY
    province;

 * sqlite://
Done.

[('Bali', 2, 53025000.0),
 ('Banten', 6, 85380000),
 ('DKI Jakarta', 64, 1113250000.0),
 ('Jawa Barat', 18, 294817000.0),
 ('Jawa Tengah', 8, 227475000),
 ('Jawa Timur', 9, 125168000),
 ('Sulawesi Selatan', 3, 78988000),
 ('Sumatra Barat', 1, 7733000),
 ('Yogyakarta', 15, 364719000),
 ('unknown', 1, 31743000)]

#### [Tugas Praktek](https://academy.dqlab.id/main/livecode/171/340/1650?pr=0)

In [42]:
%%sql

SELECT MONTH(order_date) AS order_month, SUM(item_price) AS total_price, 
CASE  
    WHEN SUM(item_price) >= 30000000000 THEN 'Target Achieved'
    WHEN SUM(item_price) <= 25000000000 THEN 'Less Performed'
    ELSE 'Follow Up'
END as remark
FROM sales_retail_2019
GROUP BY MONTH(order_date);

 * sqlite://
(sqlite3.OperationalError) no such function: MONTH
[SQL: SELECT MONTH(order_date) AS order_month, SUM(item_price) AS total_price,
CASE
    WHEN SUM(item_price) >= 30000000000 THEN 'Target Achieved'
    WHEN SUM(item_price) <= 25000000000 THEN 'Less Performed'
    ELSE 'Follow Up'
END as remark
FROM sales_retail_2019
GROUP BY MONTH(order_date);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

## Mini Project

#### [Proyek Pekerjaan - Analisis Penjualan Part 1](https://academy.dqlab.id/main/livecode/171/341/1652?pr=0)

In [48]:
%%sql

--1. Total jumlah seluruh penjualan (total/revenue).
SELECT SUM(total) as total 
FROM tr_penjualan;

 * sqlite://
Done.

[(3271600,)]

In [49]:
%%sql

--2. Total quantity seluruh produk yang terjual.
SELECT SUM(qty) as qty 
FROM tr_penjualan;

 * sqlite://
Done.

[(42,)]

In [50]:
%%sql

--3. Total quantity dan total revenue untuk setiap kode produk.
SELECT kode_produk, SUM(qty) as qty, SUM(total) as total 
FROM tr_penjualan
GROUP BY kode_produk;

 * sqlite://
Done.

[('prod-01', 6, 375000),
 ('prod-02', 2, 110000),
 ('prod-03', 3, 300000),
 ('prod-04', 9, 360000),
 ('prod-05', 4, 1000000),
 ('prod-07', 1, 48000),
 ('prod-08', 2, 31600),
 ('prod-09', 6, 552000),
 ('prod-10', 9, 495000)]

#### [Proyek Pekerjaan - Analisis Penjualan Part 2](https://academy.dqlab.id/main/livecode/171/341/1654?pr=0)

In [51]:
%%sql

-- 4. Rata - Rata total belanja per kode pelanggan.
SELECT kode_pelanggan, AVG(total) as avg_total 
FROM tr_penjualan
GROUP BY kode_pelanggan;

 * sqlite://
Done.

[('dqlabcust01', 156000.0),
 ('dqlabcust02', 515800.0),
 ('dqlabcust03', 181666.66666666666),
 ('dqlabcust05', 139500.0),
 ('dqlabcust07', 202125.0)]

In [52]:
%%sql

-- 5. Selain itu,  jangan lupa untuk menambahkan kolom baru dengan nama ‘kategori’ yang mengkategorikan total/revenue ke dalam 3 kategori: High: > 300K; Medium: 100K - 300K; Low: <100K.
SELECT kode_transaksi,kode_pelanggan,no_urut,kode_produk, nama_produk, qty, total,
CASE  
    WHEN total > 300000 THEN 'High'
    WHEN total < 100000 THEN 'Low'   
    ELSE 'Medium'  
END as kategori 
FROM tr_penjualan;

 * sqlite://
Done.

[('tr-001', 'dqlabcust07', 1, 'prod-01', 'Kotak Pensil DQLab', 5, 312500, 'High'),
 ('tr-001', 'dqlabcust07', 2, 'prod-03', 'Flash disk DQLab 32 GB', 1, 100000, 'Medium'),
 ('tr-001', 'dqlabcust07', 3, 'prod-09', 'Buku Planner Agenda DQLab', 3, 276000, 'Medium'),
 ('tr-001', 'dqlabcust07', 4, 'prod-04', 'Flashdisk DQLab 32 GB', 3, 120000, 'Medium'),
 ('tr-002', 'dqlabcust01', 1, 'prod-03', 'Gift Voucher DQLab 100rb', 2, 200000, 'Medium'),
 ('tr-002', 'dqlabcust01', 2, 'prod-10', 'Sticky Notes DQLab 500 sheets', 4, 220000, 'Medium'),
 ('tr-002', 'dqlabcust01', 3, 'prod-07', 'Tas Travel Organizer DQLab', 1, 48000, 'Low'),
 ('tr-003', 'dqlabcust03', 1, 'prod-02', 'Flashdisk DQLab 64 GB', 2, 110000, 'Medium'),
 ('tr-004', 'dqlabcust03', 1, 'prod-10', 'Sticky Notes DQLab 500 sheets', 5, 275000, 'Medium'),
 ('tr-004', 'dqlabcust03', 2, 'prod-04', 'Flashdisk DQLab 32 GB', 4, 160000, 'Medium'),
 ('tr-005', 'dqlabcust05', 1, 'prod-09', 'Buku Planner Agenda DQLab', 3, 276000, 'Medium'),
 ('tr-005', 'dqlabcust05', 2, 'prod-01', 'Kotak Pensil DQLab', 1, 62500, 'Low'),
 ('tr-005', 'dqlabcust05', 3, 'prod-04', 'Flashdisk DQLab 32 GB', 2, 80000, 'Low'),
 ('tr-006', 'dqlabcust02', 1, 'prod-05', 'Gift Voucher DQLab 250rb', 4, 1000000, 'High'),
 ('tr-006', 'dqlabcust02', 2, 'prod-08', 'Gantungan Kunci DQLab', 2, 31600, 'Low')]