In [1]:
# membuat koneksi

%reload_ext sql
%sql sqlite://

'Connected: @None'

## Database

#### Tabel **ms_item_warna**

In [2]:
# membuat tabel
%%sql

CREATE TABLE IF NOT EXISTS ms_item_warna (
    `nama_barang` VARCHAR(15),
    `warna` VARCHAR(15)
);

 * sqlite://
Done.

[]

In [3]:
# mengisi tabel
%%sql

INSERT INTO
    ms_item_warna
VALUES
    ('apel', 'merah'),
    ('bayam', 'hijau'),
    ('daun bawang', 'hijau'),
    ('duku', 'kuning pekat'),
    ('durian', 'kuning'),
    ('gandum', 'coklat'),
    ('jambu air', 'merah'),
    ('jeruk', 'oranye');

 * sqlite://
8 rows affected.

[]

#### Tabel **ms_item_kategori**

In [4]:
# membuat tabel
%%sql

CREATE TABLE IF NOT EXISTS ms_item_kategori (
    `nama_item` VARCHAR(15),
    `kategori` VARCHAR(15)
);

 * sqlite://
Done.

[]

In [5]:
# mengisi tabel
%%sql

INSERT INTO
    ms_item_kategori
VALUES
    ('bayam', 'sayuran'),
    ('belimbing', 'buah'),
    ('duku', 'buah'),
    ('durian', 'buah'),
    ('gandum', 'buah'),
    ('jamur', 'sayuran'),
    ('jambu air', 'buah'),
    ('jeruk', 'buah');

 * sqlite://
8 rows affected.

[]

#### Tabel **tr_penjualan**

In [6]:
# membuat tabel
%%sql

CREATE TABLE IF NOT EXISTS tr_penjualan (
    `kode_transaksi` VARCHAR(7),
    `kode_pelanggan` VARCHAR(12),
    `no_urut` INT,
    `kode_produk` VARCHAR(7),
    `nama_produk` VARCHAR(31),
    `qty` INT,
    `harga` INT
);

 * sqlite://
Done.

[]

In [7]:
# mengisi tabel
%%sql

INSERT INTO
    tr_penjualan
VALUES
    (
        'tr-001',
        'dqlabcust07',
        1,
        'prod-01',
        'Kotak Pensil DQLab',
        5,
        62500
    ),
    (
        'tr-001',
        'dqlabcust07',
        2,
        'prod-03',
        'Flash disk DQLab 32 GB',
        1,
        100000
    ),
    (
        'tr-001',
        'dqlabcust07',
        3,
        'prod-09',
        'Buku Planner Agenda DQLab',
        3,
        92000
    ),
    (
        'tr-001',
        'dqlabcust07',
        4,
        'prod-04',
        'Flashdisk DQLab 32 GB',
        3,
        40000
    ),
    (
        'tr-002',
        'dqlabcust01',
        1,
        'prod-03',
        'Gift Voucher DQLab 100rb',
        2,
        100000
    ),
    (
        'tr-002',
        'dqlabcust01',
        2,
        'prod-10',
        'Sticky Notes DQLab 500 sheets',
        4,
        55000
    ),
    (
        'tr-002',
        'dqlabcust01',
        3,
        'prod-07',
        'Tas Travel Organizer DQLab',
        1,
        48000
    ),
    (
        'tr-003',
        'dqlabcust03',
        1,
        'prod-02',
        'Flashdisk DQLab 64 GB',
        2,
        55000
    ),
    (
        'tr-004',
        'dqlabcust03',
        1,
        'prod-10',
        'Sticky Notes DQLab 500 sheets',
        5,
        55000
    ),
    (
        'tr-004',
        'dqlabcust03',
        2,
        'prod-04',
        'Flashdisk DQLab 32 GB',
        4,
        40000
    ),
    (
        'tr-005',
        'dqlabcust05',
        1,
        'prod-09',
        'Buku Planner Agenda DQLab',
        3,
        92000
    ),
    (
        'tr-005',
        'dqlabcust05',
        2,
        'prod-01',
        'Kotak Pensil DQLab',
        1,
        62500
    ),
    (
        'tr-005',
        'dqlabcust05',
        3,
        'prod-04',
        'Flashdisk DQLab 32 GB',
        2,
        40000
    ),
    (
        'tr-006',
        'dqlabcust02',
        1,
        'prod-05',
        'Gift Voucher DQLab 250rb',
        4,
        250000
    ),
    (
        'tr-006',
        'dqlabcust02',
        2,
        'prod-08',
        'Gantungan Kunci DQLab',
        2,
        15800
    );

 * sqlite://
15 rows affected.

[]

#### Tabel **ms_produk**

In [8]:
# membuat tabel
%%sql

CREATE TABLE IF NOT EXISTS ms_produk (
    `no_urut` INT,
    `kode_produk` VARCHAR(13),
    `nama_produk` VARCHAR(36),
    `harga` INT
);

 * sqlite://
Done.

[]

In [9]:
# mengisi tabel
%%sql

INSERT INTO
    ms_produk
VALUES
    (
        1,
        'prod-01',
        'Kotak Pensil DQLab',
        62500
    ),
    (
        2,
        'prod-02',
        'Flashdisk DQLab 64 GB',
        55000
    ),
    (
        3,
        'prod-03',
        'Gift Voucher DQLab 100rb',
        100000
    ),
    (
        4,
        'prod-04',
        'Flashdisk DQLab 32 GB',
        40000
    ),
    (
        5,
        'prod-05',
        'Gift Voucher DQLab 250rb',
        250000
    ),
    (
        6,
        'prod-06',
        'Pulpen Multifunction + Laser DQLab',
        92500
    ),
    (
        7,
        'prod-07',
        'Tas Travel Organizer DQLab',
        48000
    ),
    (
        8,
        'prod-08',
        'Gantungan Kunci DQLab',
        15800
    ),
    (
        9,
        'prod-09',
        'Buku Planner Agenda DQLab',
        92000
    ),
    (
        10,
        'prod-10',
        'Sticky Notes DQLab 500 sheets',
        55000
    );

 * sqlite://
10 rows affected.

[]

#### Tabel **ms_produk_1**

In [10]:
# membuat tabel
%%sql

CREATE TABLE IF NOT EXISTS ms_produk_1 (
    `no_urut` INT,
    `kode_produk` VARCHAR(13),
    `nama_produk` VARCHAR(36),
    `harga` INT
);

 * sqlite://
Done.

[]

In [11]:
# mengisi tabel
%%sql

INSERT INTO
    ms_produk_1
VALUES
    (
        1,
        'prod-01',
        'Kotak Pensil DQLab',
        62500
    ),
    (
        2,
        'prod-02',
        'Flashdisk DQLab 64 GB',
        55000
    ),
    (
        3,
        'prod-03',
        'Gift Voucher DQLab 100rb',
        100000
    ),
    (
        4,
        'prod-04',
        'Flashdisk DQLab 32 GB',
        40000
    ),
    (
        5,
        'prod-05',
        'Gift Voucher DQLab 250rb',
        250000
    );

 * sqlite://
5 rows affected.

[]

#### Tabel **ms_produk_2**

In [12]:
# membuat tabel
%%sql

CREATE TABLE IF NOT EXISTS ms_produk_2 (
    `no_urut` INT,
    `kode_produk` VARCHAR(13),
    `nama_produk` VARCHAR(36),
    `harga` INT
);

 * sqlite://
Done.

[]

In [13]:
# mengisi tabel
%%sql

INSERT INTO
    ms_produk_2
VALUES
    (
        6,
        'prod-06',
        'Pulpen Multifunction + Laser DQLab',
        92500
    ),
    (
        7,
        'prod-07',
        'Tas Travel Organizer DQLab',
        48000
    ),
    (
        8,
        'prod-08',
        'Gantungan Kunci DQLab',
        15800
    ),
    (
        9,
        'prod-09',
        'Buku Planner Agenda DQLab',
        92000
    ),
    (
        10,
        'prod-10',
        'Sticky Notes DQLab 500 sheets',
        55000
    );

 * sqlite://
5 rows affected.

[]

#### Tabel **tabel_A**

In [14]:
# membuat tabel
%%sql

CREATE TABLE IF NOT EXISTS tabel_A (
    `kode_transaksi` VARCHAR(16),
    `kode_pelanggan` VARCHAR(16),
    `no_urut` INT,
    `kode_produk` VARCHAR(13),
    `nama_produk` VARCHAR(31),
    `qty` INT,
    `harga` INT,
    `total` INT
);

 * sqlite://
Done.

[]

In [15]:
# mengisi tabel
%%sql

INSERT INTO
    tabel_A
VALUES
    (
        'tr-001',
        'dqlabcust07',
        1,
        'prod-01',
        'Kotak Pensil DQLab',
        5,
        62500,
        312500
    ),
    (
        'tr-001',
        'dqlabcust07',
        2,
        'prod-03',
        'Flash disk DQLab 32 GB',
        1,
        100000,
        100000
    ),
    (
        'tr-001',
        'dqlabcust07',
        3,
        'prod-09',
        'Buku Planner Agenda DQLab',
        3,
        92000,
        276000
    ),
    (
        'tr-001',
        'dqlabcust07',
        4,
        'prod-04',
        'Flashdisk DQLab 32 GB',
        3,
        40000,
        120000
    ),
    (
        'tr-002',
        'dqlabcust01',
        1,
        'prod-03',
        'Gift Voucher DQLab 100rb',
        2,
        100000,
        200000
    ),
    (
        'tr-002',
        'dqlabcust01',
        2,
        'prod-10',
        'Sticky Notes DQLab 500 sheets',
        4,
        55000,
        220000
    ),
    (
        'tr-002',
        'dqlabcust01',
        3,
        'prod-07',
        'Tas Travel Organizer DQLab',
        1,
        48000,
        48000
    ),
    (
        'tr-003',
        'dqlabcust03',
        1,
        'prod-02',
        'Flashdisk DQLab 64 GB',
        2,
        55000,
        110000
    );

 * sqlite://
8 rows affected.

[]

#### Tabel **tabel_B**

In [16]:
# membuat tabel
%%sql

CREATE TABLE IF NOT EXISTS tabel_B (
    `kode_transaksi` VARCHAR(16),
    `kode_pelanggan` VARCHAR(16),
    `no_urut` INT,
    `kode_produk` VARCHAR(13),
    `nama_produk` VARCHAR(31),
    `qty` INT,
    `harga` INT,
    `total` INT
);

 * sqlite://
Done.

[]

In [17]:
# mengisi tabel
%%sql

INSERT INTO
    tabel_B
VALUES
    (
        'tr-004',
        'dqlabcust03',
        1,
        'prod-10',
        'Sticky Notes DQLab 500 sheets',
        5,
        55000,
        275000
    ),
    (
        'tr-004',
        'dqlabcust03',
        2,
        'prod-04',
        'Flashdisk DQLab 32 GB',
        4,
        40000,
        160000
    ),
    (
        'tr-005',
        'dqlabcust05',
        1,
        'prod-09',
        'Buku Planner Agenda DQLab',
        3,
        92000,
        276000
    ),
    (
        'tr-005',
        'dqlabcust05',
        2,
        'prod-01',
        'Kotak Pensil DQLab',
        1,
        62500,
        62500
    ),
    (
        'tr-005',
        'dqlabcust05',
        3,
        'prod-04',
        'Flashdisk DQLab 32 GB',
        2,
        40000,
        80000
    ),
    (
        'tr-006',
        'dqlabcust02',
        1,
        'prod-05',
        'Gift Voucher DQLab 250rb',
        4,
        250000,
        1000000
    ),
    (
        'tr-006',
        'dqlabcust02',
        2,
        'prod-08',
        'Gantungan Kunci DQLab',
        2,
        15800,
        31600
    );

 * sqlite://
7 rows affected.

[]

#### Tabel **Customers**

In [18]:
# membuat tabel
%%sql

CREATE TABLE IF NOT EXISTS Customers (
    `CustomerID` INT,
    `CustomerName` VARCHAR(17),
    `ContactName` VARCHAR(13),
    `Address` VARCHAR(13),
    `City` VARCHAR(10),
    `PostalCode` INT,
    `Country` VARCHAR(11)
);

 * sqlite://
Done.

[]

In [19]:
# mengisi tabel
%%sql

INSERT INTO
    Customers
VALUES
    (
        1,
        'Fransiska Maria',
        'Maria',
        'Jl Sudirman',
        'Jakarta',
        14450,
        'Indonesia'
    ),
    (
        2,
        'Ana Helena',
        'Ana Helena',
        'Jl Madura',
        'Surabaya',
        5021,
        'Indonesia'
    ),
    (
        3,
        'Lily Subari',
        'Lili',
        'Jl Sumba',
        'Makassar',
        5023,
        'Indonesia'
    );

 * sqlite://
3 rows affected.

[]

#### Tabel **ms_pelanggan**

In [20]:
# membuat tabel
%%sql

CREATE TABLE IF NOT EXISTS ms_pelanggan (
    `no_urut` INT,
    `kode_pelanggan` VARCHAR(12),
    `nama_customer` VARCHAR(21),
    `alamat` VARCHAR(42)
);

 * sqlite://
Done.

[]

In [21]:
# mengisi tabel
%%sql

INSERT INTO
    ms_pelanggan
VALUES
    (
        1,
        'dqlabcust01',
        'Eva Novianti, S.H.',
        'Vila Sempilan, No. 67 - Kota B'
    ),
    (
        2,
        'dqlabcust02',
        'Heidi Goh',
        'Vila Sempilan, No. 11 - Kota B'
    ),
    (
        3,
        'dqlabcust03',
        'Unang Handoko',
        'Vila Sempilan, No. 1 - Kota B'
    ),
    (
        4,
        'dqlabcust04',
        'Jokolono Sukarman',
        'Vila Permata Intan Berkilau, Blok C5-7'
    ),
    (
        5,
        'dqlabcust05',
        'Tommy Sinaga',
        'Vila Permata Intan Berkilau, Blok A1/2'
    ),
    (
        6,
        'dqlabcust06',
        'Irwan Setianto',
        'Vila Gunung Seribu, Blok O1 - No. 1'
    ),
    (
        7,
        'dqlabcust07',
        'Agus Cahyono',
        'Vila Gunung Seribu, Blok F4 - No. 8'
    ),
    (
        8,
        'dqlabcust08',
        'Maria Sirait',
        'Vila Bukit Sagitarius, Gang. Sawit No. 3'
    ),
    (
        9,
        'dqlabcust09',
        'Ir. Ita Nugraha',
        'Vila Bukit Sagitarius, Gang Kelapa No. 6'
    ),
    (
        10,
        'dqlabcust10',
        'Djoko Wardoyo, Drs.',
        'Vila Bukit Sagitarius, Blok A1 No. 1'
    );

 * sqlite://
10 rows affected.

[]

#### Tabel **Suppliers**

In [22]:
# membuat tabel
%%sql

CREATE TABLE IF NOT EXISTS Suppliers (
    `SupplierID` INT,
    `ContactName` VARCHAR(13),
    `SupplierName` VARCHAR(16),
    `Address` VARCHAR(19),
    `City` VARCHAR(10),
    `PostalCode` INT,
    `Country` VARCHAR(11)
);

 * sqlite://
Done.

[]

In [23]:
# mengisi tabel
%%sql

INSERT INTO
    Suppliers
VALUES
    (
        1,
        'Yulius',
        'Yulius Syrup',
        'Jl Jayakarta',
        'Jakarta',
        14450,
        'Indonesia'
    ),
    (
        2,
        'Sherly Ani',
        'Bandung Bakery',
        'Jalan Asia Afrika',
        'Bandung',
        70117,
        'Indonesia'
    ),
    (
        3,
        'Regina Tara',
        'Tara Pastry',
        'Jalan Merpati',
        'Semarang',
        48104,
        'Indonesia'
    );

 * sqlite://
3 rows affected.

[]

## Penggabungan Tabel dari Relasi Kolom

#### [Tugas Praktek (Melihat Keseluruhan Isi dari Tabel)](https://academy.dqlab.id/main/livecode/244/406/2034?pr=0)

In [24]:
%%sql

-- melihat tabel ms_item_kategori
SELECT *
FROM
  ms_item_kategori;

 * sqlite://
Done.

[('bayam', 'sayuran'),
 ('belimbing', 'buah'),
 ('duku', 'buah'),
 ('durian', 'buah'),
 ('gandum', 'buah'),
 ('jamur', 'sayuran'),
 ('jambu air', 'buah'),
 ('jeruk', 'buah')]

In [25]:
%%sql

-- melihat tabel ms_item_warna
SELECT *
FROM
  ms_item_warna;

 * sqlite://
Done.

[('apel', 'merah'),
 ('bayam', 'hijau'),
 ('daun bawang', 'hijau'),
 ('duku', 'kuning pekat'),
 ('durian', 'kuning'),
 ('gandum', 'coklat'),
 ('jambu air', 'merah'),
 ('jeruk', 'oranye')]

#### [Menggabungkan Tabel dengan Key Columns](https://academy.dqlab.id/main/livecode/244/406/2038?pr=0)

In [26]:
%%sql

SELECT *
FROM
  ms_item_kategori,
  ms_item_warna
WHERE
  nama_barang = nama_item;

 * sqlite://
Done.

[('bayam', 'sayuran', 'bayam', 'hijau'),
 ('duku', 'buah', 'duku', 'kuning pekat'),
 ('durian', 'buah', 'durian', 'kuning'),
 ('gandum', 'buah', 'gandum', 'coklat'),
 ('jambu air', 'buah', 'jambu air', 'merah'),
 ('jeruk', 'buah', 'jeruk', 'oranye')]

#### [Bagaimana jika urutan Tabel diubah?](https://academy.dqlab.id/main/livecode/244/406/2044?pr=0)

In [27]:
%%sql

SELECT *
FROM
  ms_item_warna,
  ms_item_kategori
WHERE
  nama_barang = nama_item;

 * sqlite://
Done.

[('bayam', 'hijau', 'bayam', 'sayuran'),
 ('duku', 'kuning pekat', 'duku', 'buah'),
 ('durian', 'kuning', 'durian', 'buah'),
 ('gandum', 'coklat', 'gandum', 'buah'),
 ('jambu air', 'merah', 'jambu air', 'buah'),
 ('jeruk', 'oranye', 'jeruk', 'buah')]

#### [Menggunakan Prefix Nama Tabel](https://academy.dqlab.id/main/livecode/244/406/2045?pr=0)

In [28]:
%%sql

SELECT
  ms_item_kategori.*,
  ms_item_warna.*
FROM
  ms_item_warna,
  ms_item_kategori
WHERE
  nama_barang = nama_item;

 * sqlite://
Done.

[('bayam', 'sayuran', 'bayam', 'hijau'),
 ('duku', 'buah', 'duku', 'kuning pekat'),
 ('durian', 'buah', 'durian', 'kuning'),
 ('gandum', 'buah', 'gandum', 'coklat'),
 ('jambu air', 'buah', 'jambu air', 'merah'),
 ('jeruk', 'buah', 'jeruk', 'oranye')]

#### [Penggabungan Tanpa Kondisi](https://academy.dqlab.id/main/livecode/244/406/2046?pr=0)

In [29]:
%%sql

SELECT *
FROM
  ms_item_kategori,
  ms_item_warna;

 * sqlite://
Done.

[('bayam', 'sayuran', 'apel', 'merah'),
 ('bayam', 'sayuran', 'bayam', 'hijau'),
 ('bayam', 'sayuran', 'daun bawang', 'hijau'),
 ('bayam', 'sayuran', 'duku', 'kuning pekat'),
 ('bayam', 'sayuran', 'durian', 'kuning'),
 ('bayam', 'sayuran', 'gandum', 'coklat'),
 ('bayam', 'sayuran', 'jambu air', 'merah'),
 ('bayam', 'sayuran', 'jeruk', 'oranye'),
 ('belimbing', 'buah', 'apel', 'merah'),
 ('belimbing', 'buah', 'bayam', 'hijau'),
 ('belimbing', 'buah', 'daun bawang', 'hijau'),
 ('belimbing', 'buah', 'duku', 'kuning pekat'),
 ('belimbing', 'buah', 'durian', 'kuning'),
 ('belimbing', 'buah', 'gandum', 'coklat'),
 ('belimbing', 'buah', 'jambu air', 'merah'),
 ('belimbing', 'buah', 'jeruk', 'oranye'),
 ('duku', 'buah', 'apel', 'merah'),
 ('duku', 'buah', 'bayam', 'hijau'),
 ('duku', 'buah', 'daun bawang', 'hijau'),
 ('duku', 'buah', 'duku', 'kuning pekat'),
 ('duku', 'buah', 'durian', 'kuning'),
 ('duku', 'buah', 'gandum', 'coklat'),
 ('duku', 'buah', 'jambu air', 'merah'),
 ('duku', 'buah', 'jeruk', 'oranye'),
 ('durian', 'buah', 'apel', 'merah'),
 ('durian', 'buah', 'bayam', 'hijau'),
 ('durian', 'buah', 'daun bawang', 'hijau'),
 ('durian', 'buah', 'duku', 'kuning pekat'),
 ('durian', 'buah', 'durian', 'kuning'),
 ('durian', 'buah', 'gandum', 'coklat'),
 ('durian', 'buah', 'jambu air', 'merah'),
 ('durian', 'buah', 'jeruk', 'oranye'),
 ('gandum', 'buah', 'apel', 'merah'),
 ('gandum', 'buah', 'bayam', 'hijau'),
 ('gandum', 'buah', 'daun bawang', 'hijau'),
 ('gandum', 'buah', 'duku', 'kuning pekat'),
 ('gandum', 'buah', 'durian', 'kuning'),
 ('gandum', 'buah', 'gandum', 'coklat'),
 ('gandum', 'buah', 'jambu air', 'merah'),
 ('gandum', 'buah', 'jeruk', 'oranye'),
 ('jamur', 'sayuran', 'apel', 'merah'),
 ('jamur', 'sayuran', 'bayam', 'hijau'),
 ('jamur', 'sayuran', 'daun bawang', 'hijau'),
 ('jamur', 'sayuran', 'duku', 'kuning pekat'),
 ('jamur', 'sayuran', 'durian', 'kuning'),
 ('jamur', 'sayuran', 'gandum', 'coklat'),
 ('jamur', 'sayuran', 'jambu air', 'merah'),
 ('jamur', 'sayuran', 'jeruk', 'oranye'),
 ('jambu air', 'buah', 'apel', 'merah'),
 ('jambu air', 'buah', 'bayam', 'hijau'),
 ('jambu air', 'buah', 'daun bawang', 'hijau'),
 ('jambu air', 'buah', 'duku', 'kuning pekat'),
 ('jambu air', 'buah', 'durian', 'kuning'),
 ('jambu air', 'buah', 'gandum', 'coklat'),
 ('jambu air', 'buah', 'jambu air', 'merah'),
 ('jambu air', 'buah', 'jeruk', 'oranye'),
 ('jeruk', 'buah', 'apel', 'merah'),
 ('jeruk', 'buah', 'bayam', 'hijau'),
 ('jeruk', 'buah', 'daun bawang', 'hijau'),
 ('jeruk', 'buah', 'duku', 'kuning pekat'),
 ('jeruk', 'buah', 'durian', 'kuning'),
 ('jeruk', 'buah', 'gandum', 'coklat'),
 ('jeruk', 'buah', 'jambu air', 'merah'),
 ('jeruk', 'buah', 'jeruk', 'oranye')]

## INNER JOIN

#### [Tugas Praktek: Menggunakan INNER JOIN (1/3)](https://academy.dqlab.id/main/livecode/244/407/2051?pr=0)

In [30]:
%%sql

SELECT *
FROM
  ms_item_warna
INNER JOIN
  ms_item_kategori
ON
  ms_item_warna.nama_barang = ms_item_kategori.nama_item;

 * sqlite://
Done.

[('bayam', 'hijau', 'bayam', 'sayuran'),
 ('duku', 'kuning pekat', 'duku', 'buah'),
 ('durian', 'kuning', 'durian', 'buah'),
 ('gandum', 'coklat', 'gandum', 'buah'),
 ('jambu air', 'merah', 'jambu air', 'buah'),
 ('jeruk', 'oranye', 'jeruk', 'buah')]

#### [tabel tr_penjualan dan tabel ms_produk](https://academy.dqlab.id/main/livecode/244/407/2052?pr=0)

In [31]:
%%sql

--melihat isi tabel tr_penjualan
SELECT *
FROM
  tr_penjualan;

 * sqlite://
Done.

[('tr-001', 'dqlabcust07', 1, 'prod-01', 'Kotak Pensil DQLab', 5, 62500),
 ('tr-001', 'dqlabcust07', 2, 'prod-03', 'Flash disk DQLab 32 GB', 1, 100000),
 ('tr-001', 'dqlabcust07', 3, 'prod-09', 'Buku Planner Agenda DQLab', 3, 92000),
 ('tr-001', 'dqlabcust07', 4, 'prod-04', 'Flashdisk DQLab 32 GB', 3, 40000),
 ('tr-002', 'dqlabcust01', 1, 'prod-03', 'Gift Voucher DQLab 100rb', 2, 100000),
 ('tr-002', 'dqlabcust01', 2, 'prod-10', 'Sticky Notes DQLab 500 sheets', 4, 55000),
 ('tr-002', 'dqlabcust01', 3, 'prod-07', 'Tas Travel Organizer DQLab', 1, 48000),
 ('tr-003', 'dqlabcust03', 1, 'prod-02', 'Flashdisk DQLab 64 GB', 2, 55000),
 ('tr-004', 'dqlabcust03', 1, 'prod-10', 'Sticky Notes DQLab 500 sheets', 5, 55000),
 ('tr-004', 'dqlabcust03', 2, 'prod-04', 'Flashdisk DQLab 32 GB', 4, 40000),
 ('tr-005', 'dqlabcust05', 1, 'prod-09', 'Buku Planner Agenda DQLab', 3, 92000),
 ('tr-005', 'dqlabcust05', 2, 'prod-01', 'Kotak Pensil DQLab', 1, 62500),
 ('tr-005', 'dqlabcust05', 3, 'prod-04', 'Flashdisk DQLab 32 GB', 2, 40000),
 ('tr-006', 'dqlabcust02', 1, 'prod-05', 'Gift Voucher DQLab 250rb', 4, 250000),
 ('tr-006', 'dqlabcust02', 2, 'prod-08', 'Gantungan Kunci DQLab', 2, 15800)]

In [32]:
%%sql

--melihat isi tabel ms_produk
SELECT *
FROM
  ms_produk;

 * sqlite://
Done.

[(1, 'prod-01', 'Kotak Pensil DQLab', 62500),
 (2, 'prod-02', 'Flashdisk DQLab 64 GB', 55000),
 (3, 'prod-03', 'Gift Voucher DQLab 100rb', 100000),
 (4, 'prod-04', 'Flashdisk DQLab 32 GB', 40000),
 (5, 'prod-05', 'Gift Voucher DQLab 250rb', 250000),
 (6, 'prod-06', 'Pulpen Multifunction + Laser DQLab', 92500),
 (7, 'prod-07', 'Tas Travel Organizer DQLab', 48000),
 (8, 'prod-08', 'Gantungan Kunci DQLab', 15800),
 (9, 'prod-09', 'Buku Planner Agenda DQLab', 92000),
 (10, 'prod-10', 'Sticky Notes DQLab 500 sheets', 55000)]

#### [Tugas Praktek: Menggunakan INNER JOIN (2/3)](https://academy.dqlab.id/main/livecode/244/407/2054?pr=0)

In [33]:
%%sql

SELECT *
FROM
  tr_penjualan
INNER JOIN
  ms_produk
ON
  tr_penjualan.kode_produk = ms_produk.kode_produk;

 * sqlite://
Done.

[('tr-001', 'dqlabcust07', 1, 'prod-01', 'Kotak Pensil DQLab', 5, 62500, 1, 'prod-01', 'Kotak Pensil DQLab', 62500),
 ('tr-001', 'dqlabcust07', 2, 'prod-03', 'Flash disk DQLab 32 GB', 1, 100000, 3, 'prod-03', 'Gift Voucher DQLab 100rb', 100000),
 ('tr-001', 'dqlabcust07', 3, 'prod-09', 'Buku Planner Agenda DQLab', 3, 92000, 9, 'prod-09', 'Buku Planner Agenda DQLab', 92000),
 ('tr-001', 'dqlabcust07', 4, 'prod-04', 'Flashdisk DQLab 32 GB', 3, 40000, 4, 'prod-04', 'Flashdisk DQLab 32 GB', 40000),
 ('tr-002', 'dqlabcust01', 1, 'prod-03', 'Gift Voucher DQLab 100rb', 2, 100000, 3, 'prod-03', 'Gift Voucher DQLab 100rb', 100000),
 ('tr-002', 'dqlabcust01', 2, 'prod-10', 'Sticky Notes DQLab 500 sheets', 4, 55000, 10, 'prod-10', 'Sticky Notes DQLab 500 sheets', 55000),
 ('tr-002', 'dqlabcust01', 3, 'prod-07', 'Tas Travel Organizer DQLab', 1, 48000, 7, 'prod-07', 'Tas Travel Organizer DQLab', 48000),
 ('tr-003', 'dqlabcust03', 1, 'prod-02', 'Flashdisk DQLab 64 GB', 2, 55000, 2, 'prod-02', 'Flashdisk DQLab 64 GB', 55000),
 ('tr-004', 'dqlabcust03', 1, 'prod-10', 'Sticky Notes DQLab 500 sheets', 5, 55000, 10, 'prod-10', 'Sticky Notes DQLab 500 sheets', 55000),
 ('tr-004', 'dqlabcust03', 2, 'prod-04', 'Flashdisk DQLab 32 GB', 4, 40000, 4, 'prod-04', 'Flashdisk DQLab 32 GB', 40000),
 ('tr-005', 'dqlabcust05', 1, 'prod-09', 'Buku Planner Agenda DQLab', 3, 92000, 9, 'prod-09', 'Buku Planner Agenda DQLab', 92000),
 ('tr-005', 'dqlabcust05', 2, 'prod-01', 'Kotak Pensil DQLab', 1, 62500, 1, 'prod-01', 'Kotak Pensil DQLab', 62500),
 ('tr-005', 'dqlabcust05', 3, 'prod-04', 'Flashdisk DQLab 32 GB', 2, 40000, 4, 'prod-04', 'Flashdisk DQLab 32 GB', 40000),
 ('tr-006', 'dqlabcust02', 1, 'prod-05', 'Gift Voucher DQLab 250rb', 4, 250000, 5, 'prod-05', 'Gift Voucher DQLab 250rb', 250000),
 ('tr-006', 'dqlabcust02', 2, 'prod-08', 'Gantungan Kunci DQLab', 2, 15800, 8, 'prod-08', 'Gantungan Kunci DQLab', 15800)]

#### [Tugas Praktek: Menggunakan INNER JOIN (3/3)](https://academy.dqlab.id/main/livecode/244/407/2057?pr=0)

In [34]:
%%sql

SELECT
  tr_penjualan.kode_transaksi,
  tr_penjualan.kode_pelanggan,
  tr_penjualan.kode_produk,
  ms_produk.nama_produk,
  ms_produk.harga,
  tr_penjualan.qty,
  ms_produk.harga * tr_penjualan.qty AS total 
FROM
  tr_penjualan
INNER JOIN
  ms_produk
ON
  tr_penjualan.kode_produk = ms_produk.kode_produk;

 * sqlite://
Done.

[('tr-001', 'dqlabcust07', 'prod-01', 'Kotak Pensil DQLab', 62500, 5, 312500),
 ('tr-001', 'dqlabcust07', 'prod-03', 'Gift Voucher DQLab 100rb', 100000, 1, 100000),
 ('tr-001', 'dqlabcust07', 'prod-09', 'Buku Planner Agenda DQLab', 92000, 3, 276000),
 ('tr-001', 'dqlabcust07', 'prod-04', 'Flashdisk DQLab 32 GB', 40000, 3, 120000),
 ('tr-002', 'dqlabcust01', 'prod-03', 'Gift Voucher DQLab 100rb', 100000, 2, 200000),
 ('tr-002', 'dqlabcust01', 'prod-10', 'Sticky Notes DQLab 500 sheets', 55000, 4, 220000),
 ('tr-002', 'dqlabcust01', 'prod-07', 'Tas Travel Organizer DQLab', 48000, 1, 48000),
 ('tr-003', 'dqlabcust03', 'prod-02', 'Flashdisk DQLab 64 GB', 55000, 2, 110000),
 ('tr-004', 'dqlabcust03', 'prod-10', 'Sticky Notes DQLab 500 sheets', 55000, 5, 275000),
 ('tr-004', 'dqlabcust03', 'prod-04', 'Flashdisk DQLab 32 GB', 40000, 4, 160000),
 ('tr-005', 'dqlabcust05', 'prod-09', 'Buku Planner Agenda DQLab', 92000, 3, 276000),
 ('tr-005', 'dqlabcust05', 'prod-01', 'Kotak Pensil DQLab', 62500, 1, 62500),
 ('tr-005', 'dqlabcust05', 'prod-04', 'Flashdisk DQLab 32 GB', 40000, 2, 80000),
 ('tr-006', 'dqlabcust02', 'prod-05', 'Gift Voucher DQLab 250rb', 250000, 4, 1000000),
 ('tr-006', 'dqlabcust02', 'prod-08', 'Gantungan Kunci DQLab', 15800, 2, 31600)]

## UNION

#### [Tabel yang Akan Digabungkan](https://academy.dqlab.id/main/livecode/244/408/2061?pr=0)

In [35]:
%%sql

-- melihat tabel_A
SELECT *
FROM
  tabel_A;

 * sqlite://
Done.

[('tr-001', 'dqlabcust07', 1, 'prod-01', 'Kotak Pensil DQLab', 5, 62500, 312500),
 ('tr-001', 'dqlabcust07', 2, 'prod-03', 'Flash disk DQLab 32 GB', 1, 100000, 100000),
 ('tr-001', 'dqlabcust07', 3, 'prod-09', 'Buku Planner Agenda DQLab', 3, 92000, 276000),
 ('tr-001', 'dqlabcust07', 4, 'prod-04', 'Flashdisk DQLab 32 GB', 3, 40000, 120000),
 ('tr-002', 'dqlabcust01', 1, 'prod-03', 'Gift Voucher DQLab 100rb', 2, 100000, 200000),
 ('tr-002', 'dqlabcust01', 2, 'prod-10', 'Sticky Notes DQLab 500 sheets', 4, 55000, 220000),
 ('tr-002', 'dqlabcust01', 3, 'prod-07', 'Tas Travel Organizer DQLab', 1, 48000, 48000),
 ('tr-003', 'dqlabcust03', 1, 'prod-02', 'Flashdisk DQLab 64 GB', 2, 55000, 110000)]

In [36]:
%%sql

-- melihat tabel_B
SELECT *
FROM
  tabel_B;

 * sqlite://
Done.

[('tr-004', 'dqlabcust03', 1, 'prod-10', 'Sticky Notes DQLab 500 sheets', 5, 55000, 275000),
 ('tr-004', 'dqlabcust03', 2, 'prod-04', 'Flashdisk DQLab 32 GB', 4, 40000, 160000),
 ('tr-005', 'dqlabcust05', 1, 'prod-09', 'Buku Planner Agenda DQLab', 3, 92000, 276000),
 ('tr-005', 'dqlabcust05', 2, 'prod-01', 'Kotak Pensil DQLab', 1, 62500, 62500),
 ('tr-005', 'dqlabcust05', 3, 'prod-04', 'Flashdisk DQLab 32 GB', 2, 40000, 80000),
 ('tr-006', 'dqlabcust02', 1, 'prod-05', 'Gift Voucher DQLab 250rb', 4, 250000, 1000000),
 ('tr-006', 'dqlabcust02', 2, 'prod-08', 'Gantungan Kunci DQLab', 2, 15800, 31600)]

#### [Menggunakan UNION](https://academy.dqlab.id/main/livecode/244/408/2062?pr=0)

In [37]:
%%sql

SELECT *
FROM
  tabel_A
UNION
SELECT *
FROM
  tabel_B;

 * sqlite://
Done.

[('tr-001', 'dqlabcust07', 1, 'prod-01', 'Kotak Pensil DQLab', 5, 62500, 312500),
 ('tr-001', 'dqlabcust07', 2, 'prod-03', 'Flash disk DQLab 32 GB', 1, 100000, 100000),
 ('tr-001', 'dqlabcust07', 3, 'prod-09', 'Buku Planner Agenda DQLab', 3, 92000, 276000),
 ('tr-001', 'dqlabcust07', 4, 'prod-04', 'Flashdisk DQLab 32 GB', 3, 40000, 120000),
 ('tr-002', 'dqlabcust01', 1, 'prod-03', 'Gift Voucher DQLab 100rb', 2, 100000, 200000),
 ('tr-002', 'dqlabcust01', 2, 'prod-10', 'Sticky Notes DQLab 500 sheets', 4, 55000, 220000),
 ('tr-002', 'dqlabcust01', 3, 'prod-07', 'Tas Travel Organizer DQLab', 1, 48000, 48000),
 ('tr-003', 'dqlabcust03', 1, 'prod-02', 'Flashdisk DQLab 64 GB', 2, 55000, 110000),
 ('tr-004', 'dqlabcust03', 1, 'prod-10', 'Sticky Notes DQLab 500 sheets', 5, 55000, 275000),
 ('tr-004', 'dqlabcust03', 2, 'prod-04', 'Flashdisk DQLab 32 GB', 4, 40000, 160000),
 ('tr-005', 'dqlabcust05', 1, 'prod-09', 'Buku Planner Agenda DQLab', 3, 92000, 276000),
 ('tr-005', 'dqlabcust05', 2, 'prod-01', 'Kotak Pensil DQLab', 1, 62500, 62500),
 ('tr-005', 'dqlabcust05', 3, 'prod-04', 'Flashdisk DQLab 32 GB', 2, 40000, 80000),
 ('tr-006', 'dqlabcust02', 1, 'prod-05', 'Gift Voucher DQLab 250rb', 4, 250000, 1000000),
 ('tr-006', 'dqlabcust02', 2, 'prod-08', 'Gantungan Kunci DQLab', 2, 15800, 31600)]

#### [Menggunakan UNION dengan Klausa WHERE](https://academy.dqlab.id/main/livecode/244/408/2063?pr=0)

In [38]:
%%sql

SELECT *
FROM
  tabel_A
WHERE
  kode_pelanggan = 'dqlabcust03'
UNION
SELECT *
FROM
  tabel_B
WHERE
  kode_pelanggan = 'dqlabcust03';

 * sqlite://
Done.

[('tr-003', 'dqlabcust03', 1, 'prod-02', 'Flashdisk DQLab 64 GB', 2, 55000, 110000),
 ('tr-004', 'dqlabcust03', 1, 'prod-10', 'Sticky Notes DQLab 500 sheets', 5, 55000, 275000),
 ('tr-004', 'dqlabcust03', 2, 'prod-04', 'Flashdisk DQLab 32 GB', 4, 40000, 160000)]

#### [Menggunakan UNION dan Menyelaraskan Kolom-Kolomnya](https://academy.dqlab.id/main/livecode/244/408/2065?pr=0)

In [39]:
%%sql

SELECT
 CustomerName,
 ContactName,
 City,
 PostalCode 
FROM
  Customers 
UNION 
SELECT
  SupplierName,
  ContactName,
  City,
  PostalCode 
FROM Suppliers;

 * sqlite://
Done.

[('Ana Helena', 'Ana Helena', 'Surabaya', 5021),
 ('Bandung Bakery', 'Sherly Ani', 'Bandung', 70117),
 ('Fransiska Maria', 'Maria', 'Jakarta', 14450),
 ('Lily Subari', 'Lili', 'Makassar', 5023),
 ('Tara Pastry', 'Regina Tara', 'Semarang', 48104),
 ('Yulius Syrup', 'Yulius', 'Jakarta', 14450)]

## Mini Project

#### [Project INNER JOIN](https://academy.dqlab.id/main/livecode/244/409/2070?pr=0)

In [40]:
%%sql

SELECT DISTINCT
  ms_pelanggan.kode_pelanggan,
  ms_pelanggan.nama_customer,
  ms_pelanggan.alamat
FROM
  ms_pelanggan
INNER JOIN
  tr_penjualan
ON
  ms_pelanggan.kode_pelanggan = tr_penjualan.kode_pelanggan
WHERE
  tr_penjualan.nama_produk = 'Kotak Pensil DQLab'
  OR tr_penjualan.nama_produk = 'Flashdisk DQLab 32 GB'
  OR tr_penjualan.nama_produk = 'Sticky Notes DQLab 500 sheets';

 * sqlite://
Done.

[('dqlabcust07', 'Agus Cahyono', 'Vila Gunung Seribu, Blok F4 - No. 8'),
 ('dqlabcust01', 'Eva Novianti, S.H.', 'Vila Sempilan, No. 67 - Kota B'),
 ('dqlabcust03', 'Unang Handoko', 'Vila Sempilan, No. 1 - Kota B'),
 ('dqlabcust05', 'Tommy Sinaga', 'Vila Permata Intan Berkilau, Blok A1/2')]

#### [Project UNION](https://academy.dqlab.id/main/livecode/244/409/2071?pr=0)

In [41]:
%%sql

SELECT
  nama_produk,
  kode_produk,
  harga
FROM
  ms_produk_1
WHERE
  harga < 100000
UNION
SELECT
  nama_produk,
  kode_produk,
  harga
FROM
  ms_produk_2
WHERE
  harga < 50000;

 * sqlite://
Done.

[('Flashdisk DQLab 32 GB', 'prod-04', 40000),
 ('Flashdisk DQLab 64 GB', 'prod-02', 55000),
 ('Gantungan Kunci DQLab', 'prod-08', 15800),
 ('Kotak Pensil DQLab', 'prod-01', 62500),
 ('Tas Travel Organizer DQLab', 'prod-07', 48000)]