## Mempersiapkan Database

In [1]:
# Membuat Tabel

import sqlite3

conn = sqlite3.connect('AL-Lab.db')
print("Opened database successfully");

conn.execute('''
CREATE TABLE IF NOT EXISTS ms_produk(no_urut, 
                      kode_produk, 
                      nama_produk,
                      harga);
             ''')

conn.commit()

print("Table created successfully");

#conn.close()

Opened database successfully
Table created successfully

In [2]:
# Memasukkan Nilai

conn.execute("INSERT INTO ms_produk VALUES(1, 'prod-01', 'Kotak Pensil DQLab', 62500);")
conn.execute("INSERT INTO ms_produk VALUES(2, 'prod-02', 'Flashdisk DQLab 64 GB', 55000);")
conn.execute("INSERT INTO ms_produk VALUES(3, 'prod-03', 'Gift Voucher DQLab 100rb', 100000);")
conn.execute("INSERT INTO ms_produk VALUES(4, 'prod-04', 'Flashdisk DQLab 32 GB', 40000);")
conn.execute("INSERT INTO ms_produk VALUES(5, 'prod-05', 'Gift Voucher DQLab 250rb', 250000);")
conn.execute("INSERT INTO ms_produk VALUES(6, 'prod-06', 'Pulpen Multifunction + Laser DQLab', 92500);")
conn.execute("INSERT INTO ms_produk VALUES(7, 'prod-07', 'Tas Travel Organizer DQLab', 48000);")
conn.execute("INSERT INTO ms_produk VALUES(8, 'prod-08', 'Gantungan Kunci DQLab', 15800);")
conn.execute("INSERT INTO ms_produk VALUES(9, 'prod-09', 'Buku Planner Agenda DQLab', 92000);")
conn.execute("INSERT INTO ms_produk VALUES(10, 'prod-10', 'Sticky Notes DQLab 500 sheets', 55000);")

conn.commit()

In [3]:
conn.execute('''
CREATE TABLE IF NOT EXISTS ms_pelanggan(no_urut, 
                      kode_pelanggan, 
                      nama_customer,
                      alamat);
             ''')

conn.commit()

print("Table created successfully");

#conn.close()

Table created successfully

In [4]:
# Memasukkan Nilai

conn.execute("INSERT INTO ms_pelanggan VALUES(1, 'al-cust01', 'Eva Novianti, S.H.', 'Vila Sempilan, No. 67 - Kota B');")
conn.execute("INSERT INTO ms_pelanggan VALUES(2, 'al-cust02', 'Heidi Goh', 'Vila Sempilan, No. 11 - Kota B');")
conn.execute("INSERT INTO ms_pelanggan VALUES(3, 'al-cust03', 'Unang Handoko', 'Vila Sempilan, No. 1 - Kota B');")
conn.execute("INSERT INTO ms_pelanggan VALUES(4, 'al-cust04', 'Jokolono Sukarman', 'Vila Permata Intan Berkilau, Blok C5-7');")
conn.execute("INSERT INTO ms_pelanggan VALUES(5, 'al-cust05', 'Tommy Sinaga', 'Vila Permata Intan Berkilau, Blok A1/2');")
conn.execute("INSERT INTO ms_pelanggan VALUES(6, 'al-cust06', 'Irwan Setianto', 'Vila Gunung Seribu, Blok O1 - No. 1');")
conn.execute("INSERT INTO ms_pelanggan VALUES(7, 'al-cust07', 'Agus Cahyono', 'Vila Gunung Seribu, Blok F4 - No. 8');")
conn.execute("INSERT INTO ms_pelanggan VALUES(8, 'al-cust08', 'Maria Sirait', 'Vila Bukit Sagitarius, Gang. Sawit No. 3');")
conn.execute("INSERT INTO ms_pelanggan VALUES(9, 'al-cust09', 'Ir. Ita Nugraha', 'Vila Bukit Sagitarius, Gang Kelapa No. 6');")
conn.execute("INSERT INTO ms_pelanggan VALUES(10, 'al-cust10', 'Djoko Wardoyo, Drs.', 'Vila Bukit Sagitarius, Blok A1 No. 1');")
conn.execute("INSERT INTO ms_pelanggan VALUES(11, 'al-cust11', 'Unang Handoko', 'Vila Sempilan, No. 1 - Kota B');")
conn.execute("INSERT INTO ms_pelanggan VALUES(12, 'al-cust12', 'Tommy Sinaga', 'Vila Permata Intan Berkilau, Blok A1/2');")

conn.commit()

## Penggunaan Perintah SELECT… FROM…

#### [Mengambil Seluruh Kolom dalam suatu Tabel](https://academy.dqlab.id/main/livecode/213/385/1898?pr=0)

In [5]:
# Melihat Tabel

conn = sqlite3.connect('AL-Lab.db')

cursor = conn.execute('''
                      SELECT * FROM ms_produk;
                      ''')

for row in cursor:
  print(row)
#conn.close()

(1, 'prod-01', 'Kotak Pensil DQLab', 62500)
(2, 'prod-02', 'Flashdisk DQLab 64 GB', 55000)
(3, 'prod-03', 'Gift Voucher DQLab 100rb', 100000)
(4, 'prod-04', 'Flashdisk DQLab 32 GB', 40000)
(5, 'prod-05', 'Gift Voucher DQLab 250rb', 250000)
(6, 'prod-06', 'Pulpen Multifunction + Laser DQLab', 92500)
(7, 'prod-07', 'Tas Travel Organizer DQLab', 48000)
(8, 'prod-08', 'Gantungan Kunci DQLab', 15800)
(9, 'prod-09', 'Buku Planner Agenda DQLab', 92000)
(10, 'prod-10', 'Sticky Notes DQLab 500 sheets', 55000)

#### [Mengambil Satu Kolom dari Tabel](https://academy.dqlab.id/main/livecode/213/385/1899?pr=0)

In [6]:
# Melihat kolom nama_produk

conn = sqlite3.connect('AL-Lab.db')

cursor = conn.execute('''
                      SELECT nama_produk FROM ms_produk;
                      ''')

for row in cursor:
  print(row)
#conn.close()

('Kotak Pensil DQLab',)
('Flashdisk DQLab 64 GB',)
('Gift Voucher DQLab 100rb',)
('Flashdisk DQLab 32 GB',)
('Gift Voucher DQLab 250rb',)
('Pulpen Multifunction + Laser DQLab',)
('Tas Travel Organizer DQLab',)
('Gantungan Kunci DQLab',)
('Buku Planner Agenda DQLab',)
('Sticky Notes DQLab 500 sheets',)

#### [Mengambil Lebih dari Satu Kolom dari Tabel](https://academy.dqlab.id/main/livecode/213/385/1901?pr=0)

In [7]:
# Melihat kolom nama_produk dan harga

conn = sqlite3.connect('AL-Lab.db')

cursor = conn.execute('''
                      SELECT nama_produk, harga FROM ms_produk;
                      ''')

for row in cursor:
  print(row)
#conn.close()

('Kotak Pensil DQLab', 62500)
('Flashdisk DQLab 64 GB', 55000)
('Gift Voucher DQLab 100rb', 100000)
('Flashdisk DQLab 32 GB', 40000)
('Gift Voucher DQLab 250rb', 250000)
('Pulpen Multifunction + Laser DQLab', 92500)
('Tas Travel Organizer DQLab', 48000)
('Gantungan Kunci DQLab', 15800)
('Buku Planner Agenda DQLab', 92000)
('Sticky Notes DQLab 500 sheets', 55000)

#### [Membatasi Pengambilan Jumlah Row Data](https://academy.dqlab.id/main/livecode/213/385/1903?pr=0)

In [8]:
# Melihat 3 baris data kolom nama_produk

conn = sqlite3.connect('AL-Lab.db')

cursor = conn.execute('''
                      SELECT nama_produk, harga FROM ms_produk LIMIT 5;
                      ''')

for row in cursor:
  print(row)
#conn.close()

('Kotak Pensil DQLab', 62500)
('Flashdisk DQLab 64 GB', 55000)
('Gift Voucher DQLab 100rb', 100000)
('Flashdisk DQLab 32 GB', 40000)
('Gift Voucher DQLab 250rb', 250000)

#### [Penggunaan SELECT DISTINCT statement](https://academy.dqlab.id/main/livecode/213/385/1988?pr=0)

In [11]:
# Melihat kolom nama_customer, lamat tanpa duplikasi

conn = sqlite3.connect('AL-Lab.db')

cursor = conn.execute('''
                      SELECT DISTINCT nama_customer, alamat FROM ms_pelanggan;
                      ''')

for row in cursor:
  print(row)
#conn.close()

('Eva Novianti, S.H.', 'Vila Sempilan, No. 67 - Kota B')
('Heidi Goh', 'Vila Sempilan, No. 11 - Kota B')
('Unang Handoko', 'Vila Sempilan, No. 1 - Kota B')
('Jokolono Sukarman', 'Vila Permata Intan Berkilau, Blok C5-7')
('Tommy Sinaga', 'Vila Permata Intan Berkilau, Blok A1/2')
('Irwan Setianto', 'Vila Gunung Seribu, Blok O1 - No. 1')
('Agus Cahyono', 'Vila Gunung Seribu, Blok F4 - No. 8')
('Maria Sirait', 'Vila Bukit Sagitarius, Gang. Sawit No. 3')
('Ir. Ita Nugraha', 'Vila Bukit Sagitarius, Gang Kelapa No. 6')
('Djoko Wardoyo, Drs.', 'Vila Bukit Sagitarius, Blok A1 No. 1')

## Prefix dan Alias

#### [Menggunakan Prefix pada Nama Kolom](https://academy.dqlab.id/main/livecode/213/386/1907?pr=0)

In [12]:
# Melihat kolom kode_produk menggunakan prefix nama tabel

conn = sqlite3.connect('AL-Lab.db')

cursor = conn.execute('''
                      SELECT ms_produk.kode_produk FROM ms_produk;
                      ''')

for row in cursor:
  print(row)
#conn.close()

('prod-01',)
('prod-02',)
('prod-03',)
('prod-04',)
('prod-05',)
('prod-06',)
('prod-07',)
('prod-08',)
('prod-09',)
('prod-10',)

#### [Menggunakan Alias pada Kolom](https://academy.dqlab.id/main/livecode/213/386/1909?pr=0)

In [13]:
# Menerapkan alias pada kolom no_urut dan nama_produk

conn = sqlite3.connect('AL-Lab.db')

cursor = conn.execute('''
                      SELECT no_urut AS nomor, nama_produk AS nama FROM ms_produk;
                      ''')

for row in cursor:
  print(row)
#conn.close()

(1, 'Kotak Pensil DQLab')
(2, 'Flashdisk DQLab 64 GB')
(3, 'Gift Voucher DQLab 100rb')
(4, 'Flashdisk DQLab 32 GB')
(5, 'Gift Voucher DQLab 250rb')
(6, 'Pulpen Multifunction + Laser DQLab')
(7, 'Tas Travel Organizer DQLab')
(8, 'Gantungan Kunci DQLab')
(9, 'Buku Planner Agenda DQLab')
(10, 'Sticky Notes DQLab 500 sheets')

#### [Menghilangkan Keyword 'AS'](https://academy.dqlab.id/main/livecode/213/386/1911?pr=0)

In [14]:
# Menerapkan alias pada kolom no_urut dan nama_produk tanpa keyword AS

conn = sqlite3.connect('AL-Lab.db')

cursor = conn.execute('''
                      SELECT no_urut nomor, nama_produk nama FROM ms_produk;
                      ''')

for row in cursor:
  print(row)
#conn.close()

(1, 'Kotak Pensil DQLab')
(2, 'Flashdisk DQLab 64 GB')
(3, 'Gift Voucher DQLab 100rb')
(4, 'Flashdisk DQLab 32 GB')
(5, 'Gift Voucher DQLab 250rb')
(6, 'Pulpen Multifunction + Laser DQLab')
(7, 'Tas Travel Organizer DQLab')
(8, 'Gantungan Kunci DQLab')
(9, 'Buku Planner Agenda DQLab')
(10, 'Sticky Notes DQLab 500 sheets')

#### [Menggabungkan Prefix dan Alias](https://academy.dqlab.id/main/livecode/213/386/1913?pr=0)

In [15]:
# Menerapkan prefix dan alias pada kolom harga

conn = sqlite3.connect('AL-Lab.db')

cursor = conn.execute('''
                      SELECT ms_produk.harga AS harga_jual from ms_produk;
                      ''')

for row in cursor:
  print(row)
#conn.close()

(62500,)
(55000,)
(100000,)
(40000,)
(250000,)
(92500,)
(48000,)
(15800,)
(92000,)
(55000,)

#### [Menggunakan Alias pada Tabel](https://academy.dqlab.id/main/livecode/213/386/1914?pr=0)

In [16]:
# Menerapkan alias pada tabel tanpa keyword AS

conn = sqlite3.connect('AL-Lab.db')

cursor = conn.execute('''
                      SELECT * FROM ms_produk t2;
                      ''')

for row in cursor:
  print(row)
#conn.close()

(1, 'prod-01', 'Kotak Pensil DQLab', 62500)
(2, 'prod-02', 'Flashdisk DQLab 64 GB', 55000)
(3, 'prod-03', 'Gift Voucher DQLab 100rb', 100000)
(4, 'prod-04', 'Flashdisk DQLab 32 GB', 40000)
(5, 'prod-05', 'Gift Voucher DQLab 250rb', 250000)
(6, 'prod-06', 'Pulpen Multifunction + Laser DQLab', 92500)
(7, 'prod-07', 'Tas Travel Organizer DQLab', 48000)
(8, 'prod-08', 'Gantungan Kunci DQLab', 15800)
(9, 'prod-09', 'Buku Planner Agenda DQLab', 92000)
(10, 'prod-10', 'Sticky Notes DQLab 500 sheets', 55000)

#### [Prefix dengan Alias Tabel](https://academy.dqlab.id/main/livecode/213/386/1915?pr=0)

In [17]:
# Menerapkan alias pada tabel tanpa keyword AS, prefix pada kolom nama_produk dan harga

conn = sqlite3.connect('AL-Lab.db')

cursor = conn.execute('''
                      SELECT t2.nama_produk, t2.harga FROM ms_produk t2;
                      ''')

for row in cursor:
  print(row)
#conn.close()

('Kotak Pensil DQLab', 62500)
('Flashdisk DQLab 64 GB', 55000)
('Gift Voucher DQLab 100rb', 100000)
('Flashdisk DQLab 32 GB', 40000)
('Gift Voucher DQLab 250rb', 250000)
('Pulpen Multifunction + Laser DQLab', 92500)
('Tas Travel Organizer DQLab', 48000)
('Gantungan Kunci DQLab', 15800)
('Buku Planner Agenda DQLab', 92000)
('Sticky Notes DQLab 500 sheets', 55000)

## Menggunakan Filter

#### [Menggunakan WHERE](https://academy.dqlab.id/main/livecode/213/387/1919?pr=0)

In [18]:
# Mengeluarkan data nama_produk bernilai "Tas Travel Organizer DQLab"

conn = sqlite3.connect('AL-Lab.db')

cursor = conn.execute('''
                      SELECT * FROM ms_produk WHERE nama_produk = 'Tas Travel Organizer DQLab';
                      ''')

for row in cursor:
  print(row)
#conn.close()

(7, 'prod-07', 'Tas Travel Organizer DQLab', 48000)

#### [Menggunakan Operand OR](https://academy.dqlab.id/main/livecode/213/387/1920?pr=0)

In [19]:
# Mengeluarkan beberapa data nama_produk dengan kriteria tertentu

conn = sqlite3.connect('AL-Lab.db')

cursor = conn.execute('''
                      SELECT * FROM ms_produk
                      WHERE nama_produk = 'Gantungan Kunci DQLab'
                      OR nama_produk = 'Tas Travel Organizer DQLab'
                      OR nama_produk = 'Flashdisk DQLab 64 GB';
                      ''')

for row in cursor:
  print(row)
#conn.close()

(2, 'prod-02', 'Flashdisk DQLab 64 GB', 55000)
(7, 'prod-07', 'Tas Travel Organizer DQLab', 48000)
(8, 'prod-08', 'Gantungan Kunci DQLab', 15800)

#### [Filter untuk Angka](https://academy.dqlab.id/main/livecode/213/387/1921?pr=0)

In [20]:
# Mengeluarkan data dengan harga lebih dari 50.000

conn = sqlite3.connect('AL-Lab.db')

cursor = conn.execute('''
                      SELECT * FROM ms_produk WHERE harga > 50000;
                      ''')

for row in cursor:
  print(row)
#conn.close()

(1, 'prod-01', 'Kotak Pensil DQLab', 62500)
(2, 'prod-02', 'Flashdisk DQLab 64 GB', 55000)
(3, 'prod-03', 'Gift Voucher DQLab 100rb', 100000)
(5, 'prod-05', 'Gift Voucher DQLab 250rb', 250000)
(6, 'prod-06', 'Pulpen Multifunction + Laser DQLab', 92500)
(9, 'prod-09', 'Buku Planner Agenda DQLab', 92000)
(10, 'prod-10', 'Sticky Notes DQLab 500 sheets', 55000)

#### [Menggunakan Operand AND](https://academy.dqlab.id/main/livecode/213/387/1924?pr=0)

In [21]:
# Mengeluarkan data dengan nama produk dan harga tertentu

conn = sqlite3.connect('AL-Lab.db')

cursor = conn.execute('''
                      SELECT * FROM ms_produk
                      WHERE nama_produk = 'Gantungan Kunci DQLab'
                      AND harga < 50000;
                      ''')

for row in cursor:
  print(row)
#conn.close()

(8, 'prod-08', 'Gantungan Kunci DQLab', 15800)

## Mini Project

#### [Proyek dari Cabang A](https://academy.dqlab.id/main/livecode/213/388/1929?pr=0)

In [23]:
conn.execute('''
CREATE TABLE IF NOT EXISTS tr_penjualan(
                      kode_transaksi, 
                      kode_pelanggan, 
                      no_urut,
                      kode_produk,
                      nama_produk,
                      qty,
                      harga);
             ''')

conn.commit()

print("Table created successfully");

#conn.close()

Table created successfully

In [25]:
# Memasukkan Nilai

conn.execute("INSERT INTO tr_penjualan VALUES('tr-001', 'al-cust07', 1, 'prod-01', 'Kotak Pensil', 5, 62500);")
conn.execute("INSERT INTO tr_penjualan VALUES('tr-001', 'al-cust07', 2, 'prod-03', 'Flashdrive 32 GB', 1, 100000);")
conn.execute("INSERT INTO tr_penjualan VALUES('tr-001', 'al-cust07', 3, 'prod-09', 'Buku Planner Agenda', 3, 92000);")
conn.execute("INSERT INTO tr_penjualan VALUES('tr-001', 'al-cust07', 4, 'prod-04', 'Flashdrive 32 GB', 3, 40000);")
conn.execute("INSERT INTO tr_penjualan VALUES('tr-002', 'al-cust01', 1, 'prod-03', 'Gift Voucher 100rb', 2, 100000);")
conn.execute("INSERT INTO tr_penjualan VALUES('tr-002', 'al-cust01', 2, 'prod-10', 'Sticky Notes 500 sheets', 4, 55000);")
conn.execute("INSERT INTO tr_penjualan VALUES('tr-002', 'al-cust01', 3, 'prod-07', 'Tas Travel Organizer', 1, 48000);")
conn.execute("INSERT INTO tr_penjualan VALUES('tr-003', 'al-cust03', 1, 'prod-02', 'Flashdrive 64 GB', 2, 55000);")
conn.execute("INSERT INTO tr_penjualan VALUES('tr-004', 'al-cust03', 1, 'prod-10', 'Sticky Notes 500 sheets', 5, 55000);")
conn.execute("INSERT INTO tr_penjualan VALUES('tr-004', 'al-cust03', 2, 'prod-04', 'Flashdrive 32 GB', 4, 40000);")
conn.execute("INSERT INTO tr_penjualan VALUES('tr-005', 'al-cust05', 1, 'prod-09', 'Buku Planner Agenda', 3, 92000);")
conn.execute("INSERT INTO tr_penjualan VALUES('tr-005', 'al-cust05', 2, 'prod-01', 'Kotak Pensil', 1, 62500);")
conn.execute("INSERT INTO tr_penjualan VALUES('tr-005', 'al-cust05', 3, 'prod-04', 'Flashdrive 32 GB', 2, 40000);")
conn.execute("INSERT INTO tr_penjualan VALUES('tr-006', 'al-cust02', 1, 'prod-05', 'Gift Voucher 250rb', 4, 250000);")
conn.execute("INSERT INTO tr_penjualan VALUES('tr-006', 'al-cust02', 2, 'prod-08', 'Gantungan Kunci', 2, 15800);")

conn.commit()

In [26]:
# Mengeluarkan data dengan nama produk dan harga tertentu

conn = sqlite3.connect('AL-Lab.db')

cursor = conn.execute('''
                      SELECT kode_pelanggan, nama_produk, qty, harga, qty * harga AS total
                      FROM tr_penjualan
                      WHERE qty*harga >=100000
                      ORDER BY total DESC;
                      ''')

for row in cursor:
  print(row)
#conn.close()

('al-cust02', 'Gift Voucher 250rb', 4, 250000, 1000000)
('al-cust07', 'Kotak Pensil', 5, 62500, 312500)
('al-cust07', 'Buku Planner Agenda', 3, 92000, 276000)
('al-cust05', 'Buku Planner Agenda', 3, 92000, 276000)
('al-cust03', 'Sticky Notes 500 sheets', 5, 55000, 275000)
('al-cust01', 'Sticky Notes 500 sheets', 4, 55000, 220000)
('al-cust01', 'Gift Voucher 100rb', 2, 100000, 200000)
('al-cust03', 'Flashdrive 32 GB', 4, 40000, 160000)
('al-cust07', 'Flashdrive 32 GB', 3, 40000, 120000)
('al-cust03', 'Flashdrive 64 GB', 2, 55000, 110000)
('al-cust07', 'Flashdrive 32 GB', 1, 100000, 100000)