## SQL dan Perintah SELECT

In [1]:
# Membuat Tabel

import sqlite3

conn = sqlite3.connect('produk.db')
print("Opened database successfully");

conn.execute('''
CREATE TABLE IF NOT EXISTS ms_produk(no_urut, 
                      kode_produk, 
                      nama_produk,
                      harga);
             ''')

conn.commit()

print("Table created successfully");

#conn.close()

Opened database successfully
Table created successfully

In [2]:
# Memasukkan Nilai

conn.execute("INSERT INTO ms_produk VALUES(1, 'prod-01', 'Kotak Pensil DQLab', 62500);")
conn.execute("INSERT INTO ms_produk VALUES(2, 'prod-02', 'Flashdisk DQLab 64 GB', 55000);")
conn.execute("INSERT INTO ms_produk VALUES(3, 'prod-03', 'Gift Voucher DQLab 100rb', 100000);")
conn.execute("INSERT INTO ms_produk VALUES(4, 'prod-04', 'Flashdisk DQLab 32 GB', 40000);")
conn.execute("INSERT INTO ms_produk VALUES(5, 'prod-05', 'Gift Voucher DQLab 250rb', 250000);")
conn.execute("INSERT INTO ms_produk VALUES(6, 'prod-06', 'Pulpen Multifunction + Laser DQLab', 92500);")
conn.execute("INSERT INTO ms_produk VALUES(7, 'prod-07', 'Tas Travel Organizer DQLab', 48000);")
conn.execute("INSERT INTO ms_produk VALUES(8, 'prod-08', 'Gantungan Kunci DQLab', 15800);")
conn.execute("INSERT INTO ms_produk VALUES(9, 'prod-09', 'Buku Planner Agenda DQLab', 92000);")
conn.execute("INSERT INTO ms_produk VALUES(10, 'prod-10', 'Sticky Notes DQLab 500 sheets', 55000);")

conn.commit()

#### [Perintah SELECT](https://academy.dqlab.id/main/livecode/91/213/1086?pr=0)

In [4]:
# Melihat Tabel

conn = sqlite3.connect('produk.db')

cursor = conn.execute('''
                      SELECT * FROM ms_produk;
                      ''')

for row in cursor:
  print(row)
#conn.close()

(1, 'prod-01', 'Kotak Pensil DQLab', 62500)
(2, 'prod-02', 'Flashdisk DQLab 64 GB', 55000)
(3, 'prod-03', 'Gift Voucher DQLab 100rb', 100000)
(4, 'prod-04', 'Flashdisk DQLab 32 GB', 40000)
(5, 'prod-05', 'Gift Voucher DQLab 250rb', 250000)
(6, 'prod-06', 'Pulpen Multifunction + Laser DQLab', 92500)
(7, 'prod-07', 'Tas Travel Organizer DQLab', 48000)
(8, 'prod-08', 'Gantungan Kunci DQLab', 15800)
(9, 'prod-09', 'Buku Planner Agenda DQLab', 92000)
(10, 'prod-10', 'Sticky Notes DQLab 500 sheets', 55000)

## Menentukan Kolom dan Jumlah Baris yang Ditampilkan

#### [Mengambil Satu Kolom dari Table](https://academy.dqlab.id/main/livecode/91/214/1093?pr=0)

In [5]:
# Melihat kolom nama_produk

conn = sqlite3.connect('produk.db')

cursor = conn.execute('''
                      SELECT nama_produk FROM ms_produk;
                      ''')

for row in cursor:
  print(row)
#conn.close()

('Kotak Pensil DQLab',)
('Flashdisk DQLab 64 GB',)
('Gift Voucher DQLab 100rb',)
('Flashdisk DQLab 32 GB',)
('Gift Voucher DQLab 250rb',)
('Pulpen Multifunction + Laser DQLab',)
('Tas Travel Organizer DQLab',)
('Gantungan Kunci DQLab',)
('Buku Planner Agenda DQLab',)
('Sticky Notes DQLab 500 sheets',)

#### [Mengambil Lebih dari Satu Kolom](https://academy.dqlab.id/main/livecode/91/214/1095?pr=0)

In [6]:
# Melihat kolom nama_produk dan harga

conn = sqlite3.connect('produk.db')

cursor = conn.execute('''
                      SELECT nama_produk, harga FROM ms_produk;
                      ''')

for row in cursor:
  print(row)
#conn.close()

('Kotak Pensil DQLab', 62500)
('Flashdisk DQLab 64 GB', 55000)
('Gift Voucher DQLab 100rb', 100000)
('Flashdisk DQLab 32 GB', 40000)
('Gift Voucher DQLab 250rb', 250000)
('Pulpen Multifunction + Laser DQLab', 92500)
('Tas Travel Organizer DQLab', 48000)
('Gantungan Kunci DQLab', 15800)
('Buku Planner Agenda DQLab', 92000)
('Sticky Notes DQLab 500 sheets', 55000)

#### [Membatasi Pengambilan Jumlah Row Data](https://academy.dqlab.id/main/livecode/91/214/1097?pr=0)

In [7]:
# Melihat 3 baris data kolom nama_produk

conn = sqlite3.connect('produk.db')

cursor = conn.execute('''
                      SELECT nama_produk FROM ms_produk LIMIT 3;
                      ''')

for row in cursor:
  print(row)
#conn.close()

('Kotak Pensil DQLab',)
('Flashdisk DQLab 64 GB',)
('Gift Voucher DQLab 100rb',)

## Prefix dan Alias

#### [Menggunakan Prefix pada Nama Kolom](https://academy.dqlab.id/main/livecode/91/215/1100?pr=0)

In [8]:
# Melihat kolom kode_produk menggunakan prefix nama tabel

conn = sqlite3.connect('produk.db')

cursor = conn.execute('''
                      SELECT ms_produk.kode_produk FROM ms_produk;
                      ''')

for row in cursor:
  print(row)
#conn.close()

('prod-01',)
('prod-02',)
('prod-03',)
('prod-04',)
('prod-05',)
('prod-06',)
('prod-07',)
('prod-08',)
('prod-09',)
('prod-10',)

#### [Menggunakan Alias pada Kolom](https://academy.dqlab.id/main/livecode/91/215/1102?pr=0)

In [9]:
# Menerapkan alias pada kolom no_urut dan nama_produk

conn = sqlite3.connect('produk.db')

cursor = conn.execute('''
                      SELECT no_urut AS nomor, nama_produk AS nama FROM ms_produk;
                      ''')

for row in cursor:
  print(row)
#conn.close()

(1, 'Kotak Pensil DQLab')
(2, 'Flashdisk DQLab 64 GB')
(3, 'Gift Voucher DQLab 100rb')
(4, 'Flashdisk DQLab 32 GB')
(5, 'Gift Voucher DQLab 250rb')
(6, 'Pulpen Multifunction + Laser DQLab')
(7, 'Tas Travel Organizer DQLab')
(8, 'Gantungan Kunci DQLab')
(9, 'Buku Planner Agenda DQLab')
(10, 'Sticky Notes DQLab 500 sheets')

#### [Menghilangkan Keyword 'AS'](https://academy.dqlab.id/main/livecode/91/215/1104?pr=0)

In [10]:
# Menerapkan alias pada kolom no_urut dan nama_produk tanpa keyword AS

conn = sqlite3.connect('produk.db')

cursor = conn.execute('''
                      SELECT no_urut nomor, nama_produk nama FROM ms_produk;
                      ''')

for row in cursor:
  print(row)
#conn.close()

(1, 'Kotak Pensil DQLab')
(2, 'Flashdisk DQLab 64 GB')
(3, 'Gift Voucher DQLab 100rb')
(4, 'Flashdisk DQLab 32 GB')
(5, 'Gift Voucher DQLab 250rb')
(6, 'Pulpen Multifunction + Laser DQLab')
(7, 'Tas Travel Organizer DQLab')
(8, 'Gantungan Kunci DQLab')
(9, 'Buku Planner Agenda DQLab')
(10, 'Sticky Notes DQLab 500 sheets')

#### [Menggabungkan Prefix dan Alias](https://academy.dqlab.id/main/livecode/91/215/1106?pr=0)

In [11]:
# Menerapkan prefix dan alias pada kolom harga

conn = sqlite3.connect('produk.db')

cursor = conn.execute('''
                      SELECT ms_produk.harga AS harga_jual from ms_produk;
                      ''')

for row in cursor:
  print(row)
#conn.close()

(62500,)
(55000,)
(100000,)
(40000,)
(250000,)
(92500,)
(48000,)
(15800,)
(92000,)
(55000,)

#### [Menggunakan Alias pada Table](https://academy.dqlab.id/main/livecode/91/215/1107?pr=0)

In [12]:
# Menerapkan alias pada tabel tanpa keyword AS

conn = sqlite3.connect('produk.db')

cursor = conn.execute('''
                      SELECT * FROM ms_produk t2;
                      ''')

for row in cursor:
  print(row)
#conn.close()

(1, 'prod-01', 'Kotak Pensil DQLab', 62500)
(2, 'prod-02', 'Flashdisk DQLab 64 GB', 55000)
(3, 'prod-03', 'Gift Voucher DQLab 100rb', 100000)
(4, 'prod-04', 'Flashdisk DQLab 32 GB', 40000)
(5, 'prod-05', 'Gift Voucher DQLab 250rb', 250000)
(6, 'prod-06', 'Pulpen Multifunction + Laser DQLab', 92500)
(7, 'prod-07', 'Tas Travel Organizer DQLab', 48000)
(8, 'prod-08', 'Gantungan Kunci DQLab', 15800)
(9, 'prod-09', 'Buku Planner Agenda DQLab', 92000)
(10, 'prod-10', 'Sticky Notes DQLab 500 sheets', 55000)

### [Prefix dengan Alias Table](https://academy.dqlab.id/main/livecode/91/215/1108?pr=0)

In [13]:
# Menerapkan alias pada tabel tanpa keyword AS, prefix pada kolom nama_produk dan harga

conn = sqlite3.connect('produk.db')

cursor = conn.execute('''
                      SELECT t2.nama_produk, t2.harga FROM ms_produk t2;
                      ''')

for row in cursor:
  print(row)
#conn.close()

('Kotak Pensil DQLab', 62500)
('Flashdisk DQLab 64 GB', 55000)
('Gift Voucher DQLab 100rb', 100000)
('Flashdisk DQLab 32 GB', 40000)
('Gift Voucher DQLab 250rb', 250000)
('Pulpen Multifunction + Laser DQLab', 92500)
('Tas Travel Organizer DQLab', 48000)
('Gantungan Kunci DQLab', 15800)
('Buku Planner Agenda DQLab', 92000)
('Sticky Notes DQLab 500 sheets', 55000)

## Menggunakan Filter

#### [Menggunakan WHERE](https://academy.dqlab.id/main/livecode/91/216/1111?pr=0)

In [14]:
# Mengeluarkan data nama_produk bernilai "Tas Travel Organizer DQLab"

conn = sqlite3.connect('produk.db')

cursor = conn.execute('''
                      SELECT * FROM ms_produk WHERE nama_produk = 'Tas Travel Organizer DQLab';
                      ''')

for row in cursor:
  print(row)
#conn.close()

(7, 'prod-07', 'Tas Travel Organizer DQLab', 48000)

#### [Menggunakan Operand OR](https://academy.dqlab.id/main/livecode/91/216/1112?pr=0)

In [15]:
# Mengeluarkan beberapa data nama_produk dengan kriteria tertentu

conn = sqlite3.connect('produk.db')

cursor = conn.execute('''
                      SELECT * FROM ms_produk
                      WHERE nama_produk = 'Gantungan Kunci DQLab'
                      OR nama_produk = 'Tas Travel Organizer DQLab'
                      OR nama_produk = 'Flashdisk DQLab 64 GB';
                      ''')

for row in cursor:
  print(row)
#conn.close()

(2, 'prod-02', 'Flashdisk DQLab 64 GB', 55000)
(7, 'prod-07', 'Tas Travel Organizer DQLab', 48000)
(8, 'prod-08', 'Gantungan Kunci DQLab', 15800)

#### [Filter untuk Angka](https://academy.dqlab.id/main/livecode/91/216/1113?pr=0)

In [16]:
# Mengeluarkan data dengan harga lebih dari 50.000

conn = sqlite3.connect('produk.db')

cursor = conn.execute('''
                      SELECT * FROM ms_produk WHERE harga > 50000;
                      ''')

for row in cursor:
  print(row)
#conn.close()

(1, 'prod-01', 'Kotak Pensil DQLab', 62500)
(2, 'prod-02', 'Flashdisk DQLab 64 GB', 55000)
(3, 'prod-03', 'Gift Voucher DQLab 100rb', 100000)
(5, 'prod-05', 'Gift Voucher DQLab 250rb', 250000)
(6, 'prod-06', 'Pulpen Multifunction + Laser DQLab', 92500)
(9, 'prod-09', 'Buku Planner Agenda DQLab', 92000)
(10, 'prod-10', 'Sticky Notes DQLab 500 sheets', 55000)

#### [Menggunakan Operand AND](https://academy.dqlab.id/main/livecode/91/216/1114?pr=0)

In [17]:
# Mengeluarkan data dengan nama produk dan harga tertentu

conn = sqlite3.connect('produk.db')

cursor = conn.execute('''
                      SELECT * FROM ms_produk
                      WHERE nama_produk = 'Gantungan Kunci DQLab'
                      AND harga < 50000;
                      ''')

for row in cursor:
  print(row)
#conn.close()

(8, 'prod-08', 'Gantungan Kunci DQLab', 15800)