In [2]:
# singkronisasi ke g-drive

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Transform Data

#### [Extract](https://academy.dqlab.id/main/projectcode/300/590/2945?pr=0)

In [7]:
import pandas as pd

df_participant = pd.read_csv('/content/drive/MyDrive/AL. Lab/Sanca/Datasets/dqthon-participants.csv')

In [10]:
df_participant.head(9)

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,05 Feb 1991,"Gg. Monginsidi No. 08\nMedan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,11 Jan 1993,"Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,31 Jul 1993,"Jalan Kebonjati No. 0\nAmbon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,04 Nov 1991,"Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,22 Jan 2003,"Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09
5,f1e8749d-6dec-4ede-be25-efb31ce80f99,Bahuraksa,Mangunsong,13 Nov 1997,"Jl. Pacuan Kuda No. 58\nDenpasar, Aceh 00880",+62 (11) 369-7082,Zambia,CV Mardhiyah Haryanto,Business Analyst,1.617634e+09
6,707219fa-cb0b-467c-ad32-e99c61603020,Tiara,Maryati,10 Mar 1994,"Gg. Cihampelas No. 4\nSamarinda, KT 48108",(0244) 430 7220,Libya,UD Irawan Wahyuni,Product Analyst,1.617634e+09
7,bc4e9cc3-f49b-40a2-905c-3e9dcf3af958,Dimaz,Gunarto,16 Feb 2000,"Gg. Sukabumi No. 7\nParepare, Bali 64255",+62 (056) 931-9059,Republik Demokratik Kongo,Perum Purnawati,Data Scientist,1.617634e+09
8,7ca0a2e8-bab0-42a3-b6aa-ef4df35c7800,Zizi,Puspasari,11 Apr 2002,"Gg. Peta No. 01\nMedan, BE 89056",+62 (11) 826-1289,Gambia,Universitas Bhayangkara Surabaya,Data Analyst,1.617634e+09

#### [Transform Bagian I - Kode Pos](https://academy.dqlab.id/main/projectcode/300/590/2947?pr=0)

In [11]:
#Masukkan regex Anda didalam fungsi extract

df_participant['postal_code'] = df_participant['address'].str.extract(r'(\d+)$')

In [12]:
df_participant['postal_code'].head(9)

0    80734
1    09434
2    57739
3    76156
4    70074
5    00880
6    48108
7    64255
8    89056
Name: postal_code, dtype: object

#### [Transform Bagian II - Kota](https://academy.dqlab.id/main/projectcode/300/590/2948?pr=0)

In [13]:
#Masukkan regex Anda didalam fungsi extract

df_participant['city'] = df_participant['address'].str.extract(r'(?<=\n)(\w.+)(?=,)')

In [14]:
df_participant['city'].head(9)

0           Medan
1      Prabumulih
2           Ambon
3    Lubuklinggau
4          Kediri
5        Denpasar
6       Samarinda
7        Parepare
8           Medan
Name: city, dtype: object

#### [Transform Bagian III - Github](https://academy.dqlab.id/main/projectcode/300/590/2949?pr=0)

In [15]:
df_participant['github_profile'] = 'https://github.com/' + df_participant['first_name'].str.lower() + df_participant['last_name'].str.lower()

In [16]:
df_participant['github_profile'].head(9)

0        https://github.com/citranurdiyanti
1           https://github.com/arissetiawan
2      https://github.com/corneliahandayani
3            https://github.com/solehrajasa
4             https://github.com/viviastuti
5    https://github.com/bahuraksamangunsong
6           https://github.com/tiaramaryati
7           https://github.com/dimazgunarto
8          https://github.com/zizipuspasari
Name: github_profile, dtype: object

#### [Transform Bagian IV - Nomor Handphone](https://academy.dqlab.id/main/projectcode/300/590/2950?pr=0)

In [17]:
#Masukkan regex anda pada parameter pertama dari fungsi replace
df_participant['cleaned_phone_number'] = df_participant['phone_number'].str.replace(r'^(\+62|62)', '0')
df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'[()-]', '')
df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'\s+', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

In [18]:
df_participant['cleaned_phone_number'].head(9)

0    01510812706
1    00364617027
2     0898336695
3    04183294756
4     0812511835
5     0113697082
6    02444307220
7    00569319059
8     0118261289
Name: cleaned_phone_number, dtype: object

#### [Transform Bagian V - Nama Tim](https://academy.dqlab.id/main/projectcode/300/590/2951?pr=0)

In [20]:
def func(col):
    abbrev_name = "%s%s"%(col['first_name'][0],col['last_name'][0]) #Singkatan dari Nama Depan dan Nama Belakang dengan mengambil huruf pertama
    country = col['country']
    abbrev_institute = '%s'%(''.join(list(map(lambda word: word[0], col['institute'].split())))) #Singkatan dari value di kolom institute
    return "%s-%s-%s"%(abbrev_name,country,abbrev_institute)

df_participant['team_name'] = df_participant.apply(func, axis=1)

In [21]:
df_participant['team_name'].head(9)

0                     CN-Georgia-UPM
1                  AS-Korea Utara-UD
2                      CH-Komoro-UHP
3                     SR-Eritrea-PTY
4                    VA-Aljazair-PHR
5                      BM-Zambia-CMH
6                       TM-Libya-UIW
7    DG-Republik Demokratik Kongo-PP
8                      ZP-Gambia-UBS
Name: team_name, dtype: object

#### [Transform Bagian VI - Email](https://academy.dqlab.id/main/projectcode/300/590/2953?pr=0)

In [22]:
def func(col):
    first_name_lower = col['first_name'].lower()
    last_name_lower = col['last_name'].lower()
    institute = ''.join(list(map(lambda word: word[0], col['institute'].lower().split()))) #Singkatan dari nama perusahaan dalam lowercase

    if 'Universitas' in col['institute']:
        if len(col['country'].split()) > 1: #Kondisi untuk mengecek apakah jumlah kata dari country lebih dari 1
            country = ''.join(list(map(lambda word: word[0], col['country'].lower().split())))
        else:
            country = col['country'][:3].lower()
        return "%s%s@%s.ac.%s"%(first_name_lower,last_name_lower,institute,country)

    return "%s%s@%s.com"%(first_name_lower,last_name_lower,institute)

df_participant['email'] = df_participant.apply(func, axis=1)

In [23]:
df_participant['email'].head(9)

0        citranurdiyanti@upm.com
1          arissetiawan@ud.ac.ku
2      corneliahandayani@uhp.com
3            solehrajasa@pty.com
4             viviastuti@phr.com
5    bahuraksamangunsong@cmh.com
6           tiaramaryati@uiw.com
7            dimazgunarto@pp.com
8       zizipuspasari@ubs.ac.gam
Name: email, dtype: object

#### [Transform Bagian VII - Tanggal Lahir](https://academy.dqlab.id/main/projectcode/300/590/2954?pr=0)

In [24]:
df_participant['birth_date'] = pd.to_datetime(df_participant['birth_date'], format='%d %b %Y')

In [25]:
df_participant['birth_date'].head(9)

0   1991-02-05
1   1993-01-11
2   1993-07-31
3   1991-11-04
4   2003-01-22
5   1997-11-13
6   1994-03-10
7   2000-02-16
8   2002-04-11
Name: birth_date, dtype: datetime64[ns]

#### [Transform Bagian VII - Tanggal Daftar Kompetisi](https://academy.dqlab.id/main/projectcode/300/590/2955?pr=0)

In [26]:
df_participant['register_at'] = pd.to_datetime(df_participant['register_time'], unit='s')

In [27]:
df_participant['register_at'].head(9)

0   2021-04-05 14:47:26
1   2021-04-05 14:46:58
2   2021-04-05 14:47:15
3   2021-04-05 14:47:14
4   2021-04-05 14:46:50
5   2021-04-05 14:46:04
6   2021-04-05 14:46:22
7   2021-04-05 14:45:30
8   2021-04-05 14:45:50
Name: register_at, dtype: datetime64[ns]

In [28]:
df_participant.head(9)

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time,postal_code,city,github_profile,cleaned_phone_number,team_name,email,register_at
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,1991-02-05,"Gg. Monginsidi No. 08\nMedan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09,80734,Medan,https://github.com/citranurdiyanti,01510812706,CN-Georgia-UPM,citranurdiyanti@upm.com,2021-04-05 14:47:26
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,1993-01-11,"Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09,09434,Prabumulih,https://github.com/arissetiawan,00364617027,AS-Korea Utara-UD,arissetiawan@ud.ac.ku,2021-04-05 14:46:58
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,1993-07-31,"Jalan Kebonjati No. 0\nAmbon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09,57739,Ambon,https://github.com/corneliahandayani,0898336695,CH-Komoro-UHP,corneliahandayani@uhp.com,2021-04-05 14:47:15
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,1991-11-04,"Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09,76156,Lubuklinggau,https://github.com/solehrajasa,04183294756,SR-Eritrea-PTY,solehrajasa@pty.com,2021-04-05 14:47:14
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,2003-01-22,"Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09,70074,Kediri,https://github.com/viviastuti,0812511835,VA-Aljazair-PHR,viviastuti@phr.com,2021-04-05 14:46:50
5,f1e8749d-6dec-4ede-be25-efb31ce80f99,Bahuraksa,Mangunsong,1997-11-13,"Jl. Pacuan Kuda No. 58\nDenpasar, Aceh 00880",+62 (11) 369-7082,Zambia,CV Mardhiyah Haryanto,Business Analyst,1.617634e+09,00880,Denpasar,https://github.com/bahuraksamangunsong,0113697082,BM-Zambia-CMH,bahuraksamangunsong@cmh.com,2021-04-05 14:46:04
6,707219fa-cb0b-467c-ad32-e99c61603020,Tiara,Maryati,1994-03-10,"Gg. Cihampelas No. 4\nSamarinda, KT 48108",(0244) 430 7220,Libya,UD Irawan Wahyuni,Product Analyst,1.617634e+09,48108,Samarinda,https://github.com/tiaramaryati,02444307220,TM-Libya-UIW,tiaramaryati@uiw.com,2021-04-05 14:46:22
7,bc4e9cc3-f49b-40a2-905c-3e9dcf3af958,Dimaz,Gunarto,2000-02-16,"Gg. Sukabumi No. 7\nParepare, Bali 64255",+62 (056) 931-9059,Republik Demokratik Kongo,Perum Purnawati,Data Scientist,1.617634e+09,64255,Parepare,https://github.com/dimazgunarto,00569319059,DG-Republik Demokratik Kongo-PP,dimazgunarto@pp.com,2021-04-05 14:45:30
8,7ca0a2e8-bab0-42a3-b6aa-ef4df35c7800,Zizi,Puspasari,2002-04-11,"Gg. Peta No. 01\nMedan, BE 89056",+62 (11) 826-1289,Gambia,Universitas Bhayangkara Surabaya,Data Analyst,1.617634e+09,89056,Medan,https://github.com/zizipuspasari,0118261289,ZP-Gambia-UBS,zizipuspasari@ubs.ac.gam,2021-04-05 14:45:50