## 1. Dasar Python

#### [Python “Hello World” & Statement](https://academy.dqlab.id/main/livecode/162/306/1398?pr=0)

In [1]:
print("Hello World.")

print("Saya Aksara, baru belajar Python.")

Hello World.
Saya Aksara, baru belajar Python.

#### [Variables di Python](https://academy.dqlab.id/main/livecode/162/306/1399?pr=0)

In [2]:
bil1 = 10
Bil_2 = 20
Frasa = "Halo Dunia"
bil1, Bil_2 = 10, 20
salam = "Selamat Pagi"; Penutup = "Salam Sejahtera"

#### [Comments di Python](https://academy.dqlab.id/main/livecode/162/306/1401?pr=0)

In [3]:
# perintah pada baris ini tidak mempengaruhi program
'''
perintah ini tidak akan dieksekusi oleh Python
dan perintah ini juga tidak akan dieksekusi
perintah ini juga tidak akan dieksekusi
'''
print("jadi # digunakan untuk membuat comment pada Python")

jadi # digunakan untuk membuat comment pada Python

## 2. Lanjutan Dasar Python

#### [Tugas Praktek (Tipe Data)](https://academy.dqlab.id/main/livecode/162/307/1406?pr=0)

In [4]:
text = "Belajar Python di DQLab."
print(list(text))
print(tuple(text))
print(set(text))

['B', 'e', 'l', 'a', 'j', 'a', 'r', ' ', 'P', 'y', 't', 'h', 'o', 'n', ' ', 'd', 'i', ' ', 'D', 'Q', 'L', 'a', 'b', '.']
('B', 'e', 'l', 'a', 'j', 'a', 'r', ' ', 'P', 'y', 't', 'h', 'o', 'n', ' ', 'd', 'i', ' ', 'D', 'Q', 'L', 'a', 'b', '.')
{'d', 'a', 'B', 'n', '.', 'h', 'i', 'P', 't', 'L', 'D', 'j', 'l', 'o', 'y', ' ', 'b', 'r', 'e', 'Q'}

#### [Menggunakan Library di Python](https://academy.dqlab.id/main/livecode/162/307/1408?pr=0)

In [5]:
import math
import numpy as np
import pandas as pd
import seaborn as sns